<template>
  <div>
    <my-nav :title="`排行榜`" @tellbottom="loadmore">
      <p class="nav_type_list">
        <span
          :class="{ripple:true, date:true,active:type === 1}"
          @click="handleChooseRankType(1)"
        >暢銷榜</span>
        <span
          :class="{ripple:true, date:true,active:type === 2}"
          @click="handleChooseRankType(2)"
        >人氣榜</span>
        <span
          :class="{ripple:true, date:true,active:type === 3}"
          @click="handleChooseRankType(3)"
        >連載榜</span>
        <span
          :class="{ripple:true, date:true,active:type === 4}"
          @click="handleChooseRankType(4)"
        >完結榜</span>
        <i id="line" :style="{left:`${(type - 1) / 4 * 100}%`}"></i>
      </p>
    </my-nav>
        <div class="main">
      <router-link
        :to="{name:'detail',query:{book_id:item.id}}"
        class="item_1_bar item_1_bar_line"
        v-for="(item,index) in list"
        :key="index"
      >
        <div class="img_box">
          <img class="cover" :src="item.cover" />
          <p class="icon_only" v-if="item.is_alone === 1"></p>
          <!-- 连载 -->
          <p v-if="item.over_type == 1" class="status_serialization"></p>
          <!-- 完结 -->
          <p v-if="item.over_type == 2" class="status_end"></p>
        </div>
        <div class="right">
          <h2 class="title red_color_themes">{{ item.name }}</h2>
          <p class="content">{{ item.summary }}</p>
          <div class="info">
            <span>作者：{{ item.author }}</span>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
          </div>
        </div>
      </router-link>
    </div>
    <p class="loadText">{{loadText}}</p>
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import { loadmore } from "@/mixin/loadmore";
import { GetRankList } from "@/api";
export default {
  mixins: [loadmore],
  components: {
    MyNav
  },
  data() {
    return {
      type: 1,
      sendData: {
        cate_type: this.type,
        rank_type: this.type,
        page: 1,
        size: 10
      }
    };
  },
   created() {
    this._getList();
  },
  methods: {
    handleChooseRankType(type) {
      this.type = type;
    },
    // 获取书籍列表
    _getList() {
      GetRankList(this.sendData).then(res => {
        this.list = [...this.list, ...res];
        this._changeStatus(res);
      });
    }
  },
  watch: {
    type(val) {
      this.list = [];
      this.sendData.rank_type = val;
      this.sendData.page = 1;
      this._getList();
    },

  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/item_1_bar.scss";

.main {
  width: 10rem;
  overflow: hidden;
}

.loadText {
  width: 100%;
  height: 16px;
  background-color: white;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #999;
}
</style>