<template>
  <div>
    <my-nav :title="`自動訂閱`" :type="0"></my-nav>
    <div class="main">
      <div class="item_1_bar item_1_bar_line" v-for="(item) in list" :key="item.id">
        <div class="img_box">
          <img class="cover" :src="item.cover" />
          <!-- <p class="icon_only"></p> -->
          <!-- <span class="status_serialization status_icon_short"></span> -->
          <span class="icon_only" v-if="item.is_alone == '1'"></span>
          <!-- 连载 -->
          <p v-if="item.over_type == 1" class="status_serialization status_icon_short"></p>
          <!-- 完结 -->
          <p v-if="item.over_type == 2" class="status_end status_icon_short"></p>
        </div>
        <div class="right">
          <div class="check_title">
            <h2 class="title red_color_themes">{{ item.name }}</h2>
            <input type="checkbox" class="checke" id="checke" checked @change="handleCancel(item)" />
          </div>
          <p class="content">{{ item.summary }}</p>
          <div class="info">
            <span>作者：{{ item.author }}</span>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <p class="loadText">{{loadText}}</p> -->
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import { GetAutoList,SetAuto } from "@/api";
import { loadmore } from "@/mixin/loadmore";
import local from "storejs";
export default {
  components: {
    MyNav
  },
  mixins: [loadmore],
  data() {
    return {
      sendData: {
        // page: 1,
        token: local.get("token"),
        // size:10
      },
      list: [],
      isLoadMore:false
    };
  },
  created() {
    this._getList();
  },
  methods: {
    handleCancel(item){
        //取消订阅
         let sendData = {
            token:local.get('token'),
            book_id:item.id,
            type:2
        }
        SetAuto(sendData).then(res =>{
            this._getList()
        })
    },  
    _getList() {

      GetAutoList(this.sendData).then(res => {
        this.list = [...res];
        this._changeStatus(res);
      });
    }
  },

};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/item_1_bar.scss";

.main {
  width: 10rem;
  overflow: hidden;
}

.not_book {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 1.68rem;
    height: 1.68rem;
  }

  p {
    font-size: 0.3733rem;
    color: rgba(153, 153, 153, 1);
    line-height: 0.48rem;
    margin-top: 0.4rem;
  }
}
</style>