<template>
  <div style="padding-bottom:1.5rem;backgroundColor:white">
    <div class="header nav_white_shadow">
      <div class="nav">
        <div @click="$router.back(-1)" class="nav_icon ripple">
          <img src="../../assets/images/back_2.png" />
        </div>
        <p class="nav_title" style="color: #333;">分類</p>
        <router-link to="search" class="nav_icon ripple">
          <img src="../../assets/images/search_icon_2.png" />
        </router-link>
      </div>
    </div>

    <ul class="type_list" v-if="chooseList && chooseList.over_type">
      <li
        :class="{red_color_themes:true, chooseList_red_color_themes: !sendData.over_type}"
        @click="handleChooseClass('over_type','')"
      >全部</li>
      <li
        v-for="(item,index) in chooseList.over_type.option"
        :key="index"
        :class="{red_color_themes:true, chooseList_red_color_themes:sendData.over_type == item.val}"
        @click="handleChooseClass('over_type',item.val)"
      >{{ item.text }}</li>
    </ul>

    <ul class="type_list" v-if="chooseList && chooseList.free_type">
      <li
        :class="{red_color_themes:true, chooseList_red_color_themes: !sendData.free_type}"
        @click="handleChooseClass('free_type','')"
      >全部</li>
      <li
        v-for="(item,index) in chooseList.free_type.option"
        :key="index"
        :class="{red_color_themes:true, chooseList_red_color_themes:sendData.free_type == item.val}"
        @click="handleChooseClass('free_type',item.val)"
      >{{ item.text }}</li>
    </ul>

    <ul class="type_list" v-if="chooseList && chooseList.category" style="margin:0.2rem 0">
      <li
        :class="{red_color_themes:true, chooseList_red_color_themes: !sendData.category}"
        @click="handleChooseClass('category','')"
      >全部</li>
      <li
        v-for="(item,index) in chooseList.category"
        :key="index"
        :class="{red_color_themes:true, chooseList_red_color_themes:sendData.category == item}"
        @click="handleChooseClass('category', item)"
      >{{ item }}</li>
    </ul>
    <div class="main">
      <router-link
        :to="{name:'detail',query:{book_id:item.id}}"
        class="item_1_bar item_1_bar_line"
        v-for="(item,index) in list"
        :key="index"
      >
        <div class="img_box">
          <img class="cover" :src="item.cover" />
          <p class="icon_only" v-if="item.is_alone === 1"></p>
          <!-- 连载 -->
          <p v-if="item.over_type == 1" class="status_serialization"></p>
          <!-- 完结 -->
          <p v-if="item.over_type == 2" class="status_end"></p>
        </div>
        <div class="right">
          <h2 class="title red_color_themes">{{ item.name }}</h2>
          <p class="content">{{ item.summary }}</p>
          <div class="info">
            <span>作者：{{ item.author }}</span>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
          </div>
        </div>
      </router-link>
    </div>
    <!-- <p class="loadText">{{loadText}}</p> -->
    <my-footer :type="2"></my-footer>
  </div>
</template>
<script>
import MyFooter from "@/components/footer";
import { GetCategoryList, GetCategoryBookList } from "@/api";
import { loadmore } from "@/mixin/loadmore";
export default {
  mixins: [loadmore],
  components: {
    MyFooter,
  },

  data() {
    return {
      sendData: {
        page: 1,
        cate_type: 1,
        size: 10,
        type: 1,
        over_type: "",
        free_type: "",
        category: "",
      },
      classificationType: 1,

      chooseList: {},
    };
  },
  created() {
    this._getList();
    this._getCategoryList();
  },
  methods: {
    _getCategoryList() {
      GetCategoryList({ book_type: this.TYPE }).then((res) => {
        this.chooseList = res;
      });
    },
    // 获取书籍列表
    _getList() {
      this.sendData.type = this.TYPE;
      GetCategoryBookList(this.sendData).then((res) => {
        if (this.sendData.page == 1) {
            this.list = res
        } else {
          this.list = [...this.list, ...res];
          this._changeStatus(res);
        }
      });
    },
    handleChooseClass(type, val) {
      this.sendData.page = 1
      this.sendData[type] = val;
      this._getList();
    },
  },
  computed: {
    TYPE() {
      return this.$store.state.TYPE;
    },
  },
  watch: {
    classificationType(val) {
      this.list = [];
      this.sendData.cate_type = val;
      this.sendData.page = 1;
      this._getList();
    },

  },
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/item_1.scss";
@import "../../assets/scss/item_1_bar.scss";
@import "../../assets/scss/nav.scss";

.main {
  width: 10rem;
  overflow: hidden;
  background-color: white;
}

body {
  background-color: #f5f5f5;
}

.type_list {
  width: 10rem;
  min-height: 1.1467rem;
  background-color: white;
  padding: 0 0.2667rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    width: 1.4933rem;
    height: 0.7467rem;
    border-radius: 0.08rem;
    font-size: 0.3733rem;
    // line-height: 0.7467rem;
    text-align: center;
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.loadText {
  width: 100%;
  height: 16px;
  background-color: white;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #999;
}
</style>