<template>
  <div class="copyBody">
    <div id="directory_box" :style="{right: !isShowUserinfo ? 0 : '6.8533rem'}">
      <!-- 蒙层 -->
      <div id="mongolia" v-if="isShowUserinfo" @click="isShowUserinfo = false"></div>
      <!-- nav -->
      <my-nav title="目录" :type="2" @tellClickThree="isShowUserinfo = true">
        <div class="nav_type_list">
          <div class="nav_left" @click="handleReverse">
            <img src="../../assets/images/swap_vert.png" />
            <span>倒序</span>
          </div>
          <span style="flex: 1;"></span>
          <div class="nav_right ripple" @click="isChoosePage = true">
            <p>
              分頁
              <span>{{ choosedList.title }}</span>
            </p>
            <img src="../../assets/images/jiantou.png" />
          </div>
          <!-- 选择章节 -->
          <div class="choose_popup_bg" v-show="isChoosePage" @click="isChoosePage = false"></div>
          <ul
            :class="{choose_popup_main:true,scaleBoxto1:isChoosePage,scaleBoxto0:!isChoosePage}"
            v-show="isChoosePage"
          >
            <li
              class="ripple"
              v-for="(item,index) in detail.list"
              :key="index"
              @click="handleChoosedPage(item)"
            >
              <span class="yuan1 red_bgcolor_themes" v-if="item.title === choosedList.title"></span>
              <span class="yuan2 red_border_color_themes"></span>
              <span class="font">{{ item.title }}</span>
            </li>
          </ul>
        </div>
      </my-nav>
      <ul class="list">
        <li v-for="item in choosedList.list" :key="item.id">
          <router-link
            :to="{name:'read',query:{book_id:$route.query.book_id,number:item.number}}"
            class="a"
          >
            <img class="cover" :src="item.src" />
            <div class="list_right">
              <p class="title_bar">
                <span class="title">{{ item.name }}</span>
                <span v-if="item.money > 0" class="icon red_bgcolor_themes">付費</span>
              </p>
              <img class="next" src="../../assets/images/detail_next.png" />
            </div>
          </router-link>
        </li>
      </ul>

      <p class="btn_bar_bottom">
        <span
          :class="{ripple:true, red_color_themes:true,no:isLast}"
          @click="handleChoosePageBottom(1)"
        >上50話</span>
        <span
          :class="{ripple:true, red_color_themes:true,no:isNext}"
          @click="handleChoosePageBottom(2)"
        >下50話</span>
      </p>
    </div>
    <!-- 个人中心框 -->
    <div class="my" v-show="isShowUserinfo">
      <!-- 没有登录 -->
      <!-- <div class="not_login">
          <p class="status_font">登錄後實時同步閱讀進度</p>
          <a href="./login.html" class="btn red_bgcolor_themes">登錄</a>
      </div>-->
      <!-- 已登录 -->
      <div class="login" v-if="userInfo">
        <div class="info">
          <img class="logo" :src="userInfo.headimgurl" />
          <div class="right">
            <p class="phone red_color_themes">{{ userInfo.bind_username ? userInfo.bind_username : userInfo.username }}</p>
            <p class="status" v-if="userInfo.is_charge == 2">未開通VIP</p>
            <p class="status" v-if="userInfo.is_charge == 1">已開通VIP</p>
            <p class="surplus red_color_themes">剩餘書幣：{{ userInfo.money }}</p>
          </div>
        </div>
        <!-- <button class="btn red_bgcolor_themes">退出</button> -->
      </div>
      <!-- main -->
      <ul class="main" style="margin-top:1rem">
        <li>
          <router-link to="index">
            <img class="my_icon" src="../../assets/images/my_1.png" />
            <p>
              <span>推薦</span>
              <img class="next" src="../../assets/images/detail_next.png" />
            </p>
          </router-link>
        </li>
        <li>
          <router-link to="classification">
            <img class="my_icon" src="../../assets/images/my_2.png" />
            <p>
              <span>分類</span>
              <img class="next" src="../../assets/images/detail_next.png" />
            </p>
          </router-link>
        </li>
        <li>
          <router-link to="cartoon">
            <img class="my_icon" src="../../assets/images/my_3.png" />
            <p>
              <span>我的漫畫</span>
              <img class="next" src="../../assets/images/detail_next.png" />
            </p>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import { GetChapter } from "@/api";
export default {
  components: {
    MyNav
  },
  data() {
    return {
      isShowUserinfo: false,
      detail: {},
      choosedList: {},
      isChoosePage: false
    };
  },
  created() {
    this._getChapter();
  },
  methods: {
    _getChapter() {
      GetChapter({ book_id: this.$route.query.book_id, size: 50 }).then(res => {
        this.detail = res;
        this.choosedList = res.list[0];
      });
    },
    handleReverse() {
      this.choosedList.list.reverse();
    },
    handleChoosedPage(item) {
      this.choosedList = item;
      setTimeout(() => {
        this.isChoosePage = false;
      }, 100);
    },
    handleChoosePageBottom(type) {
      let length = this.detail.list.indexOf(this.choosedList);
      if (type === 1) {
        if (this.isLast) {
          return;
        } else {
          this.choosedList = this.detail.list[length - 1];
          window.scrollTo(0, 0);
        }
      } else if (type === 2) {
        if (this.isNext) {
          return;
        } else {
          this.choosedList = this.detail.list[length + 1];
          window.scrollTo(0, 0);
        }
      }
    }
  },
  computed: {
    isLast() {
      if (this.detail && this.detail.list) {
        return this.choosedList.title === this.detail.list[0].title;
      }
    },
    isNext() {
      if (this.detail && this.detail.list) {
        return (
          this.choosedList.title ===
          this.detail.list[this.detail.list.length - 1].title
        );
      }
    },
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
    // 刷新用户信息
    refreshUserInfo() {
      return this.$store.state.refreshUserInfo;
    }
  },
  watch: {
    choosedList: {
      handler() {
        window.scrollTo(0, 0);
      },
      deep: true
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/left_my.scss";
@import "../../assets/scss/nav.scss";

html,
body {
  // width: 10rem;
  height: 100%;
  background-color: white;
}

.copyBody {
  width: 10rem;
  min-height: 100%;
  position: relative;
}

#directory_box {
  width: 10rem;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: right 0.4s ease 0s;

  #mongolia {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
  }
}

.nav_left {
  width: 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 0.4rem;

  img {
    width: 0.48rem;
    height: 0.48rem;
  }

  span {
    font-size: 0.4267rem;
    color: white;
  }
}

.nav_right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 0.4rem;

  p {
    flex: 1;
    font-size: 0.3733rem;
    color: white;

    span {
      font-size: 0.3467rem;
      margin-left: 0.2rem;
      margin-right: 0.4rem;
    }
  }

  img {
    width: 0.48rem;
    height: 0.48rem;
  }
}

.list {
  width: 10rem;
  overflow: hidden;

  li {
    width: 10rem;
    height: 2.0667rem;

    .a {
      width: 10rem;
      height: 2.0667rem;
      display: flex;
      align-items: top;
      padding-top: 0.3733rem;
      padding-left: 0.4rem;

      .cover {
        width: 2.6667rem;
        height: 1.3333rem;
      }

      .list_right {
        flex: 1;
        height: 100%;
        position: relative;
        display: flex;
        padding-right: 0.3467rem;
        padding-left: 0.4rem;

        &:after {
          @include border(bottom, #e9e6ea);
        }

        .title_bar {
          flex: 1;
          display: flex;

          .title {
            font-size: 0.3733rem;
            color: #333;
            width: 4rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
          }

          .icon {
            font-size: 0.2933rem;
            text-align: center;
            line-height: 0.4533rem;
            width: 0.8533rem;
            height: 0.4533rem;
            border-radius: 0.08rem;
            color: white;
            margin: 0 0.48rem;
          }
        }

        .next {
          width: 0.3733rem;
          height: 0.3733rem;
        }
      }
    }
  }
}

.btn_bar_bottom {
  width: 10rem;
  height: 1.4933rem;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    width: 1.8333rem;
    height: 0.7933rem;
    line-height: 0.7933rem;
    font-size: 0.3733rem;
    text-align: center;
  }

  .no {
    opacity: 0.5;
  }
}

.choose_popup_bg {
  width: 10rem;
  height: 100%;
  background-color: rgba(#000, 0.6);
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -5rem;
  z-index: 999;
}

.choose_popup_main {
  width: 6.9333rem;
  max-height: 10rem;
  overflow: auto;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.16rem;
  position: absolute;
  right: 0.0667rem;
  top: 0.5rem;
  z-index: 1000;

  li {
    width: 6.9333rem;
    height: 1.28rem;
    position: relative;
    font-size: 0.3467rem;
    line-height: 1.28rem;
    text-indent: 1.8133rem;

    .yuan1 {
      display: block;
      width: 0.32rem;
      height: 0.32rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      margin-top: -0.17rem;
      left: 0.51rem;
    }

    .yuan2 {
      display: block;
      width: 0.5333rem;
      height: 0.5333rem;
      border-width: 0.04rem;
      border-style: solid;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      margin-top: -0.25667rem;
      left: 0.4rem;
    }
  }
}
</style>