<template>
  <div>
    <my-nav :title="`主題設置`" :type="0" @tellbottom="loadmore"></my-nav>

    <ul class="list">
      <li v-for="(item,index) in list" :key="index">
        <img class="icon" src="../../assets/images/news.png" />
        <div class="right">
          <p class="type">系统公告</p>
          <p class="time">{{ item.create_time }}</p>
          <p class="title">{{ item.title }}</p>
          <p class="main">{{ item.content }}</p>
        </div>
      </li>
    </ul>
    <!-- <p class="loadText">{{loadText}}</p> -->
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import { GetUserMessage } from "@/api"
import { loadmore } from "@/mixin/loadmore";
import local from "storejs";
export default {
  components: {
    MyNav
  },
  mixins: [loadmore],
  data(){
      return{
          sendData:{
              page:1,
              token:local.get("token")
          }
      }
  },
  created() {
    this._getList();
  },
  methods: {
    // 获取书籍列表
    _getList() {
      // type:book类型(1:精品，2:最新，3:限免书籍，4：推荐书籍，5：猜你喜欢书籍)
      // category (1:漫画，2：小说)
      //page
      //size
      GetUserMessage(this.sendData).then(res => {
        this.list = [...this.list, ...res];
        this._changeStatus(res);
      });
    }
  },

};
</script>
<style lang="scss" scoped>
.list{
    width: 10rem;
    overflow: hidden;
    padding: 0 0.2667rem;
    li{
        width: 100%;
        overflow: hidden;
        display: flex;
        padding-top: 0.4933rem;
        .icon{
            width: 0.8rem;
            height: 0.8rem;
            margin-right: 0.2667rem;
        }
        .right{
            flex: 1;
            .type{
                font-size: 14px;
                color: #333;
                font-weight: bold;
            }
            .time{
                font-size: 12px;
                color: #999;
                margin: 0.2533rem 0 0.2133rem 0;
            }
            .title{
                font-size: 14px;
                color: #333;
                margin-bottom: 0.2133rem;
            }
            .main{
                width: 100%;
                overflow: hidden;
                background:rgba(244,244,244,1);
                border-radius: 0.08rem;
                font-size: 12px;
                line-height: 16px;
                padding: 0.1333rem 0.4rem;
                color: #999;
            }
        }
    }
}

.loadText {
  width: 100%;
  height: 16px;
  background-color: white;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #999;
}
</style>