<template>
  <div  v-if="detail && detail.book">
    <div class="copyBody">
      <!-- 下方圆点点击栏目 -->
      <div
        id="fab"
        class="red_bgcolor_themes"
        @click="handleChangeIsShowMore(1)"
        :style="{'margin-right':!isShowUserinfo ? '-4.2rem' : '2.6533rem'}"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- 详情框 -->
      <div id="detail_box" :style="{right: !isShowUserinfo ? 0 : '6.8533rem'}">
        <!-- 蒙层 -->
        <div id="mongolia" v-if="isShowUserinfo" @click="isShowUserinfo = false"></div>
        <!-- 详情 -->
        <my-nav :title=" detail.book.name" :type="2" @tellClickThree="isShowUserinfo = true"></my-nav>

        <div class="info_box">
          <div class="img_box">
            <img class="cover" :src=" detail.book.detail_img " />
            <!-- 连载 -->
            <p v-if="detail.book.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="detail.book.over_type == 2" class="status_end"></p>
          </div>
          <h1>
            <p>{{ detail.book.name }}({{ detail.book.over_type | filterType }})</p>
            <!-- <span style="background-color: #FF9700;">VIP</span>
            <span style="background-color: #CE61FF;">獨家</span>
            <span style="background-color: #2196F3;">推薦</span>
            <span style="background-color: #5ADEAC;">女友</span>
            <span style="background-color: #FF9700;">VIP</span>
            <span style="background-color: #CE61FF;">獨家</span>
            <span style="background-color: #2196F3;">推薦</span>
            <span style="background-color: #5ADEAC;">女友</span>-->
          </h1>
          <p class="author">
            作者:
            <span>{{ detail.book.author }}</span>類型:
            <span>{{ detail.book.category }}</span>
          </p>
          <div class="read_info">
            <div class="start">
              <img src="../../assets/images/detail_star.png" />
              <span>{{ detail.book.star }}</span>
            </div>
            <div class="read">
              <img src="../../assets/images/detail_eyes.png" />
              <span>{{ detail.book.hot_num }}</span>
            </div>
          </div>
          <div class="btn_bar">
            <!-- subscribed 已经订阅添加这个class -->
            <div
              v-if="detail.is_collect === 'no'"
              class="btn red_color_themes subscribe red_border_color_themes ripple"
              @click="isShowDoCollectPopup = true"
            >訂閱追更</div>
            <div
              v-if="detail.is_collect !== 'no'"
              class="btn red_color_themes subscribe subscribed red_border_color_themes ripple"
            >已加入書架</div>
            <router-link :to="{name:'read',query:{book_id:$route.query.book_id,number:detail.read_number}}" class="btn chooseList_red_color_themes start_read ripple">{{ detail.read_number == 1  ? "立即閱讀" : "继续閱讀"}}</router-link>
          </div>
          <p class="introduce">{{ detail.book.summary }}</p>
          <ul class="red_list">
            <li>
              <router-link :to="{name:'read',query:{book_id:$route.query.book_id,number:detail.book.end_chapter.number}}">
                <img class="red_list_icon" src="../../assets/images/detail_access_time.png" />
                <p class="title">最新</p>
                <p
                  class="item"
                >{{ detail.book.end_chapter.name }} {{ detail.book.end_chapter.create_time }}</p>
                <img class="next" src="../../assets/images/detail_next.png" />
              </router-link>
            </li>
            <li class="ripple">
              <router-link :to="{name:'chapter',query:{book_id:$route.query.book_id}}" href="./directory.html">
                <img class="red_list_icon" src="../../assets/images/detail_list.png" />
                <p class="title">目錄（小圖快速看）</p>
                <p class="item">共{{ detail.book.chapter_num }}話</p>
                <img class="next" src="../../assets/images/detail_next.png" />
              </router-link>
            </li>
          </ul>
        </div>

        <!-- 广告 -->
        <a v-if="ad" :href="ad.url" class="adverb">
          <img :src="ad.src" />
        </a>

        <div class="maybe">
          <div class="titleh">
            <h3>猜你喜歡</h3>
          </div>
          <div class="maybe_list">
            <router-link
              :to="{name:'detail',query:{book_id:item.id}}"
              v-for="(item,index) in  detail.likes"
              :key="index"
              class="item_1_bar item_1_bar_not_line"
            >
              <div class="img_box">
                <img class="cover" :src="item.cover" />
                <!-- 连载 -->
                <p v-if="item.over_type == 1" class="status_serialization"></p>
                <!-- 完结 -->
                <p v-if="item.over_type == 2" class="status_end"></p>
              </div>
              <div class="right">
                <h2 class="title red_color_themes">{{ item.name }}</h2>
                <p class="content">{{ item.summary }}</p>
                <div class="info">
                  <span>作者：{{ item.author }}</span>
                  <div class="read">
                    <img src="../../assets/images/eyes.png" />
                    <span>{{ item.hot_num }}</span>
                  </div>
                  <div class="start">
                    <img src="../../assets/images/star.png" />
                    <span>{{ item.star }}</span>
                  </div>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>

      <!-- 个人中心框 -->
      <div class="my">
        <!-- 没有登录 -->
        <!-- <div class="not_login">
          <p class="status_font">登錄後實時同步閱讀進度</p>
          <a href="./login.html" class="btn red_bgcolor_themes">登錄</a>
        </div>-->
        <!-- 已登录 -->
        <div class="login" v-if="userInfo">
          <div class="info">
            <img class="logo" :src="userInfo.headimgurl" />
            <div class="right">
              <p class="phone red_color_themes">{{ userInfo.bind_username ? userInfo.bind_username : userInfo.username }}</p>
              <p class="status" v-if="userInfo.is_charge == 2">未開通VIP</p>
              <p class="status" v-if="userInfo.is_charge == 1">已開通VIP</p>
              <p class="surplus red_color_themes">剩餘書幣：{{ userInfo.money }}</p>
            </div>
          </div>
          <!-- <button class="btn red_bgcolor_themes">退出</button> -->
        </div>
        <!-- main -->
        <ul class="main" style="margin-top:1rem">
          <li>
            <router-link to="index">
              <img class="my_icon" src="../../assets/images/my_1.png" />
              <p>
                <span>推薦</span>
                <img class="next" src="../../assets/images/detail_next.png" />
              </p>
            </router-link>
          </li>
          <li>
            <router-link to="classification">
              <img class="my_icon" src="../../assets/images/my_2.png" />
              <p>
                <span>分類</span>
                <img class="next" src="../../assets/images/detail_next.png" />
              </p>
            </router-link>
          </li>
          <li>
            <router-link to="cartoon">
              <img class="my_icon" src="../../assets/images/my_3.png" />
              <p>
                <span>我的漫畫</span>
                <img class="next" src="../../assets/images/detail_next.png" />
              </p>
            </router-link>
          </li>
        </ul>
      </div>
    </div>

    <!-- 订阅弹窗 -->
    <div class="subscribe_popup" v-if="isShowDoCollectPopup">
      <div
        :class="{subscribe_box:true, scaleBoxto1: isShowDoCollectPopup,scaleBoxto0:!isShowDoCollectPopup }"
      >
        <p class="subscribe_font">點擊確認加入書架，章節更新實時同步，查找更方便。</p>
        <p class="btn_bar">
          <span class="red_color_themes subscribe_cancel" @click="isShowDoCollectPopup = false">取消</span>
          <span class="red_color_themes bold subscribe_confirm" @click="handleDoCollect">確定</span>
        </p>
      </div>
    </div>

    <!-- 提示弹窗 -->
    <div class="tips_popup" v-if="isShowDoCollectSuc">
      <img class="tips_img" src="../../assets/images/mood.png" />
      <p class="tips_font">加入成功</p>
    </div>

    <!-- 更多信息弹窗 -->
    <div class="more" v-show="isShowMoreBg && detail.book">
      <div class="more_bg" v-if="isShowMore" @click="handleChangeIsShowMore(2)"></div>
      <div class="more_main" :style="{bottom: isShowMore ? 0 : '-10rem'}">
        <div class="item_1_bar item_1_bar_not_line">
          <div class="img_box">
            <img class="cover" src="../../assets/images/cover.png" />
            <span class="status_serialization status_icon_short"></span>
          </div>
          <div class="right">
            <h2 class="title red_color_themes">{{ detail.book.name }}</h2>
            <p class="content">{{ detail.book.summary }}</p>
            <div class="info">
              <span>作者：{{ detail.book.author }}</span>
              <div class="read">
                <img src="../../assets/images/eyes.png" />
                <span>{{ detail.book.hot_num }}</span>
              </div>
              <div class="start">
                <img src="../../assets/images/star.png" />
                <span>{{ detail.book.star }}</span>
              </div>
            </div>
          </div>
        </div>
        <ul class="more_item">
          <li class="ripple">
            <img class="more_icon" src="../../assets/images/more_item_1.png" />
            <p class="more_font_l">自動購買下一話</p>
            <input type="checkbox" class="checke" id="checke" v-model="isBuy" @change="handleChangeBuy" />
          </li>
          <li class="ripple share" @click="isShowShare = true">
            <img class="more_icon" src="../../assets/images/more_item_share.png" />
            <p class="more_font_l">分享</p>
            <p class="more_font_s">赚书币免费看</p>
            <img class="more_small_icon mar" src="../../assets/images/more_item_q.png" />
            <img class="more_small_icon" src="../../assets/images/detail_next.png" />
          </li>
        </ul>
        <!-- 弹出复制框 -->
        <div :class="{copy_box: true, scaleBoxto1: isShowShare, scaleBoxto0: !isShowShare}" v-if="isShowShare" >
          <p class="title">赚书币免费看</p>
          <p class="content">複製如下連結，分享給親密好友，附近的人，QQ群，微信群，論壇等，一旦有人點擊，即刻獲贈30書幣，每人每日有三次机会。</p>
          <input
            class="copy_value"
            type="text"
            v-model="detail.share_url"
          />
          <p @click="handleShare" id="copy" class="red_color_themes btn" :data-clipboard-text="detail.share_url">復制鏈接</p>
        </div>
      </div>
    </div>
    <p class="copy_succ_box">鏈接已復制到粘貼板</p>
  </div>
</template>
<script>
import { GetBookInfo, GetAd, DoCollect, SetAuto } from "@/api";
import MyNav from "@/components/nav";
import local from "storejs";
import Clipboard from "clipboard";
export default {
  components: {
    MyNav
  },
  data() {
    return {
      ad: null,
      detail: {},
      isShowDoCollectPopup: false,
      isShowDoCollectSuc: false,
      isShowUserinfo: false,
      isShowMore: false,
      isShowMoreBg: false,
      isBuy: false,
      isShowShare: false
    };
  },
  created() {
    this._getad();
    this._getBookInfo();
  },
  methods: {
    _getad() {
      GetAd({ ad_id: 3 }).then(res => {
        this.ad = res;
      });
    },
    _getBookInfo() {
      GetBookInfo({
        book_id: this.$route.query.book_id,
        invite_code: this.$route.query.invite_code
      }).then(res => {
        this.detail = res;
        this.isBuy = res.is_sub === "no" ? false : true;
      });
    },
    handleChangeIsShowMore(type) {
      if (type === 1) {
        this.isShowMore = true;
        this.isShowMoreBg = true;
      } else if (type === 2) {
        this.isShowMore = false;
        setTimeout(() => {
          this.isShowMoreBg = false;
        }, 400);
      }
    },
    handleChangeBuy(){
        let sendData = {
            token:local.get("token"),
            book_id: this.$route.query.book_id,
            type: this.isBuy === true ? 1 : 2
        }
        SetAuto(sendData).then(res=>{
            this._getBookInfo()
        })
    },
    //加入书架
    handleDoCollect() {
      DoCollect({
        token: local.get("token"),
        book_id: this.detail.book.id
      }).then(res => {
        this.isShowDoCollectPopup = false;
        this.isShowDoCollectSuc = true;
        this._getBookInfo();
        setTimeout(() => {
          this.isShowDoCollectSuc = false;
        }, 1000);
      });
    },
    handleShare(){
      let clipboard = new Clipboard("#copy");
      this.isShowShare = false
    }
  },
  filters: {
    filterType(type) {
      if (type == 1) {
        return "连载中";
      } else if (type == 2) {
        return "完结";
      }
    }
  },
  computed: {
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
    // 刷新用户信息
    refreshUserInfo() {
      return this.$store.state.refreshUserInfo;
    }
  },
  watch: {
    $route(newRoute) {
      this._getBookInfo();
      window.scrollTo(0,0);
      //   window.location.reload()
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/item_1_bar.scss";
@import "../../assets/scss/left_my.scss";

html,
body {
  // width: 10rem;
  height: 100%;
}
.copyBody {
  width: 10rem;
  height: 100%;
  position: relative;
}

.adverb {
  background-color: #f8f8f8;
}

#fab {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  box-shadow: 0 0.03rem 0.05rem -0.01rem rgba(0, 0, 0, 0.2),
    0 0.06rem 0.1rem 0 rgba(0, 0, 0, 0.14),
    0 0.01rem 0.18rem 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  right: 50%;
  margin-right: -4.2rem;
  bottom: 0.5rem;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right 0.4s ease 0s;

  span {
    width: 0.2rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 50%;
    margin: 0 0.0667rem;
  }
}

#detail_box {
  width: 10rem;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: right 0.4s ease 0s;

  #mongolia {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
  }

  .info_box {
    width: 10rem;
    overflow: hidden;

    .img_box {
      width: 9.4667rem;
      height: 3.6533rem;
      background: rgba(0, 0, 0, 1);
      opacity: 0.8;
      border-radius: 0.16rem;
      margin: 0.1733rem auto;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      font-size: 0.4267rem;
      line-height: 0.7333rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 0.2667rem;

      p {
        margin-right: 0.08rem;
      }

      span {
        display: inline-block;
        font-size: 0.2667rem;
        height: 0.4267rem;
        line-height: 0.4267rem;
        padding: 0 0.1333rem;
        margin-right: 0.08rem;
        color: white;
      }
    }

    .author {
      font-size: 0.32rem;
      color: rgba(153, 153, 153, 1);
      margin: 0.4267rem 0;
      padding: 0 0.2667rem;

      span {
        font-size: 0.32rem;
        color: #333;
        margin-right: 0.4267rem;
      }
    }

    .read_info {
      width: 100%;
      font-size: 0.2667rem;
      display: flex;
      color: #333;
      padding: 0 0.2667rem;

      .start {
        width: 1.3067rem;
        display: flex;
        align-items: center;
        margin-right: 0.4rem;
      }

      .read {
        flex: 1;
        display: flex;
        align-items: center;
      }

      img {
        width: 0.48rem;
        height: 0.48rem;
        margin-right: 0.0667rem;
      }
    }

    .btn_bar {
      width: 100%;
      height: 1.3733rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.4rem;
      padding: 0 0.2667rem;

      &:after {
        @include border(bottom, #e9e6ea);
      }

      &:before {
        @include border(top, #e9e6ea);
      }

      .btn {
        width: 4.4rem;
        height: 0.96rem;
        border-radius: 0.08rem;
        font-size: 0.3733rem;
        line-height: 0.96rem;
        text-align: center;
      }

      .subscribe {
        border-style: solid;
        border-width: 0.04rem;
        position: relative;
      }

      .subscribed {
        opacity: 0.7;
      }
    }

    .introduce {
      font-size: 0.3733rem;
      color: rgba(51, 51, 51, 1);
      line-height: 0.48rem;
      padding: 0.4rem 0.2667rem;
      text-align: justify;
    }

    .red_list {
      width: 100%;
      overflow: hidden;

      li {
        width: 100%;
        height: 1.2533rem;
        position: relative;

        &:before {
          @include border(top, #e9e6ea);
        }

        a {
          width: 100%;
          height: 1.2533rem;
          display: flex;
          align-items: center;
          padding: 0 0.2667rem;

          .red_list_icon {
            width: 0.6133rem;
            height: 0.6133rem;
          }

          .title {
            font-size: 0.3733rem;
            color: #333;
            text-indent: 0.2667rem;
          }

          .item {
            flex: 1;
            font-size: 0.32rem;
            color: #666;
            text-align: right;
          }

          .next {
            width: 0.3733rem;
            height: 0.3733rem;
          }
        }
      }
    }

    .maybe {
      width: 10rem;
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
      margin-bottom: 0.4rem;

      .maybe_list {
        margin-bottom: 0.4rem;
        margin-top: 0.2667rem;
      }
    }
  }
}

.titleh {
  width: 10rem;
  height: 1.28rem;
  padding: 0 0.2667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // margin-bottom: 0.3467rem;

  &:after {
    content: "";
    width: 0.08rem;
    height: 0.6933rem;
    background: rgba(244, 67, 54, 1);
    position: absolute;
    left: 0;
    top: 0.3333rem;
  }

  &:before {
    @include border(bottom, #f4f6fa);
  }

  h3 {
    flex: 1;
    font-size: 0.48rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.3733rem;
    font-weight: 400;
    color: rgba(244, 67, 54, 1);

    img {
      width: 0.48rem;
      height: 0.48rem;
      margin-left: 0.1067rem;
    }
  }
}

.tips_popup {
  width: 2.7733rem;
  height: 2.6933rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;

  img {
    display: block;
    width: 1.0933rem;
    height: 1.0933rem;
    margin-bottom: 0.36rem;
    margin: 0.4667rem auto 0.3333rem auto;
  }

  p {
    font-size: 0.3733rem;
    line-height: 100%;
    color: #fff;
    text-align: center;
  }
}

.subscribe_popup {
  width: 10rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  //   opacity: 0.5;

  .subscribe_box {
    width: 7.44rem;
    height: 3.7467rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
    border-radius: 0.1067rem;
    padding: 0 0.64rem;

    .subscribe_font {
      font-size: 0.4267rem;
      color: rgba(117, 117, 117, 1);
      line-height: 0.6133rem;
      margin-top: 0.7333rem;
    }

    .btn_bar {
      font-size: 0.4rem;
      text-align: right;
      margin-top: 0.8667rem;

      span {
        margin-left: 0.5333rem;
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}

.more {
  width: 10rem;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -5rem;
  z-index: 999;

  .more_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    opacity: 0.1;
  }

  .more_main {
    width: 10rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: white;
    padding-top: 0.4rem;
    transition: bottom 0.4s ease 0s;
  }

  .more_item {
    width: 100%;
    overflow: hidden;
    margin-top: 0.2667rem;

    li {
      width: 100%;
      height: 1.2533rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2667rem;
      position: relative;

      &:before {
        @include border(top, #e9e6ea);
      }

      .more_icon {
        width: 0.6133rem;
        height: 0.6133rem;
      }

      .more_small_icon {
        width: 0.4267rem;
        height: 0.4267rem;
      }

      .more_font_l {
        flex: 1;
        font-size: 0.3733rem;
        color: #333;
        padding-left: 0.2667rem;
      }

      .more_font_s {
        flex: 1;
        font-size: 0.3733rem;
        color: #333;
        text-align: right;
      }

      .mar {
        margin: 0 0.48rem 0 0.0667rem;
      }
    }
  }

  .copy_box {
    width: 9.4667rem;
    height: 6.8933rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
    border-radius: 0.1067rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    padding: 0 0.6267rem;

    .title {
      font-size: 0.56rem;
      color: #333;
      line-height: 100%;
      margin: 0.6667rem 0;
    }

    .content {
      font-size: 0.1867rem;
      color: #757575;
      line-height: 0.56rem;
      text-align: justify;
    }

    .copy_value {
      width: 100%;
      height: 1.0667rem;
      background: rgba(244, 244, 244, 1);
      border: 0.04rem solid rgba(158, 158, 158, 1);
      border-radius: 0.08rem;
      padding: 0 0.2667rem;
      font-size: 0.1867rem;
      color: #999;
      margin: 0.2667rem auto 0.9333rem auto;
    }

    .btn {
      font-size: 0.4rem;
      font-weight: bold;
      text-align: center;
    }
  }
}

.copy_succ_box {
  width: 4.7467rem;
  height: 1.36rem;
  background: rgba(0, 0, 0, 1);
  opacity: 0.7;
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 0.3733rem;
  text-align: center;
  line-height: 1.36rem;
  color: white;
  display: none;
  z-index: 9999;
}
</style>