<template>
  <div>
    <my-nav :title="`我的賬單`" :type="0" @tellbottom="loadmore"></my-nav>

    <ul class="list">
      <li v-for="(item,index) in list" :key="index">
        <p class="date">{{ item.date }}</p>
        <div class="item">
          <div class="left">
            <p class="week">{{ item.week }}</p>
            <p class="mouth">{{ item.month }}</p>
          </div>
          <div class="center">
            <p class="center_top">{{ item.title }}</p>
            <p class="center_bottom">{{ item.summary }}</p>
          </div>
          <p class="record">{{ item.money }}書幣</p>
        </div>
      </li>
    </ul>
    <!-- <p class="loadText">{{loadText}}</p> -->
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import { GetBill } from "@/api";
import { loadmore } from "@/mixin/loadmore";
import local from "storejs";
export default {
  components: {
    MyNav
  },
  mixins: [loadmore],
  data() {
    return {
      sendData: {
        page: 1,
        token: local.get("token")
      }
    };
  },
  created() {
    this._getList();
  },
  methods: {
    _getList() {
      GetBill(this.sendData).then(res => {
        this.list = [...this.list, ...res];
        this._changeStatus(res);
      });
    }
  },

};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
.list {
  width: 10rem;
  overflow: hidden;
  padding: 0 0.2667rem;

  body {
    background-color: #f4f4f4;
  }

  .date {
    width: 10rem;
    height: 0.88rem;
    padding-left: 0.4rem;
    font-size: 0.3733rem;
    line-height: 0.88rem;
    color: rgba(102, 102, 102, 1);
  }

  .item {
    width: 10rem;
    height: 1.6rem;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      @include border(bottom, #e9e6ea);
    }

    .left {
      width: 1.6rem;
      height: 1.0667rem;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:after {
        @include border(right, #e9e6ea);
      }

      .week {
        font-size: 0.32rem;
        color: #999;
        margin-bottom: 0.1867rem;
      }

      .mouth {
        font-size: 0.2933rem;
        color: #999;
      }
    }

    .center {
      flex: 1;
      height: 1.0667rem;
      padding-left: 0.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .center_top {
        font-size: 0.3733rem;
        color: #333;
        margin-bottom: 0.1733rem;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .center_bottom {
        font-size: 0.2933rem;
        color: #999;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .record {
      font-size: 0.32rem;
      color: #4caf50;
      margin: 0 0.4rem;
    }
  }
}
</style>