<template>
  <div id="read_box" v-if="detail && detail.book">
    <!-- 蒙层 -->
    <div id="mongolia"></div>
    <!-- 详情 -->
    <my-nav
        :name="detail.book.name"
        :number="detail.chapter.name"
        :type="4"
        :showNav="showNav"
        @handleClickFour="handleChangeIsShowMore(1)"
        @navTrue="showNav = false"
        @tellbottom="tellbottom"
    ></my-nav>
    <div id="read_main">
      <div id="read_main_mongolia" v-if="isShowPopup" @click="isShowPopup = false"></div>

      <div class="bottom_bar" :style="{bottom:isShowPopup ? 0 : '-10rem'}">
        <router-link
            :to="{name:'chapter',query:{'book_id':$route.query.book_id}}"
            class="icon_box"
            id="list"
        >
          <img src="../../assets/images/read_bottom_2.png" />
        </router-link>
        <p class="change_list red_color_themes" @click="handleChooseNumber('last')">上一話</p>
        <p class="change_list red_color_themes" @click="handleChooseNumber('next')">下一話</p>
        <div class="icon_box" id="share" @click="handleChangeIsShowMore(1)">
          <img src="../../assets/images/read_bottom_1.png" />
        </div>
      </div>

      <div v-if="detail.book.type == 1"  @click="handleShowPopup" class="manhuabox">
                <img v-for="(item,index) in detail.content" :key="index" :src="getImg(item)" />
<!--        <iframe v-for="(item,index) in arr" style="width: 100%;margin-top: -5px;" :id="'frame'+index" :key="item" :src="'javascript:parent.img['+index+']'" />-->
      </div>

      <div class="xiaoshuobox" v-if="detail.book.type == 2" :style="{'background':choosedColor}">
        <div class="cz">
          <p
              :class="{choosecolor:true,active:item === choosedColor}"
              v-for="(item,index) in colorList"
              :key="index"
              :style="{'background':item}"
              @click="choosedColor = item"
          ></p>
          <p class="fz" @click="handleChangeFz('+')">A+</p>
          <p class="fz" @click="handleChangeFz('-')">A-</p>
        </div>
        <div
            v-html="detail.content"
            @click="handleShowPopup"
            :style="{'font-size': fz + 'rem','line-height': lh + 'rem'}"
        ></div>
      </div>

      <div class="price_box" v-if="isShowBuyPopup">
        <p class="top_font">
          本章價格{{ detail.book.money }}
          <span>書幣</span>
        </p>
        <p class="tips">本書不屬於VIP免費閱讀作品，請訂閱閱讀</p>
        <div class="operation">
          <p>自動購買下壹話</p>
          <input type="checkbox" class="checke" id="checke" v-model="isAuto" @change="_setAuto" />
        </div>
        <button class="btn red_bgcolor_themes" @click="_doBuyNumber(false)">訂閱本章節</button>
        <p class="bottom_bar">
          <span class="number">餘額：{{ userInfo.money }}書幣</span>
          <router-link
              :to="{name:'recharge',
              query:{
                  book_id: $route.query.book_id,
              }}"
              class="link red_border_color_themes red_color_themes"
              href
          >開通VIP，免費閱讀</router-link>/
          <span
              class="link red_border_color_themes red_color_themes"
              @click="isShowShare = true"
          >分享賺書幣</span>
        </p>
      </div>

      <!-- //下一章弹窗提示 -->
      <div class="price_box" v-if="isShowBuyNextPopup">
        <p class="top_font">
          下一章價格{{ detail.book.money }}
          <span>書幣</span>
        </p>
        <p class="tips">本書不屬於VIP免費閱讀作品，請訂閱閱讀</p>
        <div class="operation">
          <p>自動購買下壹話</p>
          <input type="checkbox" class="checke" id="checke" v-model="isAuto" @change="_setAuto" />
        </div>
        <button class="btn red_bgcolor_themes" @click="_doBuyNumber(true)">訂閱下一章節</button>
        <p class="bottom_bar">
          <span class="number">餘額：{{ userInfo.money }}書幣</span>
          <router-link
              :to="{name:'recharge',
              query:{
                  book_id: $route.query.book_id,
              }}"
              class="link red_border_color_themes red_color_themes"
              href
          >開通VIP，免費閱讀</router-link>/
          <span
              class="link red_border_color_themes red_color_themes"
              @click="isShowShare = true"
          >分享賺書幣</span>
        </p>
      </div>

      <!-- 更多信息弹窗 -->
      <div class="more" v-show="isShowMoreBg && detail.book">
        <div class="more_bg" v-if="isShowMore" @click="handleChangeIsShowMore(2)"></div>
        <div class="more_main" :style="{bottom: isShowMore ? 0 : '-10rem'}">
          <div class="item_1_bar item_1_bar_not_line">
            <div class="img_box">
              <img class="cover" src="../../assets/images/cover.png" />
              <span class="status_serialization status_icon_short"></span>
            </div>
            <div class="right">
              <h2 class="title red_color_themes">{{ detail.book.name }}</h2>
              <p class="content">{{ detail.book.summary }}</p>
              <div class="info">
                <span>作者：{{ detail.book.author }}</span>
                <div class="read">
                  <img src="../../assets/images/eyes.png" />
                  <span>{{ detail.book.hot_num }}</span>
                </div>
                <div class="start">
                  <img src="../../assets/images/star.png" />
                  <span>{{ detail.book.star }}</span>
                </div>
              </div>
            </div>
          </div>
          <ul class="more_item">
            <li class="ripple">
              <img class="more_icon" src="../../assets/images/more_item_1.png" />
              <p class="more_font_l">自動購買下一話</p>
              <input type="checkbox" class="checke" id="checke" v-model="isAuto" @change="_setAuto" />
            </li>
            <li class="ripple share" @click="isShowShare = true">
              <img class="more_icon" src="../../assets/images/more_item_share.png" />
              <p class="more_font_l">分享</p>
              <p class="more_font_s">赚书币免费看</p>
              <img class="more_small_icon mar" src="../../assets/images/more_item_q.png" />
              <img class="more_small_icon" src="../../assets/images/detail_next.png" />
            </li>
          </ul>
        </div>
      </div>
      <p class="copy_succ_box">鏈接已復制到粘貼板</p>
      <!-- 弹出复制框 -->
      <div
          :class="{copy_box: true, scaleBoxto1: isShowShare, scaleBoxto0: !isShowShare}"
          v-if="isShowShare"
      >
        <p class="title">赚书币免费看</p>
        <p class="content">複製如下連結，分享給親密好友，附近的人，QQ群，微信群，論壇等，一旦有人點擊，即刻獲贈30書幣，每人每日有三次机会。</p>
        <input class="copy_value" type="text" v-model="detail.share_url" />
        <p
            @click="handleShare"
            id="copy"
            class="red_color_themes btn"
            :data-clipboard-text="detail.share_url"
        >復制鏈接</p>
      </div>
    </div>
  </div>
</template>
<script>
import { getScrollTop, getClientHeight, getScrollHeight } from "@/utils/common";
import { GetBookRead, SetAuto, DoBuyNumber } from "@/api";
import MyNav from "@/components/nav";
import local from "storejs";
import Clipboard from "clipboard";
const colorList = [
  "#fff",
  "#b6b2ca",
  "#ded0b3",
  "#c1cac1",
  "#bf7cbf",
  "#4caf50",
];
export default {
  components: {
    MyNav,
  },
  data() {
    return {
      detail: {},
      nextDetail: {},
      isShowBuyPopup: false,
      isShowBuyNextPopup: false,
      isShowPopup: false,
      isShowMoreBg: false,
      isShowMore: false,
      isAuto: false,
      isShowShare: false,
      showNav: false,
      colorList,
      choosedColor: colorList[2],
      fz: 0.6,
      lh: 0.9,
      arr:[]
    };
  },
  created() {
    this._getDetail();
    // this.$store.commit("refreshUserInfo", true);

    // delete window.document.referrer;
    // window.document.__defineGetter__('referrer', function () {
    //   return "https://wmh6.com/";
    // });

    let self = this;
    // console.log("testscroll");
    //
    // window.onscroll = function() {
    //   console.log("scrolling2");
    //   if (getScrollTop() + getClientHeight() === getScrollHeight()) {
    //     self.isShowPopup = true;
    //     self.showNav = true;
    //   }
    // };
    window.showTop=this.handleShowPopup;
  },
  methods: {
    _doBuyNumber(next = false) {
      let sendData = {
        token: local.get("token"),
        book_id: this.$route.query.book_id,
        number: next ? Number(this.$route.query.number) + 1 : this.$route.query.number,
      };
      DoBuyNumber(sendData)
          .then((res) => {
            //刷新页面
            if (next) {
              this.$router.push({
                name: "read",
                query: {
                  book_id: this.$route.query.book_id,
                  number: this.detail.number.next,
                },
              });
            } else {
              //刷新页面
              // this.$router.go(0);
              window.location.reload()
            }
          })
          .catch((res) => {
            //书币余额不足跳转充值页面
            setTimeout(() => {
              this.$router.push({
                name: "recharge",
                query: {
                  book_id: this.$route.query.book_id,
                },
              });
            }, 1500);
          });
    },
    handleChangeFz(type) {
      if (type === "+") {
        this.fz += 0.1;
        this.lh += 0.1;
      } else if (type === "-") {
        if (this.fz < 0.2) {
          return;
        }
        this.fz -= 0.1;
        this.lh -= 0.1;
      }
    },
    tellbottom() {
      //   this.isShowPopup = true;
      //   this.showNav = true;
      this._getDetail(true);
    },
    handleShowPopup() {
      this.isShowPopup = true;
      this.showNav = true;
    },
    handleShare() {
      let clipboard = new Clipboard("#copy");
      this.isShowShare = false;
      this.$toast("鏈接已復制到粘貼板");
    },
    _getDetail(next = false) {
      let sendData = {
        book_id: this.$route.query.book_id,
        number: next ?  Number(this.$route.query.number) + 1 : this.$route.query.number,
        kc_code: this.$route.query.kc_code,
      };
      GetBookRead(sendData).then((res) => {
        if (!next) {
          // Object.defineProperty(document, "referrer", {
          //   get: function () { return "https://wmh6.com/"; },
          // });
          // console.log("refer",document.referrer);
          // for(var i=0;i<res.content.length;i++){
          //   res.content[i]="https://yy.26mh.top/imagesw/ww/images//book/b1440/c229938/80377e15-c751-414b-9807-a0fef3744d92.jpg";
          // }
          this.detail=res;

          // this.detail = res;
          // this.isAuto = res.is_sub === "no" ? false : true;
          // //判断展示购买弹窗
          // if (res.read_type == 3 || res.read_type == 4) {
          //   //   this.detail.content = [res.content[0]];
          //   this.isShowBuyPopup = true;
          // } else {
          //   this.isShowBuyPopup = false;
          // }
          //
          // // for(var i=0;i<10;i++){
          // //   this.detail.content.push(this.detail.content[0]);
          // // }
          //
          // Object.defineProperty(document, "referrer", {
          //   get: function () { return "https://wmh6.com/"; },
          // });
          // console.log("refer",document.referrer);
          //
          // this.arr=[];
          // for(var i=0;i<this.detail.content.length;i++){
          //   this.detail.content[i]="https://yy.26mh.top/imagesw/ww/images//book/b1440/c229938/80377e15-c751-414b-9807-a0fef3744d92.jpg";
          //   // this.arr.push('<body style="margin: 0px;"><img id="img" style="width: 100%;" src=\''+this.detail.content[i]+'?'+Math.random()+'\' onclick="parent.showTop();" /><script>window.onload = function() { parent.document.getElementById(\'frame'+i+'\').height = document.getElementById(\'img\').height+\'px\'; }<'+'/script></body>');
          // }
          // // this.detail.arr=arr;
          // window.img=this.arr;
          // this.$forceUpdate();


        } else {
          this.nextDetail = res;
          if (res.read_type == 3 || res.read_type == 4) {
            this.isShowBuyNextPopup = true;
          } else {
            if (this.detail.number.next) {
              this.$router.push({
                name: "read",
                query: {
                  book_id: this.$route.query.book_id,
                  number: this.detail.number.next,
                },
              });
            } else {
              this.$toast("已经在最后一话了");
            }
          }
        }
      });
    },
    _setAuto() {
      let sendData = {
        token: local.get("token"),
        book_id: this.$route.query.book_id,
        type: this.isAuto ? 1 : 2,
      };
      SetAuto(sendData).then((res) => {
        let txt = this.isAuto ? "自动订阅成功" : "取消自动订阅";
        this.$toast(txt);
        this._getDetail();
      });
    },
    handleChangeIsShowMore(type) {
      if (type === 1) {
        this.isShowMore = true;
        this.isShowMoreBg = true;
      } else {
        this.isShowMore = false;
        setTimeout(() => {
          this.isShowMoreBg = false;
        }, 400);
      }
    },
    getImg(src){
      // if(window.android){
      //   // let file=window.android.getImg(src)
      //   // console.log("file is",file)
      //   // let fileName="file:///"+file
      //   return "file:///storage/emulated/0/Android/data/com.example.comics/cache/https:__yy.26mh.top_imagesw_ww_images__book_b1440_c229938_80377e15-c751-414b-9807-a0fef3744d92.jpg";
      //   // alert("data get");
      //   // return "data:image/jpeg;base64,"+file
      // }
      return src;
    },
    handleChooseNumber(type) {
      if (type === "last") {
        if (this.detail.number.prev) {
          this.$router.push({
            name: "read",
            query: {
              book_id: this.$route.query.book_id,
              number: this.detail.number.prev,
            },
          });
        } else {
          this.$toast("已经在第一话了");
        }
      } else if (type === "next") {
        if (this.detail.number.next) {
          this.$router.push({
            name: "read",
            query: {
              book_id: this.$route.query.book_id,
              number: this.detail.number.next,
            },
          });
        } else {
          this.$toast("已经在最后一话了");
        }
      }
    },
  },
  computed: {
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
  },
  watch: {
    $route: {
      handler: function (val, oldVal) {
        this.isShowBuyPopup= false;
        this.isShowBuyNextPopup= false;
        this._getDetail();
        this.$store.commit("refreshUserInfo", true);
        this.isShowPopup = false;
        window.scrollTo(0, 0);

      },
      deep: true,
    },
    choosedColor(val) {
      this.FontStyle.color = val;
    },
  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/nav.scss";
@import "../../assets/scss/item_1_bar.scss";

#read_box {
  width: 10rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  #mongolia {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
    display: none;
  }

  #read_main {
    width: 10rem;
    overflow: hidden;
    position: relative;

    > img {
      display: block;
      width: 100%;
    }

    #read_main_mongolia {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }

    > .bottom_bar {
      width: 10rem;
      height: 1.28rem;
      display: flex;
      align-items: center;
      position: fixed;
      left: 50%;
      margin-left: -5rem;
      bottom: -10rem;
      background-color: white;
      transition: bottom 0.2s ease 0s;

      .icon_box {
        width: 1.28rem;
        height: 0.96rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:after {
          @include border(right, #e9e6ea);
        }

        img {
          width: 0.8rem;
          height: 0.8rem;
        }
      }

      .change_list {
        flex: 1;
        height: 0.96rem;
        text-align: center;
        line-height: 0.96rem;
        position: relative;
        font-size: 0.3733rem;

        &:after {
          @include border(right, #e9e6ea);
        }
      }
    }
  }
}

.more {
  width: 10rem;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -5rem;
  z-index: 999;

  .more_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    opacity: 0.1;
  }

  .more_main {
    width: 10rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -10rem;
    background-color: white;
    padding-top: 0.4rem;
    transition: bottom 0.2s ease 0s;
  }

  .more_item {
    width: 100%;
    overflow: hidden;
    margin-top: 0.2667rem;

    li {
      width: 100%;
      height: 1.2533rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2667rem;
      position: relative;

      &:before {
        @include border(top, #e9e6ea);
      }

      .more_icon {
        width: 0.6133rem;
        height: 0.6133rem;
      }

      .more_small_icon {
        width: 0.4267rem;
        height: 0.4267rem;
      }

      .more_font_l {
        flex: 1;
        font-size: 0.3733rem;
        color: #333;
        padding-left: 0.2667rem;
      }

      .more_font_s {
        flex: 1;
        font-size: 0.3733rem;
        color: #333;
        text-align: right;
      }

      .mar {
        margin: 0 0.48rem 0 0.0667rem;
      }
    }
  }
}

.copy_box {
  width: 9.4667rem;
  height: 6.8933rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10000;
  padding: 0 0.6267rem;

  .title {
    font-size: 0.56rem;
    color: #333;
    line-height: 100%;
    margin: 0.6667rem 0;
  }

  .content {
    font-size: 0.1867rem;
    color: #757575;
    line-height: 0.56rem;
    text-align: justify;
  }

  .copy_value {
    width: 100%;
    height: 1.0667rem;
    background: rgba(244, 244, 244, 1);
    border: 0.04rem solid rgba(158, 158, 158, 1);
    border-radius: 0.08rem;
    padding: 0 0.2667rem;
    font-size: 0.1867rem;
    color: #999;
    margin: 0.2667rem auto 0.9333rem auto;
  }

  .btn {
    font-size: 0.4rem;
    font-weight: bold;
    text-align: center;
  }
}

.copy_succ_box {
  width: 4.7467rem;
  height: 1.36rem;
  background: rgba(0, 0, 0, 1);
  opacity: 0.7;
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 0.3733rem;
  text-align: center;
  line-height: 1.36rem;
  color: white;
  display: none;
  z-index: 9999;
}

.price_box {
  width: 9.4667rem;
  overflow: hidden;
  box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
  border-radius: 0.1067rem;
  position: fixed;
  left: 50%;
  margin-left: -4.7333rem;
  bottom: 0.5333rem;
  z-index: 9999;
  background-color: white;

  .top_font {
    font-size: 0.4267rem;
    color: #666;
    padding: 0.6267rem 0 0.6667rem 0.4rem;

    span {
      color: #333;
    }
  }

  .tips {
    font-size: 0.4267rem;
    color: #666;
    padding: 0 0 0.6667rem 0.4rem;
    position: relative;

    &:after {
      @include border(bottom, #e9e6ea);
    }
  }

  .operation {
    width: 100%;
    height: 1.28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.4rem;
    position: relative;

    &:after {
      @include border(bottom, #e9e6ea);
    }

    p {
      flex: 1;
      font-size: 0.4267rem;
      color: #666;
    }
  }

  .btn {
    display: block;
    width: 8.72rem;
    height: 0.96rem;
    border-radius: 0.08rem;
    margin: 0.2533rem auto;
    font-size: 0.3733rem;
    color: #fff;
  }

  .bottom_bar {
    width: 100%;
    height: 1.28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.4rem;
    font-size: 0.32rem;
    color: #333;

    .number {
      flex: 1;
      font-size: 0.32rem;
      color: #999;
    }

    .link {
      height: 0.64rem;
      font-size: 0.32rem;
      line-height: 0.64rem;
      margin: 0 0.2667rem;
      border-bottom: 0.0133rem solid #fff;
    }
  }
}

.tips_popup {
  width: 9.4667rem;
  height: 1.28rem;
  background: rgba(50, 50, 50, 1);
  border-radius: 0.1067rem;
  padding: 0 0.6rem;
  font-size: 0.3733rem;
  line-height: 1.28rem;
  position: fixed;
  left: 50%;
  margin-left: -4.7333rem;
  bottom: 0.1067rem;
  z-index: 10000;
  color: white;
  span {
    float: right;
  }
}
.manhuabox {
  width: 100%;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
}
</style>
<style lang="scss">
.xiaoshuobox {
  width: 100%;
  overflow: hidden;
  padding: 0 5% 2rem 5%;
  > .cz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 2% 5%;
    margin: 0.3rem auto 1rem auto;
    > p {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      text-indent: 0;
    }
    .fz {
      width: 0.6rem;
      height: 0.6rem;
      font-size: 0.3rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    > .active {
      border: 1px solid #ccc;
      box-shadow: 0 1px 8px 0 rgba(161, 161, 161, 0.3);
      transform: scale(1.1);
      transition: all 0.5s;
    }
  }
  p {
    text-indent: 2em;
    min-height: 0.5rem;
    color: "#2e2e2e";
  }
}
</style>
