<template>
  <div>
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive" :key="$route.fullPath"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive" :key="$route.fullPath"></router-view>
    <news-box></news-box>
    <tips></tips>
  </div>
</template>
<script>
import { GetUserInfo } from "@/api";
import local from "storejs";
import NewsBox from "@/components/sendMoney"
import Tips from "@/components/tips"
export default {
    components:{
        NewsBox,
        Tips
    },
  created() {
      this._getUserInfo()
  },
  methods: {
    _getUserInfo() {
      GetUserInfo({token:local.get("token")}).then(res => {
        this.$store.commit("userInfo", res);
        this.$store.commit("refreshUserInfo", false);
      });
    }
  },
  computed: {
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
    // 刷新用户信息
    refreshUserInfo() {
      return this.$store.state.refreshUserInfo;
    }
  },
  watch:{
      refreshUserInfo(val){
          if(val){
             this._getUserInfo() 
          }
      }
  }
};



</script>

<style lang="scss" scoped>

</style>