.red_color_themes{color:#9e9e9e!important}
.red_border_color_themes{border-color:#9e9e9e!important}
.red_bgcolor_themes{background-color:#9e9e9e!important}
.chooseList_red_color_themes{background-color:#9e9e9e!important;color:#fff!important}
#checke{position:relative;-webkit-appearance:none;width:.9467rem;height:.3467rem;background:#afafaf;border-radius:30px;outline:0}
#checke:before{position:absolute;top:-.12rem;left:0;content:'';width:.5867rem;height:.5867rem;border-radius:50%;background:#9e9e9e;-webkit-box-shadow:0 5px 10px 0 #a2a2a2;box-shadow:0 5px 10px 0 #a2a2a2;-webkit-transition:all .2s linear;transition:all .2s linear}
#checke:checked{background:#faa19b}
#checke:checked:before{left:.5rem;-webkit-transition:all .2s linear;transition:all .2s linear}
.choose_recharge:checked+.choose_recharge_item{border:2px solid #9e9e9e;background-color:#faa19b}
.choose_recharge_type:checked+.choose_type_item .recharge_type_circular{border-color:#9e9e9e;position:relative}
.choose_recharge_type:checked+.choose_type_item .recharge_type_circular:after{content:"";width:.32rem;height:.32rem;border-radius:50%;position:absolute;top:.08rem;left:.08rem;background-color:#9e9e9e}
.nav_border{border-bottom:.0533rem solid #9e9e9e}
.article_list_active{background-color:#f4f4f4;color:#9e9e9e}
@-webkit-keyframes scale_small{
from{width:100%;height:1.7333rem;bottom:-2px;font-size:.4267rem;color:#bfc0c0;line-height:.9867rem;padding-top:.7466rem}
to{width:80%;height:.72rem;top:0;font-size:.33rem;color:#9e9e9e;line-height:.72rem;padding-top:0}
}
@keyframes scale_small{
from{width:100%;height:1.7333rem;bottom:-2px;font-size:.4267rem;color:#bfc0c0;line-height:.9867rem;padding-top:.7466rem}
to{width:80%;height:.72rem;top:0;font-size:.33rem;color:#9e9e9e;line-height:.72rem;padding-top:0}
}
@-webkit-keyframes scale_enlarge{
from{width:80%;height:.72rem;top:0;font-size:.33rem;color:#9e9e9e;line-height:.72rem;padding-top:0}
to{width:100%;height:1.7333rem;bottom:-2px;font-size:.4267rem;color:#bfc0c0;line-height:.9867rem;padding-top:.7466rem}
}
@keyframes scale_enlarge{
from{width:80%;height:.72rem;top:0;font-size:.33rem;color:#9e9e9e;line-height:.72rem;padding-top:0}
to{width:100%;height:1.7333rem;bottom:-2px;font-size:.4267rem;color:#bfc0c0;line-height:.9867rem;padding-top:.7466rem}
}
.common_title:after{content:"";background:#9e9e9e}
.common_title .more{color:#9e9e9e}
.banner_theme_bg{background-image:url(../../images/banner_gray.png?v=T4BsWfz%2FBxAhgS0rAp%2B1bA%3D%3D)}