body{margin-bottom:1.6rem}
.footer{width:10rem;height:1.44rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3);z-index:9}
.footer .footer_item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:nonde}
.footer .footer_item img{width:.8rem;height:.8rem}
.footer_font{font-size:.2933rem;color:#b2b1b5}
.hide{display:none}