.item_4{width:2.1333rem;margin-right:.16rem;margin-bottom:.36rem;position:relative}
.item_4:before{content:"";width:2.1333rem;height:2.9733rem;background-color:#dbdbdb;border-radius:.08rem .08rem 0 .08rem;position:absolute;left:.08rem;top:.08rem}
.item_4 .img_box{width:2.1333rem;height:2.9733rem;border-radius:.08rem .08rem 0 .08rem;position:relative}
.item_4 .img_box .cover{width:100%;height:100%}
.item_4 .img_box .status{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5067rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem}
.item_4 .img_box .status span{display:block;width:.9067rem;height:.48rem;position:absolute;left:0;top:0}
.item_4 .img_box .status img{display:block;width:100%;height:100%}
.item_4 h4{width:100%;height:.7467rem;line-height:.7467rem;font-size:.32rem;font-weight:400;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.item_4 .info{width:100%;font-size:.2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;color:#999;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.item_4 .info .start{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.item_4 .info img{width:.32rem;height:.32rem;margin-right:.0667rem}