.item_3{width:3.04rem;overflow:hidden;float:left;margin-right:.16rem;margin-bottom:.36rem;position:relative}
.item_3:nth-child(3n){margin-right:0}
.item_3:nth-child(1) .tips{background-color:#ff0006}
.item_3:nth-child(2) .tips{background-color:#fc9902}
.item_3:nth-child(3) .tips{background-color:#1e97f5}
.item_3 .tips{width:2rem;height:.48rem;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.item_3 .img_box{width:3.04rem;height:4.3467rem;position:relative}
.item_3 .img_box .cover{width:100%;height:100%}
.item_3 .img_box .status{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5067rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem}
.item_3 .img_box .status span{display:block;width:.9067rem;height:.48rem;position:absolute;left:0;top:0}
.item_3 .img_box .status img{display:block;width:100%;height:100%}
.item_3 h4{width:100%;height:.7467rem;line-height:.7467rem;font-size:.3467rem;font-weight:400;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.item_3 .info{width:100%;font-size:.2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;color:#999}
.item_3 .info .start{width:1.3067rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.item_3 .info .read{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.item_3 .info img{width:.32rem;height:.32rem;margin-right:.0667rem}