.item_1_line{padding:0 .2667rem;margin:.2667rem 0;position:relative}
.item_1_line:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.item_1_line:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.item_1_line:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.item_1{width:100%;border-radius:.16rem;overflow:hidden}
.item_1 .img_box{width:100%;height:3.6533rem;position:relative;overflow:hidden}
.item_1 .img_box .cover{width:100%;height:100%}
.item_1 .img_box h4{width:8rem;height:.3467rem;font-size:.3467rem;font-weight:700;color:#fff;line-height:.3467rem;position:absolute;right:.32rem;top:2.5333rem;text-align:right;overflow:hidden;-webkit-text-emphasis:none;text-emphasis:none;white-space:nowrap}
.item_1 .img_box .info{width:100%;font-size:.2667rem;color:#fff;position:absolute;bottom:.32rem;right:.32rem}
.item_1 .img_box .info .start{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right;margin-right:.32rem}
.item_1 .img_box .info .read{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right}
.item_1 .img_box .info img{width:.32rem;height:.32rem;margin-right:.0667rem}
.item_1 .introduce{width:100%;font-size:.32rem;line-height:.5rem;font-weight:400;color:#999;padding:.25rem 0}