.item_1_bar_line{padding:.32rem .2667rem!important}
.item_1_bar_line:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.item_1_bar_line:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.item_1_bar_line:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.item_1_bar{width:100%;overflow:hidden;padding:.1333rem .2667rem;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex}
.item_1_bar .img_box{width:2.24rem;height:3.12rem;border-radius:.08rem .08rem 0 .08rem;overflow:hidden;position:relative;z-index:1}
.item_1_bar .img_box .cover{width:2.24rem;height:3.12rem}
.item_1_bar .right{-webkit-box-flex:1;-ms-flex:1;flex:1;padding-left:.3333rem;position:relative}
.item_1_bar .right:before{content:"";width:2.24rem;height:3.12rem;background-color:#dbdbdb;border-radius:.08rem .08rem 0 .08rem;position:absolute;left:-2.16rem;top:.08rem}
.item_1_bar .right .title{width:5.8667rem;font-size:.3467rem;line-height:.56rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.item_1_bar .right .content{height:.96rem;font-size:.32rem;color:#999;line-height:.48rem;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin:.2667rem 0 .7rem 0;text-align:justify}
.item_1_bar .right .info{font-size:.2933rem;color:#999;line-height:.48rem;display:-webkit-box;display:-ms-flexbox;display:flex}
.item_1_bar .right .info span{-webkit-box-flex:1;-ms-flex:1;flex:1}
.item_1_bar .right .info .start{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right}
.item_1_bar .right .info .read{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right;padding-right:.4rem}
.item_1_bar .right .info img{width:.32rem;height:.32rem;margin-right:.0667rem}
.check_title{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}