.my{width:10rem;height:100%;background-color:#fff;position:absolute;top:0;right:0;z-index:1;padding-left:3.1467rem}
.my .not_login{padding-top:1.2rem}
.my .not_login .status_font{font-size:.3733rem;color:#999;text-align:center}
.my .login{padding-top:1.2rem}
.my .login .info{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex}
.my .login .info .logo{width:1.0667rem;height:1.0667rem;border-radius:50%}
.my .login .info .right{-webkit-box-flex:1;-ms-flex:1;flex:1;padding-left:.4667rem;line-height:1}
.my .login .info .right .phone{font-size:.3733rem;font-weight:700}
.my .login .info .right .status{font-size:.2933rem;color:#999;margin:.1333rem 0 .1067rem 0}
.my .login .info .right .surplus{font-size:.32rem}
.my .btn{display:block;width:6.0533rem;height:.7733rem;border-radius:.3867rem;margin:.4rem auto;font-size:.3467rem;color:#fff;text-align:center;line-height:.7733rem}
.my .main{width:100%;overflow:hidden;position:relative}
.my .main:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main li{width:100%;height:1.2533rem;padding:0 .4rem 0 .2667rem;position:relative}
.my .main li a{width:100%;height:1.2533rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.my .main li a .my_icon{width:.8rem;height:.8rem;margin-right:.8667rem}
.my .main li a p{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative;padding-left:0 .4rem}
.my .main li a p:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main li a p:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main li a p:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main li a p span{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;color:#333}
.my .main li a p img{width:.42rem;height:.42rem}