.header{width:10rem;position:-webkit-sticky;position:sticky;top:0;z-index:999;background-color:#fff}
.search_input{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem;font-size:.4267rem;color:#333}
.nav_white_shadow{-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4}
.nav{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.nav .nav_title{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;line-height:1.2rem;padding:0 .2667rem;font-size:.4267rem;color:#eee}
.nav .nav_read_title{padding-left:.4rem;-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;color:#eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_read_title .nav_read_title_name{width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.4267rem}
.nav .nav_read_title .nav_read_title_name_number{font-size:.32rem;margin-top:.1067rem;width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav .nav_icon{width:.8rem;height:.8rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_icon img{width:100%;height:100%}
.nav .nav_icon span{width:.15rem;height:.15rem;background-color:#fff;border-radius:50%;margin:.05rem}
.nav_type_list{width:10rem;height:1.1467rem;-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.nav_type_list .date{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.1467rem;font-size:.3733rem;color:#ffd5d2;text-align:center;line-height:1.1467rem}
.nav_type_list .active{color:#fff}
#line{width:2.5rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
#line_today{width:1.4133rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}