<template>
  <div>
      <router-link to="index" class="red_color_themes back">返回首页</router-link>
  </div>
</template>
<script>
import local from "storejs";
import { Register, RandUser, GetUserInfo } from "@/api";
export default {
  created() {
    RandUser().then(res => {
      Register({ username: res.nickname, password: res.password }).then(res => {
        local.set("token", res.token);
        GetUserInfo({ token: res.token }).then(res => {
          this.$store.commit("userInfo", res);
          this.$store.commit("refreshUserInfo", false);
          if(window.android){
            window.android.register(res.id);
          }

          if(window.SuperInstallSDK){
            window.SuperInstallSDK.register(res.id)
          }

           this.$router.go(-1);
        //   this.$router.push({
        //       name:'index'
        //   });
        });
      });
    });
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
.back{
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 90%;
    text-decoration: underline;
}
</style>