<template>
  <van-pull-refresh v-model="isLoading" success-text="刷新成功" @refresh="onRefresh">
  <div id="index">
    <!-- header -->
    <div class="header red_bgcolor_themes" id="header">

      <div class="img_box">
        <img
          class="logo"
          v-if="navList.cartoon"
          @click="handleChooseNavType(navList.cartoon)"
          :src="navList.cartoon.logo"
        />
<!--        <img-->
<!--          class="logo"-->
<!--          v-if="navList.novel"-->
<!--          @click="handleChooseNavType(navList.novel)"-->
<!--          :src="navList.novel.logo"-->
<!--        />-->
      </div>


      <img src="../../assets/images/download.png" v-if="showDownload" style="height: 30px;right: 60px; position:absolute;" @click="download"/>
      <router-link to="search" class="search_main">
        <img class="search_icon" src="../../assets/images/search_icon.png" />
      </router-link>
    </div>

    <!-- banner -->
    <div class="banner banner_theme_bg">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div
            v-for="(item, index) in bannerList"
            :key="index"
            class="swiper-slide"
            @click="handleChooseBanner(item)"
          >
            <img :src="item.src" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <!-- item -->
    <div class="type">
      <router-link
        :to="{
          name: 'today',
          query: { category: this.navType, type: this.newData.type },
        }"
        class="type_a"
      >
        <img src="../../assets/images/index_item1.png" />
        <span>今日更新</span>
      </router-link>
      <router-link
        :to="{ name: 'ranking', query: { cate_type: navType } }"
        class="type_a"
      >
        <img src="../../assets/images/index_item2.png" />
        <span>排行榜</span>
      </router-link>
      <router-link to="recharge" class="type_a">
        <img src="../../assets/images/index_item3.png" />
        <span>储值中心</span>
      </router-link>
    </div>

    <!-- 广告 -->
    <a :href="ad1.url" class="adverb">
      <img :src="ad1.src" />
    </a>

    <!-- 列表 -->
    <!-- 大家都在看 -->
    <div class="box" v-if="boutiqueList">
      <div class="common_title">
        <h3>大家都在看</h3>
        <router-link
          class="more"
          :to="{
            name: 'more',
            query: { category: this.navType, type: this.boutiqueData.type },
          }"
        >
          <span>更多</span>
          <img src="../../assets/images/red_more.png" />
        </router-link>
      </div>
      <div class="main">
        <router-link
          :to="{ name: 'detail', query: { book_id: item.id } }"
          class="item_3"
          v-for="(item, index) in boutiqueList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.cover" />
            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end"></p>
          </div>
          <h4 class="red_color_themes">{{ item.name }}</h4>
          <div class="info">
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
          </div>
        </router-link>
      </div>

      <button
        class="change_btn ripple"
        @click="handleChangeBoutiqueList('boutiqueData')"
      >
        換一換
      </button>
    </div>

    <!-- 每日上新 -->
    <div class="box" v-if="newList">
      <div class="common_title">
        <h3>每日上新</h3>
        <router-link
          class="more"
          :to="{
            name: 'more',
            query: { category: this.navType, type: this.newData.type },
          }"
        >
          <span>更多</span>
          <img src="../../assets/images/red_more.png" />
        </router-link>
      </div>
      <div class="main">
        <router-link
          :to="{ name: 'detail', query: { book_id: item.id } }"
          class="item_3"
          v-for="(item, index) in newList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.cover" />
            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end"></p>
          </div>
          <h4 class="red_color_themes">{{ item.name }}</h4>
          <div class="info">
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
          </div>
        </router-link>
      </div>
    </div>

    <!-- 每周限免 -->
    <div class="box" v-if="freeList">
      <div class="common_title">
        <h3>限時免費</h3>
        <router-link
            class="more"
            :to="{ name: 'more', query: { category: this.navType, type: this.freeData.type }, }"
        >
          <span>更多</span>
          <img src="../../assets/images/red_more.png" />
        </router-link>
      </div>
      <div class="main">
        <router-link
          :to="{ name: 'detail', query: { book_id: item.id } }"
          class="item_1"
          v-for="(item, index) in freeList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.detail_img" />

            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end"></p>
            <!-- 限免 -->
            <span class="icon_limitedexemption"></span>
            <!-- title -->
            <h4>{{ item.name }}</h4>
            <div class="info">
              <div class="read">
                <img src="../../assets/images/eyes.png" />
                <span>{{ item.hot_num }}</span>
              </div>
              <div class="start">
                <img src="../../assets/images/star.png" />
                <span>{{ item.star }}</span>
              </div>
            </div>
          </div>
          <p class="introduce">{{ item.summary }}</p>
        </router-link>
      </div>
    </div>

    <!-- 排行榜 -->
    <div class="box" v-if="rankingList">
      <div class="common_title">
        <h3>排行榜</h3>
        <router-link
          class="more"
          :to="{ name: 'ranking', query: { cate_type: this.navType } }"
        >
          <span>更多</span>
          <img src="../../assets/images/red_more.png" />
        </router-link>
      </div>
      <ul class="list_type red_color_themes">
        <li
          class="ripple"
          :class="{ chooseList_red_color_themes: rankingData.rank_type === 1 }"
          @click="handleChooseRankType(1)"
        >
          暢銷榜
        </li>
        <li
          class="ripple"
          :class="{ chooseList_red_color_themes: rankingData.rank_type === 2 }"
          @click="handleChooseRankType(2)"
        >
          人氣榜
        </li>
        <li
          class="ripple"
          :class="{ chooseList_red_color_themes: rankingData.rank_type === 3 }"
          @click="handleChooseRankType(3)"
        >
          連載榜
        </li>
        <li
          class="ripple"
          :class="{ chooseList_red_color_themes: rankingData.rank_type === 4 }"
          @click="handleChooseRankType(4)"
        >
          完結榜
        </li>
      </ul>
      <div class="main">
        <router-link
          :to="{ name: 'detail', query: { book_id: item.id } }"
          class="item_3"
          v-for="(item, index) in rankingList"
          :key="index"
        >
          <div class="img_box">
            <span class="tips">No.{{ index + 1 }}</span>
            <img class="cover" :src="item.cover" />

            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end"></p>
          </div>
          <h4 class="red_color_themes">{{ item.name }}</h4>
          <div class="info">
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
          </div>
        </router-link>
      </div>
    </div>

    <!-- 广告 -->
    <a :href="ad2.url" class="adverb">
      <img :src="ad2.src" />
    </a>

    <!-- ABC重磅推薦 -->
    <div class="box" v-if="recommendList">
      <div class="common_title">
        <h3>重磅推薦</h3>
        <router-link
          :to="{
            name: 'more',
            query: { category: this.navType, type: this.recommendData.type },
          }"
          class="more"
        >
          <span>更多</span>
          <img src="../../assets/images/red_more.png" />
        </router-link>
      </div>
      <div class="main">
        <router-link
          :to="{ name: 'detail', query: { book_id: item.id } }"
          class="item_3"
          v-for="(item, index) in recommendList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.cover" />
            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end"></p>
          </div>
          <h4 class="red_color_themes">{{ item.name }}</h4>
          <div class="info">
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
          </div>
        </router-link>
      </div>
    </div>

    <!-- 猜你喜歡 -->
    <div class="box" v-if="likeList" style="padding-bottom: 1.5rem">
      <div class="common_title">
        <h3>猜你喜歡</h3>
      </div>
      <div class="main" v-if="navType === 2">
        <router-link
          :to="{ name: 'detail', query: { book_id: item.id } }"
          class="item_3"
          v-for="(item, index) in likeList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.cover" />
            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end"></p>
          </div>
          <h4 class="red_color_themes">{{ item.name }}</h4>
          <div class="info">
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
          </div>
        </router-link>
      </div>
      <div class="main" v-if="navType === 1">
        <router-link
          :to="{ name: 'detail', query: { book_id: item.id } }"
          class="item_1"
          v-for="(item, index) in likeList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.detail_img" />
            <!-- 连载 -->
            <p
              v-if="item.over_type == 1"
              class="status_serialization status_icon_short"
            ></p>
            <!-- 完结 -->
            <p
              v-if="item.over_type == 2"
              class="status_end status_icon_short"
            ></p>
            <!-- title -->
            <h4>{{ item.name }}</h4>
            <div class="info">
              <div class="read">
                <img src="../../assets/images/eyes.png" />
                <span>{{ item.hot_num }}</span>
              </div>
              <div class="start">
                <img src="../../assets/images/star.png" />
                <span>{{ item.star }}</span>
              </div>
            </div>
          </div>
          <p class="introduce">{{ item.summary }}</p>
        </router-link>
      </div>
      <!-- <button class="change_btn ripple" @click="handleChangeBoutiqueList('likeData')">換一換</button> -->
    </div>

    <my-footer :type="1"></my-footer>
    <Dialog @closeDialog="close" v-if="isShowDialog"  :src="ad3.src" :jump="ad3.url"></Dialog>
  </div>
  </van-pull-refresh>
</template>
<script>
import local from "storejs";
import { loadmore } from "@/mixin/loadmore";
import {
  IndexGetNav,
  IndexGetBanner,
  GetAd,
  GetBookList,
  GetRankList,
  GetDownload,
} from "@/api";
import Swiper from "swiper";
import MyFooter from "@/components/footer";

import Dialog from '../dialog/ad.vue';
import Vue from "vue";
Vue.component('Dialog',Dialog)

import {PullRefresh } from 'vant';
import 'vant/lib/index.css';
Vue.use(PullRefresh);

export default {
  components: { MyFooter },
  mixins: [loadmore],
  data() {
    return {
      isLoading: true,
      currentTimeString:"",
      isShowDialog:false,
      navList: {},
      //导航栏信息
      navType: 1,
      bannerList: [],
      //两屏广告
      ad1: {},
      ad2: {},
      ad3:{},
      //精品
      boutiqueList: [],
      boutiqueData: { type: 1, page: 1, size: 6, category: this.navType },
      //限免
      freeList: [],
      freeData: { type: 3, page: 1, size: 1, category: this.navType },
      //最新
      newList: [],
      newData: { type: 2, page: 1, size: 3, category: this.navType },
      //推荐
      recommendList: [],
      recommendData: { type: 4, page: 1, size: 6, category: this.navType },
      //猜你喜欢
      likeList: [],
      sendData: { type: 5, page: 1, size: 6, category: this.navType },
      //排行榜
      rankingList: [],
      rankingData: { cate_type: this.navType, rank_type: 1, page: 1, size: 3 },

      videoData: { type: 1, page: 1, size: 10, category: this.navType },

      downUrl:{}
    };
  },
  created() {
    this._getnav();
    this._getAd(1);
    this._getAd(2);
    this._getAd(4);
    this.getDownload();
  },
  methods: {
    onRefresh() {
      this.getDownload();
      this._getBanner(1);
      this._getBookList(this.boutiqueData);
      this._getBookList(this.newData);
      this._getBookList(this.freeData);
      this._getBookList(this.recommendData);
      this._getBookList(this.sendData);
      this._getRankList(this.rankingData);
      setTimeout(() => {
        this.isLoading = false;
      }, 1000)
    },
    handleChooseBanner(item) {
      if (item.link.indexOf("book_id") > 0) {
        this.$router.push({
          name: "detail",
          query: { book_id: item.book_id },
        });
      } else {
        window.location.href = item.link;
      }
    },
    getDownload(){
      GetDownload({}).then((res)=>{
        this.downUrl=res;
      });
    },
    // 获取排行榜
    _getRankList() {
      GetRankList(this.rankingData).then((res) => {
        this.rankingList = res;
      });
    },
    _getList() {

      this._getBookList(this.sendData);
    },
    close(){
      this.isShowDialog=false;
    },
    // 获取书籍列表
    _getBookList(data) {
      // type:book类型(1:精品，2:最新，3:限免书籍，4：推荐书籍，5：猜你喜欢书籍)
      // category (1:漫画，2：小说)
      //page
      //size
      GetBookList(data).then((res) => {
        let type = data.type;
        if (type === 1) {
          this.boutiqueList = res;
        } else if (type === 2) {
          this.newList = res;
        } else if (type === 3) {
          this.freeList = res;
        } else if (type === 4) {
          this.recommendList = res;
        } else if (type === 5) {
          if (data.page === 1) {
            this.likeList = res;
          } else {
            this.likeList = [...this.likeList, ...res];
          }
          this.isload = false;
        }
      });
    },
    // 选择榜单类型
    handleChooseRankType(type) {
      this.rankingData.rank_type = type;
    },
    //切换精品
    handleChangeBoutiqueList(data) {
      if (data === "boutiqueData") {
        this.boutiqueData.page++;
        this._getBookList(this.boutiqueData);
      }
      //   } else if (data === "likeData") {
      //     this.likeData.page++;
      //     this._getBookList(this.likeData);
      //   }
    },
    //获取导航栏
    _getnav() {
      IndexGetNav().then((res) => {
        this.navList = res;
        this.navType = 1;
        document.title = res.web_name;
      });
    },
    _getBanner(type) {
      IndexGetBanner({ banner_type: type }).then((res) => {
        this.bannerList = res;
        setTimeout(() => {
          this._swiper();
        }, 100);
      });
    },
    _getAd(id) {
      GetAd({ ad_id: id }).then((res) => {
        if (id === 1) {
          this.ad1 = res;
        } else if (id === 2) {
          this.ad2 = res;
        } else if(id===4){
          this.ad3=res;
          if(this.ad3.src){
            this.isShowDialog=true;
          }
        }
      });
    },
    // banner滑动
    _swiper() {
      var swiper = new Swiper(".swiper-container", {
        autoplay: true,
        speed: 400,
        auto: 3000,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        loop: true,
        effect: "coverflow",
      });
    },
    //选择type
    handleChooseNavType(type) {
      if (type.name === "漫画") {
        this.navType = 1;
        this.$store.commit("TYPE", 1);
      } else if (type.name === "小说") {
        this.navType = 2;
        this.$store.commit("TYPE", 2);
      }

    },
    download(){
      if(window.superinstall){
        window.superinstall.download(this.doDownload);
      }else{
        this.doDownload();
      }

    },
    doDownload(){
      let u = navigator.userAgent;
      let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;   //判断是否是 android终端
      if(isAndroid){
        window.location.href=this.downUrl.android;
      }else{
        window.location.href=this.downUrl.ios;
      }
    }
  },
  watch: {
    navType: {
      handler(val) {
        this.boutiqueData.category = val;
        this.newData.category = val;
        this.freeData.category = val;
        this.recommendData.category = val;
        this.sendData.category = val;
        this.rankingData.cate_type = val;
        this.sendData.page = 1;
        this._getList();
        this._getBanner(val);
        this._getBookList(this.boutiqueData);
        this._getBookList(this.newData);
        this._getBookList(this.freeData);
        this._getBookList(this.recommendData);
        this._getBookList(this.sendData);
        this._getRankList(this.rankingData);
      },
      immediate: true,
    },
    rankingData: {
      handler(val) {
        this._getRankList(this.rankingData);
      },
      deep: true,
      immediate: true,
    },

  },

  computed:{
    showDownload:function(){
      if(window.android || window.navigator.standalone){
        return false;
      }
      return true;
    }
  }
};
</script>
<style lang="scss" >
@import "../../assets/scss/swiper.scss";
#index {
  background-color: #f4f6fa;
}
</style>
<style lang="scss" scoped>
@import "../../assets/scss/item_1.scss";
@import "../../assets/scss/item_3.scss";

body {
  background-color: #f4f6fa;
}

.header {
  width: 10rem;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
  padding: 0 0.2667rem;

  .logo {
    width: 1.7067rem;
    height: 0.5333rem;
    margin-right: 0.5rem;
  }
  .search_icon {
    width: 0.8rem;
    height: 0.8rem;
  }
}

// banner
.banner {
  width: 10rem;
  overflow: hidden;
  background-color: #fff;
  // background-image: url(../images/banner-bg.png);
  background-size: 100% 80%;
  background-repeat: no-repeat;
  padding: 0.2667rem;
}

.swiper-slide {
  width: 9.4667rem;
  height: 5.0667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.16rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.16rem;
  }
}

// 分类
.type {
  width: 10rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.9333rem 0.32rem 0.9333rem;

  .type_a {
    width: 1.44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 1.44rem;
      height: 1.44rem;
    }

    span {
      // font-size: 0.1467rem;
      font-size: 0.3467rem;
      color: #333333;
      font-weight: 400;
    }
  }
}

.box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  margin-bottom: 0.1867rem;
}

.common_title {
  width: 10rem;
  height: 1.28rem;
  padding: 0 0.2667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0.3467rem;

  &:after {
    content: "";
    width: 0.08rem;
    height: 0.6933rem;
    background: rgba(244, 67, 54, 1);
    position: absolute;
    left: 0;
    top: 0.3333rem;
  }

  &:before {
    // @include border(bottom, #F4F6FA);
  }

  h3 {
    flex: 1;
    font-size: 0.48rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.3733rem;
    font-weight: 400;
    color: rgba(244, 67, 54, 1);

    img {
      width: 0.48rem;
      height: 0.48rem;
      margin-left: 0.1067rem;
    }
  }
}

.main {
  width: 10rem;
  overflow: hidden;
  padding: 0 0.2667rem;
}

.change_btn {
  width: 9.2rem;
  height: 0.7467rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 0.3733rem;
  font-size: 0.3733rem;
  color: #999;
  display: block;
  margin: 0 auto 0.3467rem auto;
}

.list_type {
  width: 7.36rem;
  height: 0.88rem;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(246, 246, 246, 1);
  box-shadow: 0px 3px 6px 0px rgba(190, 190, 190, 0.47);
  border-radius: 0.44rem;
  margin: 0 auto 0.36rem auto;
  display: flex;
  font-size: 0.3733rem;
  font-weight: 400;
  text-align: center;
  line-height: 0.88rem;
  overflow: hidden;

  li {
    flex: 1;
    border-right: 1px solid rgba(246, 246, 246, 1);

    &:last-child {
      border-right: none;
    }
  }
}
</style>