<template>
  <!-- footer -->
    <div class="footer">
      <router-link to="index" class="footer_item">
        <img v-if="type !== 1" src="../assets/images/footer_1.png" />
        <img v-if="type === 1" src="../assets/images/footer_1_a.png" />
        <span :class="{footer_font:true, red_color_themes: type === 1}">推薦</span>
      </router-link>

      <router-link to="classification" class="footer_item">
        <img v-if="type !== 2" src="../assets/images/footer_2.png" />
        <img v-if="type === 2" src="../assets/images/footer_2_a.png" />
        <span :class="{footer_font:true, red_color_themes: type === 2}">分類</span>
      </router-link>

      <router-link to="cartoon" class="footer_item">
        <img v-if="type !== 3" src="../assets/images/footer_3.png" />
        <img v-if="type === 3" src="../assets/images/footer_3_a.png" />
        <span :class="{footer_font:true, red_color_themes: type === 3}">我的漫畫</span>
      </router-link>

      <router-link to="video" class="footer_item">
        <img v-if="type !== 5" src="../assets/images/footer_5.png" />
        <img v-if="type === 5" src="../assets/images/footer_5_a.png" />
        <span :class="{footer_font:true, red_color_themes: type === 5}">视频</span>
      </router-link>

      <router-link to="my" class="footer_item">
        <img v-if="type !== 4" src="../assets/images/footer_4.png" />
        <img v-if="type === 4" src="../assets/images/footer_4_a.png" />
        <span :class="{footer_font:true, red_color_themes: type === 4}">賬號</span>
      </router-link>
      
    </div>
</template>
<script>
export default {
  props: {
    type: Number
  },
  computed:{
      // 在vuex 获取用户信息
    name() {
      let name = this.$store.state.TYPE === 1 ? "我的漫畫" : "我的小説";
      console.log(name)
      return name;
    },
  }
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/footer.scss";
</style>