<template>
  <div class="main">
    <div class="item_3" v-if="type === 3">
      <div class="img_box">
        <img class="cover" :src="item.cover" />
        <!-- 连载 -->
        <p v-if="item.over_type == 1" class="status_serialization"></p>
        <!-- 完结 -->
        <p v-if="item.over_type == 2" class="status_end"></p>
      </div>
      <h4 class="red_color_themes">{{ item.name }}</h4>
      <div class="info">
        <div class="start">
          <img src="../../assets/images/star.png" />
          <span>{{ item.star }}</span>
        </div>
        <div class="read">
          <img src="../../assets/images/eyes.png" />
          <span>{{ item.hot_num }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: Object,
    // 类型
    type: {
      type: Number,
      default: 3
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/item_1.scss";
@import "../../assets/scss/item_3.scss";
</style>