<template>
  <!-- footer -->
  <div class="header red_bgcolor_themes" ref="nav" :style="{top: isShowNav ? 0 : `-10rem`}">
    <div class="nav">
      <div @click="back" class="nav_icon ripple">
        <img src="../assets/images/back.png" />
      </div>
      <p v-if="type !== 4" class="nav_title">{{ title }}</p>
      <router-link v-if="type === 1" to="search" class="nav_icon ripple">
        <img src="../assets/images/search_icon.png" />
      </router-link>
      <div id="show_my" v-if="type === 2" class="nav_icon ripple" @click="handleClickThree">
        <img src="../assets/images/detail_top_icon.png" />
      </div>
      <div class="nav_read_title" v-if="type === 4">
        <p class="nav_read_title_name">{{ name }}</p>
        <p class="nav_read_title_name_number">{{ number }}</p>
      </div>
      <div @click="goLink" v-if="type === 4" to="index" class="nav_icon ripple">
        <img src="../assets/images/index.png" />
      </div>
      <div id="show_info" class="nav_icon ripple" v-if="type === 4" @click="handleClickFour">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <slot></slot>
  </div>
</template>
<script>
import { getScrollTop, getClientHeight, getScrollHeight } from "@/utils/common";
export default {
  props: {
    title: String,
    // 0 只有返回 1显示搜索 2三横
    type: {
      type: Number,
      default: 1
    },
    name: String,
    number: String,
    showNav: Boolean
  },
  data() {
    return {
      scoll: {
        lastScroH: 0,
        isAdd: false,
        navHeight: 0
      },
      isShowNav: true
    };
  },
  created() {
    let self = this;
    setTimeout(() => {
      this.scoll.navHeight = this.$refs.nav.offsetHeight;
    }, 0);
    window.onscroll = function() {
      var scroH = getScrollTop();
      if (scroH > self.scoll.lastScroH) {
        //下滑
        if (!self.scoll.isAdd) {
          self.scoll.isAdd = false;
          self.isShowNav = false;
        }
        self.scoll.isAdd = false;
      } else {
        if (!self.scoll.isAdd) {
          self.scoll.isAdd = true;
          self.isShowNav = true;
        }
        self.scoll.isAdd = false;
      }
      //重置上次高度
      setTimeout(function() {
        self.scoll.lastScroH = scroH;
      }, 0);
      if (getScrollTop() + getClientHeight() + 100 > getScrollHeight()) {
        self.$emit("tellbottom");
      }
    };
  },
  methods: {
    back() {
      console.log;
      if (window.history.length <= 1) {
        this.$router.push({ name: "index" });
        return false;
      } else if (this.$route.query.kc_code) {
        this.$router.push({ name: "index" });
        return false;
      } else {
        this.$router.go(-1);
      }
    },
    handleClickThree() {
      this.$emit("tellClickThree");
    },
    handleClickFour() {
      this.$emit("handleClickFour");
    },
    goLink() {
      this.$router.push({ name: "index" });
    }
  },
  watch: {
    showNav(type) {
      if (type) {
        this.isShowNav = true;
        this.$emit("navTrue");
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/nav.scss";
</style>