<template>
  <div class="news_box" :style="{top: isShow ? 0 : '-5rem'}">
    <div class="news_top">
      <!-- <img class="logo" src="../assets/images/logo.png" /> -->
      <p class="name red_color_themes">青青草漫畫</p>
      <i></i>
      <span class="font">每日登錄</span>
      <img class="close" src="../assets/images/close.png" @click="isShow = false" />
    </div>
    <p class="news_tips">親，歡迎回來。系統已贈送{{ info.send_money }}書幣到您的賬戶，請註意查收~ 再見。</p>
  </div>
</template>
<script>
import { LoginSendMoney } from "@/api";
import local from "storejs";
export default {
  data() {
    return {
      isShow: false,
      info: {}
    };
  },
  created() {
    LoginSendMoney({ token: local.get("token") }).then(res => {
      if (res.is_send == 1) {
        this.info = res;
        this.isShow = true;
      }
    });
  }
};
</script>
<style lang="scss" scoped>
.news_box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  padding: 0.4rem;
  position: fixed;
  left: 50%;
  top: 0;
  left:50%;
  margin-left: -5rem;
  z-index: 99999;
  transition: all .2s ease 0s;

  .news_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 0.56rem;
      height: 0.56rem;
      margin-right: 0.1333rem;
    }

    .name {
      font-size: 12px;
    }

    i {
      width: 0.08rem;
      height: 0.08rem;
      background: rgba(102, 102, 102, 1);
      border-radius: 50%;
      margin: 0.1333rem;
    }
    .font {
      flex: 1;
      font-size: 12px;
      color: #666;
    }
    .close {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
  .news_tips {
    font-size: 14px;
    color: #333;
    line-height: 18px;
  }
}
</style>