<template>
  <div class="box" v-if="isShow">
   <!-- <img src="../assets/images/tip.jpeg"> -->
  </div>
</template>
<script>
import { LoginSendMoney } from "@/api";
import local from "storejs";
export default {
  data() {
    return {
      isShow: false,
    };
  },
  created() {
    let ua = navigator.userAgent.toLowerCase();  
    if(ua.match(/MicroMessenger/i)=="micromessenger") { 
        this.isShow = true 
    } else {  
        this.isShow = false 
    }  
 
  }
};
</script>
<style lang="scss" scoped>
.box{
    width: 10rem;
    height: 100%;
    background-image: url(../assets/images/tip.jpeg);
    position: fixed;
    left: 50%;
    margin-left: -5rem;
    top: 0;
    z-index: 9999999;
    background-size: 100% 100%;
}
</style>