<template>
  <!-- 全局提示框 -->
  <div v-show="visible" class="dialog-tips dialog-center">
    <div>{{message}}</div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      visible: false,
      message: ""
    };
  }
};
</script>
<style lang="scss">
.dialog-tips {
  position: fixed;
  z-index: 10000;
  max-width: 9rem;
  padding: 10px 20px;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #fff;
  border-radius: 5px;
  .dialog-tips-icon {
    width: 54px;
    height: 54px;
    // @extend %bg-contain;
    display: inline-block;
    margin-bottom: 13px;
  }
}
.dialog-center {
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
</style>