{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/pank.css">
<script type="text/javascript">
var type = '{$type}';
var category = '{$category}';
</script>
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">{$title}</p>
            <a href="{:url('search/index')}" class="nav_icon ripple">
                <img src="__INDEX__/images/search_icon.png">
            </a>
        </div>
    </div>
    <ul class="main" id="bookList"></ul>
    <p id="loadMore" style="text-align:center;line-height:40px;color:#666;font-size:14px;display:none;"></p>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/book.more.js?v=3"></script>
{/block}