{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/directory.css">
{/block}
{block name="body"}
    <div class="copyBody">
        <div id="directory_box">
            <!-- 蒙层 -->
            <div id="mongolia"></div>
            <!-- nav -->
            <div class="header red_bgcolor_themes">
                <div class="nav">
                    <a href="javascript:history.back(-1)" class="nav_icon ripple">
                        <img src="__INDEX__/images/back.png">
                    </a>
                    <p class="nav_title">目录</p>
                    <div id="show_my" class="nav_icon ripple">
                        <img src="__INDEX__/images/detail_top_icon.png">
                    </div>

                </div>
                <div class="nav_type_list">
                    <div class="nav_left" id="doSort">
                        <img src="__INDEX__/images/swap_vert.png">
                        <span id="sortStr">倒序</span>
                    </div>
                    <span style="flex: 1;"></span>
                    <div class="nav_right ripple">
                        <p>分頁<span class="sort_title">{$list[0]['title']}</span></p>
                        <img src="__INDEX__/images/jiantou.png">
                    </div>
                    <!-- 选择章节 -->
                    <div class="choose_popup_bg"></div>
                    <ul class="choose_popup_main">
                    	{volist name="list" id="hv" key="hk"}
	                        <li class="ripple dir-item" data-number="{$hk}">
	                            <span class="{eq name='hv.is_check' value='yes'}yuan1{/eq} red_bgcolor_themes page_check_line"></span>
	                            <span class="yuan2 red_border_color_themes"></span>
	                            <span class="font sort_title">{$hv.title}</span>
	                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
            {volist name="list" id="bv"}
            	<ul class="list content-ul" id="{$bv.id}" {neq name="bv.is_check" value="yes"}style="display:none;"{/neq}>
            		{volist name="bv.list" id="cv"}
            			<li>
		                    <a href="javascript:;" onclick="javascript:toRead('{$book_id}','{$cv.number}');">
		                    	<div class="cover">
		                    		<img src="{$cv.src}">
		                    	</div>
		                        <div class="list_right">
		                            <p class="title_bar">
		                                <span class="title">{$cv.name}</span>
		                                {gt name="cv.money" value="0"}
		                                	<span class="icon red_bgcolor_themes">付費</span>
		                                {else /}
		                                	{eq name="cv.money" value="-1"}
		                                		<span class="icon red_bgcolor_themes">已购</span>
		                                	{/eq}
		                                {/gt}
		                            </p>
		                            <img class="next" src="__INDEX__/images/detail_next.png">
		                        </div>
		                    </a>
		                </li>
            		{/volist}
                </ul>
            {/volist}
            <p class="btn_bar_bottom">
                <span class="ripple red_color_themes no pageBtn" id="prevBtn">上50話</span>
                <span class="ripple red_color_themes no pageBtn" id="nextBtn">下50話</span>
            </p>
        </div>
        <!-- 个人中心框 -->
        <div class="my">
        	{empty name="user"}
            	<div class="not_login">
	                <p class="status_font">登錄後實時同步閱讀進度</p>
	                <a href="{:url('login/index')}" class="btn red_bgcolor_themes">登錄</a>
	            </div>
            {else /}
	            <div class="login">
	                <div class="info">
	                    <img class="logo" src="{$user.headimg}">
	                    <div class="right">
	                        <p class="phone red_color_themes">{$user.username}</p>
	                        <p class="status">{notempty name="user.viptime"}{$user.viptime}{else /}未開通VIP{/notempty}</p>
	                        
	                        <p class="surplus red_color_themes">剩餘書幣：{$user.money}</p>
	                    </div>
	                </div>
	                <button class="btn red_bgcolor_themes" onclick="javascript:location.href='/index/User/logOut';">退出</button>
	            </div>
            {/empty}
            <!-- main -->
            <ul class="main">
                <li>
                    <a href="/">
                        <img class="my_icon" src="__INDEX__/images/my_1.png">
                        <p>
                            <span>推薦</span>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </p>
                    </a>
                </li>
                <li>
                    <a href="{:url('book/category')}">
                        <img class="my_icon" src="__INDEX__/images/my_2.png">
                        <p>
                            <span>分類</span>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </p>
                    </a>
                </li>
                <li>
                    <a href="{:url('book/collect')}">
                        <img class="my_icon" src="__INDEX__/images/my_3.png">
                        <p>
                            <span>我的漫畫</span>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </p>
                    </a>
                </li>
        </ul></div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/book.chapter.js"></script>
{/block}