{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/pank.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">排行榜</p>
            <a href="{:url('search/index')}" class="nav_icon ripple">
                <img src="__INDEX__/images/search_icon.png">
            </a>

        </div>
        <p class="nav_type_list">
            <span class="ripple date active" id="1">暢銷榜</span>
            <span class="ripple date" id="2">人氣榜</span>
            <span class="ripple date" id="3">連載榜</span>
            <span class="ripple date" id="4">完結榜</span>
            <i id="line" style="left:0%;"></i>
        </p>
    </div>
    {if condition="$category==2"}
        {:getBlock('book_rank_all','novel')}
    {else /}
        {:getBlock('book_rank_all','other')}
    {/if}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/book.rank.js"></script>
{/block}