{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/detail.css">
{/block}
{block name="body"}
    <div class="copyBody">
        <div id="fab" class="red_bgcolor_themes">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- 详情框 -->
        <div id="detail_box">
            <!-- 蒙层 -->
            <div id="mongolia"></div>
            <!-- 详情 -->
            <div class="header red_bgcolor_themes">
                <div class="nav">
                    <a href="javascript:void(0);" onclick="javascript:window.history.go(-1);" class="nav_icon ripple">
                        <img src="__INDEX__/images/back.png">
                    </a>
                    <p class="nav_title">{$book.name}</p>
                    <div id="show_my" class="nav_icon ripple">
                        <img src="__INDEX__/images/detail_top_icon.png">
                    </div>
                </div>
            </div>

            <div class="info_box">
                <div class="img_box">
                    <img class="cover" src="{$book.detail_img}">
                    {eq name="book.over_type" value="1"}
                    	<p class="status_serialization status_icon_short"></p>
                    {else /}
                    	<p class="status_end status_icon_short"></p>
                    {/eq} 
                </div>
                <h1>
                    <p>{$book.name}({eq name="book.over_type" value="1"}连载中{else /}完结{/eq})</p>
                    {notempty name="book.text_tag"}
                    	{volist name="book.text_tag" id="tv"}
                    		<span style="background-color: #FF9700;">{$tv}</span>
                    	{/volist}
                    {/notempty}
                </h1>
                <p class="author">作者:<span>{$book.author}</span>類型: <span>{$book.category}</span></p>
                <div class="read_info">
                    <div class="start">
                        <img src="__INDEX__/images/detail_star.png">
                        <span>{$book.star}</span>
                    </div>
                    <div class="read">
                        <img src="__INDEX__/images/detail_eyes.png">
                        <span>{$book.hot_num}</span>
                    </div>
                </div>
                <div class="btn_bar">
                    {eq name="is_collect" value="yes"}
                    	<div class="btn red_color_themes subscribe subscribed red_border_color_themes ripple" data-flag="no">已加入書架</div>
                    {else /}
                    	<div class="btn red_color_themes subscribe red_border_color_themes ripple" id="doCollect" data-flag="yes">訂閱追更</div>
                    {/eq}
                    <a href="javascript:void(0);" onclick="javascript:toRead('{$book.id}',{$read_number});" class="btn chooseList_red_color_themes start_read ripple">{eq name="read_number" value="1"}立即閱讀{else /}继续阅读{/eq}</a>
                </div>
                <p class="introduce">
                    {$book.summary}
                </p>
                <ul class="red_list">
                	{notempty name="book.end_chapter"}
                    <li>
                        <a href="javascript:;" onclick="javascript:toRead('{$book.id}','{$book.end_chapter.number}');">
                            <img class="red_list_icon" src="__INDEX__/images/detail_access_time.png">
                            <p class="title">最新</p>
                            <p class="item">{$book.end_chapter.name}&nbsp{$book.end_chapter.create_time}</p>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </a>
                    </li>
                    <li class="ripple">
                        <a href="{:my_url('chapter',['book_id'=>$book['id']])}">
                            <img class="red_list_icon" src="__INDEX__/images/detail_list.png">
                            <p class="title">目錄（小圖快速看）</p>
                            <p class="item">共{$book.chapter_num}話</p>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </a>
                    </li>
                    {else /}
                    	<li class="ripple">
	                        <a href="javascript:void(0);">
	                            <img class="red_list_icon" src="__INDEX__/images/detail_list.png">
	                            <p class="title">目錄（小圖快速看）</p>
	                            <p class="item">共{$book.chapter_num}話</p>
	                            <img class="next" src="__INDEX__/images/detail_next.png">
	                        </a>
	                    </li>
                    {/notempty}
                </ul>
            </div>

            <!-- 广告 -->
            {:getAd(3)}
			{notempty name="likes"}
            <div class="maybe">
                <div class="titleh">
                    <h3>猜你喜歡</h3>
                </div>
                <ul class="maybe_list">
                	{volist name="likes" id="lv"}
	                    <li class="item_1_bar item_1_bar_not_line" onclick="javascript:toInfo('{$lv.id}');">
	                        <div class="img_box">
	                            <img class="cover" src="{$lv.cover}">
	                            {eq name="lv.over_type" value="1"}
			                    	<p class="status_serialization status_icon_short"></p>
			                    {else /}
			                    	<p class="status_end status_icon_short"></p>
			                    {/eq} 
	                        </div>
	                        <div class="right">
	                            <h2 class="title red_color_themes">{$lv.name}</h2>
	                            <p class="content">{$lv.summary}</p>
	                            <div class="info">
	                                <span>作者：{$lv.author}</span>
	                                <div class="read">
	                                    <img src="__INDEX__/images/eyes.png">
	                                    <span>{$lv.hot_num}</span>
	                                </div>
	                                <div class="start">
	                                    <img src="__INDEX__/images/star.png">
	                                    <span>{$lv.star}</span>
	                                </div>
	                            </div>
	                        </div>
	                    </li>
                    {/volist}
                </ul>
            </div>
            {/notempty}
        </div>
        <div class="my">
            {empty name="user"}
            <div class="not_login">
                <p class="status_font">登錄後實時同步閱讀進度</p>
                <a href="{:url('login/index')}" class="btn red_bgcolor_themes">登錄</a>
            </div>
            {else /}
            <!-- 已登录 -->
            <div class="login">
                <div class="info" onclick="javascript:toUserIndex();">
                    <img class="logo" src="{$user.headimg}">
                    <div class="right">
                        <p class="phone red_color_themes">{$user.username}</p>
                        <p class="status">{notempty name="user.viptime"}{$user.viptime}{else /}未開通VIP{/notempty}</p>
                        
                        <p class="surplus red_color_themes">剩餘書幣：{$user.money}</p>
                    </div>
                </div>
                <button class="btn red_bgcolor_themes" onclick="javascript:location.href='/index/User/logOut';">退出</button>
            </div>
            {/empty}
            <!-- main -->
            <ul class="main">
                <li>
                    <a href="/">
                        <img class="my_icon" src="__INDEX__/images/my_1.png">
                        <p>
                            <span>推薦</span>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </p>
                    </a>
                </li>
                <li>
                    <a href="{:url('category')}">
                        <img class="my_icon" src="__INDEX__/images/my_2.png">
                        <p>
                            <span>分類</span>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </p>
                    </a>
                </li>
                <li>
                    <a href="{:url('collect')}">
                        <img class="my_icon" src="__INDEX__/images/my_3.png">
                        <p>
                            <span>我的漫畫</span>
                            <img class="next" src="__INDEX__/images/detail_next.png">
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 订阅弹窗 -->
    <div class="subscribe_popup">
        <div class="subscribe_box">
            <p class="subscribe_font">點擊確認加入書架，章節更新實時同步，查找更方便。</p>
            <p class="btn_bar">
                <span class="red_color_themes subscribe_cancel">取消</span>
                <span class="red_color_themes bold subscribe_confirm" onclick="javascript:doCollect('{$book.id}');">確定</span>
            </p>
        </div>
    </div>


    <!-- 提示弹窗 -->
    <div class="tips_popup">
        <img class="tips_img" src="__INDEX__/images/mood.png">
        <p class="tips_font">加入成功</p>
    </div>

    <!-- 更多信息弹窗 -->
    <div class="more">
        <div class="more_bg"></div>
        <div class="more_main">
            <div class="item_1_bar item_1_bar_not_line">
                <div class="img_box">
                    <img class="cover" src="{$book.cover}">
                    {eq name="book.over_type" value="1"}
                    	<p class="status_serialization status_icon_short"></p>
                    {else /}
                    	<p class="status_end status_icon_short"></p>
                    {/eq} 
                </div>
                <div class="right">
                    <h2 class="title red_color_themes">{$book.name}</h2>
                    <p class="content">{$book.summary}</p>
                    <div class="info">
                        <span>作者：{$book.author}</span>
                        <div class="read">
                            <img src="__INDEX__/images/eyes.png">
                            <span>{$book.hot_num}</span>
                        </div>
                        <div class="start">
                            <img src="__INDEX__/images/star.png">
                            <span>{$book.star}</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="more_item">
                <li class="ripple">
                    <img class="more_icon" src="__INDEX__/images/more_item_1.png">
                    <p class="more_font_l">自動購買下一話</p>
                    <input type="checkbox" class="checke" id="checke" onchange="javascript:doSubBook('{$book.id}',this);" {eq name="is_sub" value="yes"}checked{/eq}>
                </li>
                <li class="ripple share">
                    <img class="more_icon" src="__INDEX__/images/more_item_share.png">
                    <p class="more_font_l">分享</p>
                    <p class="more_font_s">赚书币免费看</p>
                    <img class="more_small_icon mar" src="__INDEX__/images/more_item_q.png">
                    <img class="more_small_icon" src="__INDEX__/images/detail_next.png">
                </li>
            </ul>
            <!-- 弹出复制框 -->
            <div class="copy_box">
                <p class="title">赚书币免费看</p>
                <p class="content">複製如下連結，分享給親密好友，附近的人，QQ群，微信群，論壇等，一旦有人點擊，即刻獲贈30書幣，每人每日有三次机会。</p>
                <input class="copy_value" type="text" value="{$share_url}">
                <p id="copy" class="red_color_themes btn" data-clipboard-text="{$share_url}">復制鏈接</p>
            </div>
        </div>
    </div>
    <p class="copy_succ_box">鏈接已復制到粘貼板</p>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/libs/clipboard.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/book.info.js"></script>
{/block}