{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/today.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">今日更新</p>
            <a href="{:url('search/index')}" class="nav_icon ripple">
                <img src="__INDEX__/images/search_icon.png">
            </a>
        </div>
        <p class="nav_type_list">
        	{volist name="list" id="t"}
        		<span class="ripple date {eq name='t.num' value='7'}active{/eq}" id="{$t.num}">{$t.name}</span>
        	{/volist}
            <i id="line_today"></i>
        </p>
    </div>
    {volist name="list" id="v"}
    <ul class="main show-ul" id="show-ul-{$v.num}" {neq name="v.num" value="7"}style="display:none;"{/neq}>
    	{notempty name="v.list"}
    		{volist name="v.list" id="cv"}
    			<li class="item_1 item_1_line" onclick="javascript:toInfo('{$cv.id}');">
		            <div class="img_box">
		                <img class="cover" src="{$cv.detail_img}">
		                {eq name="cv.over_type" value="1"}
		               		<p class="status_serialization"></p>
		               	{else /}
		               		<p class="status_end"></p>
		                {/eq}
		                {eq name="cv.is_alone" value="1"}
		                	<span class="icon_only"></span>
		                {/eq}
		                <h4>{$cv.name}</h4>
		                <div class="info">
		                    <div class="read">
		                        <img src="__INDEX__/images/eyes.png">
		                        <span>{$cv.hot_num}</span>
		                    </div>
		                    <div class="start">
		                        <img src="__INDEX__/images/star.png">
		                        <span>{$cv.star}</span>
		                    </div>
		                </div>
		            </div>
		            <p class="introduce">{$cv.summary}</p>
		        </li>
    		{/volist}
    	{/notempty}
    </ul>
    {/volist}
{/block}
{block name="footJs"}
<script src="__INDEX__/js/book.refresh.js"></script>
{/block}