{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/read.css?v=7">
{/block}
{block name="body"}
    <div class="copyBody">
        <!-- 详情框 -->
        <div id="read_box">
            <!-- 蒙层 -->
            <div id="mongolia"></div>
            <!-- 详情 -->
            <div class="header red_bgcolor_themes">
                <div class="nav">
                    <a href="javascript:void(0);" onclick="javascript:window.history.go(-1);" class="nav_icon ripple">
                        <img src="__INDEX__/images/back.png">
                    </a>
                    <div class="nav_read_title">
                        <p class="nav_read_title_name">{$book.name}</p>
                        <p class="nav_read_title_name_number">{$chapter.name}</p>
                    </div>
                    <div style="width:.8rem;height:.8rem;overflow:hidden;margin-right:.1rem;">
                    	<a href="/index/novel/index">
                    		<img src="__INDEX__/images/home.png" style="width:100%;height:auto;" />
                    	</a>
                    </div>
                    <div id="show_info" class="nav_icon ripple">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div id="read_main" class="read_main">
                <div id="read_main_mongolia"></div>
                <div class="bottom_bar">
                    <div class="icon_box" onclick="javascript:location.href='/index/book/chapter.html?book_id={$book.id}';">
                        <img src="__INDEX__/images/read_bottom_2.png">
                    </div>
                    {gt name="number.prev" value="0"}
                    	<p class="change_list red_color_themes" id="before" onclick="javascript:toRead('{$book.id}','{$number.prev}');">上一章</p>
                    {else /}
                    	<p class="change_list" id="before" style="color:#e0e0e0;">上一章</p>
                    {/gt}
                    {gt name="number.next" value="0"}
                    	<p class="change_list red_color_themes" id="after" onclick="javascript:toRead('{$book.id}','{$number.next}');">下一章</p>
                    {else /}
                    	<p class="change_list" id="after" style="color:#e0e0e0;">下一章</p>
                    {/gt}
                    <div class="icon_box" id="share">
                        <img src="__INDEX__/images/read_bottom_1.png">
                    </div>
                </div>
                {eq name="read_type" value="1"}
                    <div class="tmpbody">
                    <div class="fixedScrool">
                        <div class="backgrounFont">
                            <a href="javascript:;" class="background_A background1 active"></a>
                            <a href="javascript:;" class="background_A background2"></a>
                            <a href="javascript:;" class="background_A background3"></a>
                            <a href="javascript:;" class="background_A background4"></a>
                            <a href="javascript:;" class="background_A background5"></a>
                            <a href="javascript:;" class="background_A background6"></a>
                            <a href="javascript:;" class="font_A">A+</a>
                            <a href="javascript:;" class="font_A">A-</a>
                        </div>
                    </div>
                    <div class="fictionCount">
                        <div class="fontCount">
                            {:getBlock($number['current'],$dir)}
                        </div>
                    </div>
                    </div>
                {else /}
                	<img src="{$chapter.src}" />
                	<div class="topDiv"></div>
                {/eq}
            </div>
        </div>
    </div>
    <!-- 更多信息弹窗 -->
    <div class="more">
        <div class="more_bg"></div>
        <div class="more_main">
            <div class="item_1_bar item_1_bar_not_line">
                <div class="img_box">
                    <img class="cover" src="{$book.cover}">
                    {eq name="book.over_type" value="1"}
                    	<p class="status_serialization status_icon_short"></p>
                    {else /}
                    	<p class="status_end status_icon_short"></p>
                    {/eq} 
                </div>
                <div class="right">
                    <h2 class="title red_color_themes">{$book.name}</h2>
                    <p class="content">{$book.summary}</p>
                    <div class="info">
                        <span>作者：{$book.author}</span>
                        <div class="read">
                            <img src="__INDEX__/images/eyes.png">
                            <span>{$book.hot_num}</span>
                        </div>
                        <div class="start">
                            <img src="__INDEX__/images/star.png">
                            <span>{$book.star}</span>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="more_item">
                <li class="ripple">
                    <img class="more_icon" src="__INDEX__/images/more_item_1.png">
                    <p class="more_font_l">自動購買下一章</p>
                    <input type="checkbox" class="checke" id="checke" onchange="javascript:doSubBook('{$book.id}',this);" {eq name="is_sub" value="yes"}checked{/eq}>
                </li>
                <li class="ripple share">
                    <img class="more_icon" src="__INDEX__/images/more_item_share.png">
                    <p class="more_font_l">分享</p>
                    <p class="more_font_s">赚书币免费看</p>
                    <img class="more_small_icon mar" src="__INDEX__/images/more_item_q.png">
                    <img class="more_small_icon" src="__INDEX__/images/detail_next.png">
                </li>
            </ul>
            <!-- 弹出复制框 -->
            <div class="copy_box">
                <p class="title">赚书币免费看</p>
                <p class="content">複製如下連結，分享給親密好友，附近的人，QQ群，微信群，論壇等，一旦有人點擊，即刻獲贈30書幣，每人每日有三次机会。</p>
                <input class="copy_value" type="text" value="{$share_url}">
                <p id="copy" class="red_color_themes btn" data-clipboard-text="{$share_url}">復制鏈接</p>
            </div>
        </div>
    </div>
    <p class="copy_succ_box">鏈接已復制到粘貼板</p>
    <!-- 需要订阅 -->
    {eq name="read_type" value="4"}
	    <div class="price_box">
	        <p class="top_font">本章價格<span>{$chapter.money}書幣</span></p>
	        <p class="tips">開通vip，海量書籍免費看</p>
	        <div class="operation">
	            <p>自動購買下壹章</p>
	            <input type="checkbox" class="checke" id="checke" onchange="javascript:doSubBook('{$book.id}',this);" {eq name="is_sub" value="yes"}checked{/eq}>
	        </div>
	        <button class="btn red_bgcolor_themes" onclick="javascript:doBuyNumber('{$book.id}','{$number.current}');">訂閱本章節</button>
	        <p class="bottom_bar">
	            <span class="number">餘額：{$user_money}書幣</span>
	            <a class="link red_border_color_themes red_color_themes" href="{:my_url('charge/index',['book_id'=>$book['id']])}">開通VIP，免費閱讀</a>/
	            <span class="link red_border_color_themes red_color_themes">分享賺書幣</span>
	        </p>
	    </div>
    {/eq}
    <!-- 需要订阅 -->
    {eq name="read_type" value="3"}
	    <div class="price_box">
	        <p class="top_font">本章價格<span>書幣</span></p>
	        <p class="tips">開通vip，海量書籍免費看</p>
	        <div class="operation">
	            <p>自動購買下壹章</p>
	            <input type="checkbox" class="checke" id="checke" onchange="javascript:doSubBook('{$book.id}',this);" {eq name="is_sub" value="yes"}checked{/eq}>
	        </div>
	        <button class="btn red_bgcolor_themes" onclick="javascript:doBuyNumber('{$book.id}','{$number.current}');">訂閱本章節</button>
	        <p class="bottom_bar">
	            <span class="number">餘額：{$user_money}書幣</span>
	            <a class="link red_border_color_themes red_color_themes" href="{:my_url('charge/index',['book_id'=>$book['id']])}">開通VIP，免費閱讀</a>/
	            <span class="link red_border_color_themes red_color_themes">分享賺書幣</span>
	        </p>
	    </div>
    {/eq}
    <!-- 需要登录 -->
    {eq name="read_type" value="2"}
	    <div class="price_box">
	        <p class="top_font">本章價格<span>{$chapter.money}書幣</span></p>
	        <p class="tips">開通vip，海量書籍免費看</p>
	        <div class="operation">
	            <p>自動購買下壹章</p>
	            <input type="checkbox" class="checke" id="checke" onchange="javascript:toLogin();">
	        </div>
	        <button class="btn red_bgcolor_themes" onclick="javascript:toLogin();">登錄閱讀</button>
	    </div>
    {/eq}
    <div class="sub_popup">
        <img class="tips_img" src="__INDEX__/images/mood.png">
        <p class="tips_font">加入成功</p>
    </div>
{neq name="read_type" value="1"}
<script type="text/javascript">$('body').css('overflow','hidden');</script>
{/neq}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/libs/clipboard.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/book.read.js?v=4"></script>
<script type="text/javascript" src="__INDEX__/js/book.readnovel.js?v=10"></script>
{/block}