{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/recharge.css?date=20200321">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">儲值中心</p>
            <div class="nav_icon">
                <img src="__INDEX__/images/security.png">
            </div>
        </div>
    </div>

    <div class="info_box">
        <div class="my_info">
            <img class="headimg" src="{$cur.headimgurl}">
            <div class="right">
                <p class="phone">{$cur.username}</p>
                <p class="id">用户ID:{:addZero($cur['id'])}</p>
            </div>
        </div>
        <div class="info">
            <div class="info_item">
                <div class="info_item_left">
                    <img src="__INDEX__/images/my_zs.png">
                    <p class="font1">書幣</p>
                </div>
                <div class="info_item_right">
                    <p class="font2">{$cur.money}</p>
                    <p class="font3">剩餘數量</p>
                </div>
            </div>
            <div class="info_item">
                <div class="info_item_left">
                    <img src="__INDEX__/images/my_hg.png">
                    <p class="font1">VIP</p>
                </div>
                <div class="info_item_right">
                	{gt name="cur.viptime" value="0"}
                    <p class="font4">{eq name="cur.viptime" value="1"}永久{else /}{:date('Y.m.d',$cur['viptime'])}{/eq}</p>
                    <p class="font3">有效期至</p>
                    {else /}
                    <p class="font2">未開通</p>
                    <p class="font3">有效期至</p>
                    {/gt}
                </div>
            </div>
        </div>
    </div>
	{notempty name="coins"}
    <div class="re_box">
        <div class="top">
            <img class="line" src="__INDEX__/images/login_line_left.png">
            <img class="zs" src="__INDEX__/images/my_zs.png">
            <span class="font">書幣充值</span>
            <img class="line" src="__INDEX__/images/login_line_right.png">
        </div>
        <div class="choose_box">
       		{volist name="coins" id="cv"}
      			<input type="radio" id="cid_{$cv.id}" name="charge_id" value="{$cv.id}" data-money="{$cv.money}" class="choose_recharge" {eq name="cv.is_check" value="1"}checked="checked"{/eq} hidden>
	            <label for="cid_{$cv.id}" class="choose_recharge_item">
	                <div class="choose_recharge ripple">
	                    <p class="price red_color_themes">{$cv.money}元</p>
	                    <p class="discount">{$cv.content.coin}書幣{gt name="cv.content.send_coin" value="0"}<span class="red_color_themes">+ 贈送{$cv.content.send_coin}書幣</span>{/gt}</p>
	                </div>
	                {eq name="cv.is_hot" value="1"}
	                	<img class="hot_icon" src="__INDEX__/images/hot.png">
	                {/eq}
	                {eq name="cv.pay_times" value="1"}
	                	<div class="left_top_icon">
		                    <span class="icon_first_re"></span>
		                </div>
	                {/eq}
	            </label>
       		{/volist}
        </div>
    </div>
    {/notempty}
    {notempty name="vips"}
	    <div class="re_box">
	        <div class="top">
	            <img class="line" src="__INDEX__/images/login_line_left.png">
	            <img class="zs" src="__INDEX__/images/my_zs.png">
	            <span class="font">vip充值</span>
	            <img class="line" src="__INDEX__/images/login_line_right.png">
	        </div>
	        <div class="choose_box">
	        	{volist name="vips" id="vv"}
	        		<input type="radio" id="vid_{$vv.id}" name="charge_id" value="{$vv.id}" data-money="{$vv.money}" class="choose_recharge" {eq name="vv.is_check" value="1"}checked="checked"{/eq} hidden>
		            <label for="vid_{$vv.id}" class="choose_recharge_item">
		                <div class="choose_recharge ripple">
		                	{switch name="vv.content.vip_type"}
		                		{case value="1"}
		                			<p class="price red_color_themes">日卡 / {$vv.money}元</p>
		                    		<p class="discount">開通VIP1天</p>
		                		{/case}
		                		{case value="2"}
		                			<p class="price red_color_themes">月卡 / {$vv.money}元</p>
		                    		<p class="discount">開通VIP30天</p>
		                		{/case}
		                		{case value="3"}
		                			<p class="price red_color_themes">季卡 / {$vv.money}元</p>
		                    		<p class="discount">開通VIP90天</p>
		                		{/case}
		                		{case value="4"}
		                			<p class="price red_color_themes">半年卡 / {$vv.money}元</p>
		                    		<p class="discount">開通VIP180天</p>
		                		{/case}
		                		{case value="5"}
		                			<p class="price red_color_themes">年卡 / {$vv.money}元</p>
		                    		<p class="discount">開通VIP365天</p>
		                		{/case}
		                		{case value="6"}
		                			<p class="price red_color_themes">至尊卡 / {$vv.money}元</p>
		                    		<p class="discount">開通VIP-终身有效</p>
		                		{/case}
		                	{/switch}
		                </div>
		                {eq name="vv.is_hot" value="1"}
		                	<img class="hot_icon" src="__INDEX__/images/hot.png">
		                {/eq}
		                {eq name="vv.pay_times" value="1"}
		                	<div class="left_top_icon">
			                    <span class="icon_first_re"></span>
			                </div>
		                {/eq}
		            </label>
	        	{/volist}
	        </div>
	    </div>
	{/notempty}
    <!-- 充值方式 -->
    <div class="re_type">
        <p class="re_type_title">選擇支付方式<span>1元=100書幣</span></p>
        {notempty name="paylist"}
        	{volist name="paylist" id="pv"}
        		<input type="radio" name="pay_type" class="choose_recharge_type" id="pay_{$pv.id}" value="{$pv.id}" {eq name="pv.is_check" value="1"}checked="checked"{/eq} hidden>
		        <label for="pay_{$pv.id}" class="choose_type_item ripple">
		            <div class="recharge_type_circular"></div>
		            <div class="right">
		                <span class="left_font {eq name='pv.is_check' value='1'}red_color_themes{/eq}">{$pv.summary}</span>
		                <span class="right_font">{$pv.name}</span>
		                <img class="choose_type_icon" src="__INDEX__/images/{$pv.icon}">
		            </div>
		        </label>
        	{/volist}
        {/notempty}
    </div>

    <button class="pay_recharge red_color_themes ripple" onclick="javascript:doChargeSub();">立即支付{gt name="check_money" value="0"}{$check_money}元{/gt}</button>

    <div class="tips_box">
        <p class="tips">
            <img class="left" src="__INDEX__/images/login_line_left.png">
            溫馨提示:
            <img class="right" src="__INDEX__/images/login_line_right.png">
        </p>
        <p class="main">· VIP用戶可免費閱讀所有VIP作品！</p>
        <p class="main">· 儲值遇到問題請聯系漁網漫畫客服。</p>
        <p class="main">· 歡迎您使用支付寶/微信儲值書幣或開通VIP。</p>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/charge.index.js?v=1"></script>
{/block}
