{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/index.css?v=5">
{/block}
{block name="jsValue"}{/block}
{block name="body"}
    <!-- header -->
    <div class="header red_bgcolor_themes" id="header">
        <div>
        {volist name='web_block' id='block'}
            {if condition="$block.is_on==1"}
            {if condition="$block.key=='cartoon'"}
                <a href="{$block.url}">
                {notempty name="logo"}
                    <img class="logo" src="{$logo}">
                {/notempty}
                </a>
            {else /}
                <a href="{$block.url}" style="margin-left: 20px;">
                    <a href="{$block.url}">
                        {notempty name="block.logo"}
                        <img class="logo" src="{$block.logo}">
                        {/notempty}
                    </a>
                </a>
            {/if}{/if}
        {/volist}
        </div>
        <a href="{:url('search/index')}" class="search_main">
            <img class="search_icon" src="__INDEX__/images/search_icon.png">
        </a>
    </div>
    <!-- banner -->
    <div class="banner banner_theme_bg">
        {:getBlock('index_banner','other')}
    </div>
    <!-- item -->
    <div class="type">
        <a href="{:url('book/refresh')}">
            <img src="__INDEX__/images/index_item1.png">
            <span>今日更新</span>
        </a>
        <a href="{:url('book/rank')}">
            <img src="__INDEX__/images/index_item2.png">
            <span>排行榜</span>
        </a>
        <a href="{:url('charge/index')}">
            <img src="__INDEX__/images/index_item3.png">
            <span>储值中心</span>
        </a>
    </div>
    <!-- 广告 -->
    {:getAd(1)}
    <!-- 列表 -->
    <!-- 大家都在看 -->
    {:getBlock('index_content_beast','other')}
    <!-- 每日上新 -->
    {:getBlock('index_content_news','other')}
	{:getBlock('index_content_free','other')}

    {:getBlock('index_content_rank','other')}

    <!-- 广告 -->
    {:getAd(2)}
	{:getBlock('index_content_recommend','other')}
    {:getBlock('index_content_all','other')}
    <div style="height:100px;"></div>
    {:createFooterHtml(1)}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/libs/swiper.js"></script>
<script type="text/javascript" src="__INDEX__/js/index.index.js?v=1"></script>
{/block}