{extend name="public/base"}
{block name="title"}登录{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/login.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">注冊賬號</p>
        </div>
    </div>
    <ul class="list">
        <li>
            <img class="icon" src="__INDEX__/images/login_user.png">
            <div class="common_input_box red_border_color_themes">
                <input class="common_input" id="user" maxlength="12" value="{$nickname}" type="text" spellcheck="false" placeholder="輸入用戶名">
                <label for="user" class="scale_small">用户</label>
            </div>
        </li>
        <li>
            <img class="icon" src="__INDEX__/images/login_code.png">
            <div class="common_input_box red_border_color_themes">
                <input class="common_input" type="text" value="{$password}" maxlength="16" placeholder="輸入密碼" id="pwd">
                <label for="pwd"  class="scale_small">密碼</label>
            </div>
        </li>
    </ul>
    <p class="btn red_color_themes" onclick="javascript:doRegister();">注 冊</p>
    <div class="tips">
        <p class="title">
            <img class="left" src="__INDEX__/images/login_line_left.png">
            溫馨提示:
            <img class="right" src="__INDEX__/images/login_line_right.png">
        </p>
        <p class="main">· 建议使用手机号或者QQ号作为账号，方便记忆。</p>
        <p class="main">· 輸入任意文字或字母或數字均可注冊，建議使用便於記憶的用戶名和密碼。</p>
        <p class="main">· 本站暫時開放邀請制，沒有邀請碼可不填寫。請及時下載APP或添加書簽。</p>
        <p class="main">· 注冊後請牢記用戶名和密碼，如若遺忘，請及時聯系歪歪漫畫客服找回。</p>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.input.js"></script>
{/block}