{extend name="public/base"}
{block name="title"}登录{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/login.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">短信登錄</p>
        </div>
    </div>
    <ul class="list">
        <li>
            <img class="icon" src="__INDEX__/images/login_call.png">
            <div class="common_input_box">
                <input class="common_input" id="phone" type="text" placeholder="輸入手機號碼">
                <label for="phone">手機號碼</label>
            </div>
        </li>
        <li>
            <img class="icon" src="__INDEX__/images/login_code_short.png">
            <div class="common_input_box">
                <input class="common_input" type="text" placeholder="輸入驗證碼" id="code">
                <label for="code">驗證碼</label>
                <span class="get_code ripple red_color_themes" onclick="javascript:sendRegCode(this);">獲取驗證碼</span>
            </div>
        </li>
    </ul>
    <p class="btn red_color_themes" onclick="javascript:doPhoneSubmit();">登 錄</p>
    <div class="tips">
        <p class="title">
            <img class="left" src="__INDEX__/images/login_line_left.png">
            溫馨提示:
            <img class="right" src="__INDEX__/images/login_line_right.png">
        </p>
        <p class="main center">登錄後可於設置中更改密碼</p>
        <p class="main center">（賬號 -> 安全設置 -> 更改密碼）</p>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.input.js"></script>
{/block}