{extend name="public/base"}
{block name="title"}登录{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/login.css">
{/block}
{block name="body"}
    <a href="javascript:history.back(-1)" class="back ripple">
        <img src="__INDEX__/images/login_back.png">
    </a>
    <ul class="list">
        <li>
            <img class="icon" src="__INDEX__/images/login_user.png">
            <div class="common_input_box">
                <input class="common_input" id="user" maxlength="12" type="text" spellcheck="false" placeholder="輸入用戶名">
                <label for="user">用户</label>
            </div>
        </li>
        <li>
            <img class="icon" src="__INDEX__/images/login_pwd.png">
            <div class="common_input_box">
                <input class="common_input" type="password" maxlength="16" placeholder="輸入密碼" id="pwd">
                <label for="pwd">密碼</label>
            </div>
        </li>
    </ul>

    <button class="bg_btn red_bgcolor_themes ripple" onclick="javascript:loginByUsername();">登 錄</button>

	<div class="lin_bar" style="justify-content:center;">
        <a href="{:url('register')}">
            <img src="__INDEX__/images/login_register.png">
            <span>注冊賬號</span>
        </a>
    </div>
    
    <div class="tips">
        <p class="title">
            <img class="left" src="__INDEX__/images/login_line_left.png">
            溫馨提示:
            <img class="right" src="__INDEX__/images/login_line_right.png">
        </p>
        <p class="main">· 該站點包含成人內容，若您是未成年人，請關閉並退出。</p >
        <p class="main">· 若因瀏覽器緩存失效或版本昇級等原因導致自動登錄狀態退出，重新登錄即可。</p >
        <p class="main">· 忘記用戶名和密碼？請第一時間聯系渔网漫畫客服</p >
        <p class="main">· 部分輸入法昇級等會導致無法輸入，建議您使用系統自帶的輸入法進行輸入。</p >
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.input.js"></script>
{/block}
