{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/classification.css">
{/block}
{block name="body"}
    <div class="header nav_white_shadow">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back_2.png">
            </a>
            <p class="nav_title" style="color: #333;">分類</p>
            <a href="{:url('search/index')}" class="nav_icon ripple">
                <img id="clear_input" src="__INDEX__/images/search_icon_2.png">
            </a>
        </div>
    </div>
    <ul class="type_list">
        <li class="red_color_themes chooseList_red_color_themes" data-type="1">全部</li>
        <li class="red_color_themes" data-type="2">最新</li>
        <li class="red_color_themes" data-type="3">連載中</li>
        <li class="red_color_themes" data-type="4">已完結</li>
        <li class="red_color_themes" data-type="5">VIP</li>
    </ul>
    <ul class="main" id="bookList"></ul>
	<p id="loadMore" style="text-align:center;line-height:40px;color:#666;font-size:14px;display:none;"></p>
    {:createNovelFooterHtml(2)}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/book.category.js"></script>
{/block}