{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/cartoon.css">
{/block}
{block name="body"}
    <div class="header nav_white_shadow">
        <div class="nav">
            <a href="{:url('collect')}" class="nav_title red_color_themes {eq name='type' value='1'}nav_border{/eq}" style="text-align: center;">我的書架</a>
            <a href="{:url('readHistory')}" class="nav_title red_color_themes {eq name='type' value='2'}nav_border{/eq}" style="text-align: center;">閱讀記錄</a>
            <a href="{:url('search/index')}" class="nav_icon ripple">
                <img id="clear_input" src="__INDEX__/images/search_icon_2.png">
            </a>
        </div>
    </div>
    <div id="content-box">
    {gt name="uid" value="0"}
    	{gt name="num" value="0"}
    		<div class="top_bar">
    			{eq name="type" value="1"}
    				<img class="top_icon" src="__INDEX__/images/book.png">
		        	<p class="total">我的書架 ({$num}){gt name="update_num" value="0"}<span class="update red_bgcolor_themes">{$update_num}本已更新</span>{/gt}</p>
    			{else /}
    				<img class="top_icon" src="__INDEX__/images/reader.png">
			        <p class="total">閱讀記錄 ({$num}){gt name="update_num" value="0"}<span class="update red_bgcolor_themes">{$update_num}本已更新</span>{/gt}</p>
    			{/eq}
		        <span id="clear" class="red_color_themes ripple" onclick="javascript:clearRecord('{$type}');">清空</span>
		        <input type="checkbox" name="status" id="status" hidden>
		        <label for="status" class="status_btn ripple">編輯</label>
		    </div>
		    <ul class="book_list">
		    	{volist name="list" id="v"}
		    		<li onclick="javascript:toRead('{$v.url}');">
			            <div class="img_box">
			                <img src="{$v.cover}">
			            </div>
			            <p class="name red_color_themes">{$v.name}</p>
			            <img class="delete"  onclick="javascript:delRecord('{$v.id}','{$type}',this);" src="__INDEX__/images/delete.png">
			        </li>
		    	{/volist}
		    </ul>
    	{else /}
    		<div class="not_book">
		        <img src="__INDEX__/images/not_book.png">
		        <p>書架是空的~</p>
		    </div>
    	{/gt}
    {else /}
	    <div class="not_ligin">
	        <button class="red_bgcolor_themes" onclick="javascript:window.location.href='/index/login/index';">登 錄</button>
	        <p>登錄後實時同步閱讀進度</p>
	    </div>
    {/gt}
    </div>
    <div class="succs_pop" style="display:none;">
        <img src="__INDEX__/images/mood.png">
        <p>删除成功</p>
    </div>
    {:createNovelFooterHtml(5)}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/book.collect.js"></script>
{/block}