{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/search.css">
{/block}
{block name="body"}
    <div class="header nav_white_shadow">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back_2.png">
            </a>
            <input id="search_input" class="search_input" type="text" placeholder="書名/作者" value="爱情">
            <div class="nav_icon ripple">
                <img id="clear_input" src="__INDEX__/images/close.png">
            </div>
        </div>
    </div>
    <div class="history">
        <input id="showClearBtn" type="checkbox" hidden>
        <label for="showClearBtn" class="ripple" id="history_title">
            <div class="common_title">
                <h3>搜索歷史</h3>
            </div>
            <img class="history_icon" src="__INDEX__/images/open.png">
        </label>
        <div class="searchDiv">
       	{empty name="history"}
       		<p class="no_history">暫無搜索記錄</p>
       	{else /}
       		<ul class="history_list">
        		{volist name="history" id="v"}
        			<li class="li-item">
		                <img class="history_icon" src="__INDEX__/images/history_icon.png">
		                <p onclick="javascript:searchData('{$v}');">{$v}</p>
		                <img class="history_clear ripple" onclick="javascript:delSearch('{$v}',this);" src="__INDEX__/images/history_clear.png">
		            </li>
        		{/volist}
       		</ul>
       		<p class="clear_history red_color_themes" onclick="javascript:clearSearch(this);">清空搜索記錄</p>
       	{/empty}
       	</div>
    </div>
    <div class="box" id="type1Box" style="display:none;">
        <div class="common_title">
            <h3>大家都在看</h3>
        </div>
        <ul class="many"></ul>
        <button class="change_btn ripple" onclick="javascript:getType1Data();">換一換</button>
    </div>

    <div class="maybe" id="type5Box" style="display:none;">
        <div class="common_title">
            <h3>猜你喜歡</h3>
        </div>
        <ul class="maybe_list"></ul>
        <button class="change_btn ripple" onclick="javascript:getType5Data();">換一換</button>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript">var $category="{$category}"</script>
<script type="text/javascript" src="__INDEX__/js/search.index.js?v=1"></script>
{/block}