{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/searchResult.css">
{/block}
{block name="body"}
    <div class="header nav_white_shadow">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back_2.png">
            </a>
            <input id="search_input" class="search_input" type="text" placeholder="書名/作者" value="{$keyword}">
            <div class="nav_icon ripple">
                <img id="clear_input" src="__INDEX__/images/close.png">
            </div>
        </div>
    </div>
    <div class="not_book" style="display:none;">
    	<img src="/static/resource/index/images/not_book.png">
    	<p>查詢不到書籍~</p>
    </div>
    <div class="resultBox"></div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/search.searchresult.js"></script>
{/block}