{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/consumption.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="{:url('index')}" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">我的賬單</p>
            <div class="nav_icon">
                <img src="__INDEX__/images/security.png">
            </div>
        </div>
    </div>
    <div id="main-box"></div>
</body>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.log.js"></script>
{/block}