{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/themes.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">主題設置</p>
        </div>
    </div>
    <p class="font">點擊選擇主題顏色</p>

    <ul class="theme">
        <li id="Red" onclick="javascript:doChangeTheme('red');">Red</li>
        <li id="Green" onclick="javascript:doChangeTheme('green');">Green</li>
        <li id="Blue" onclick="javascript:doChangeTheme('blue');">Blue</li>
        <li id="Pink" onclick="javascript:doChangeTheme('pink');">Pink</li>
        <li id="Yellow" onclick="javascript:doChangeTheme('yellow');">Yellow</li>
        <li id="Orange" onclick="javascript:doChangeTheme('orange');">Orange</li>
        <li id="Gray" onclick="javascript:doChangeTheme('gray');">Gray</li>
        <li id="Black" onclick="javascript:doChangeTheme('black');">Black</li>
        <li id="Violet" onclick="javascript:doChangeTheme('violet');">Violet</li>
    </ul>
{/block}
