{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/my.css?date=20200321">
{/block}
{block name="body"}
    <div class="top">
        <div class="bg red_bgcolor_themes"></div>
        <img class="bg" src="__INDEX__/images/my_bg.png">
        <div class="href_bar">
	        <a class="theme" href="{:url('theme')}">
	            <img src="__INDEX__/images/my_yf.png">
	            <span>主题</span>
	        </a>
	        <a class="message" href="{:url('message')}" style="position:relative;">
	            <img src="__INDEX__/images/message.png">
	            {gt name="msg_num" value="0"}
	            	<span style="position:absolute;right:-.2rem;top:-.2rem;;display:inline-block;width:.4rem;height:.4rem;line-height:.4rem;text-align:center;font-size:.3rem;background-color:red;color:#fff;border-radius:50%;">{$msg_num}</span>
	        	{/gt}
	        </a>
        </div>
        <div class="my_info">
            <img class="headimg" src="{$cur.headimgurl}">
            <div class="right">
                <p class="phone">{$cur.username}</p>
                <p class="id">用户ID:{:addZero($cur['id'])}</p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="info">
            <div class="info_item">
                <div class="info_item_left">
                    <img src="__INDEX__/images/my_zs.png">
                    <p class="font1">書幣</p>
                </div>
                <div class="info_item_right">
                    <p class="font2">{$cur.money}</p>
                    <p class="font3">剩餘數量</p>
                </div>
            </div>
            <div class="info_item">
                <div class="info_item_left">
                    <img src="__INDEX__/images/my_hg.png">
                    <p class="font1">VIP</p>
                </div>
                <div class="info_item_right">
                	{gt name="cur.viptime" value="0"}
                    <p class="font4">{eq name="cur.viptime" value="1"}永久{else /}{:date('Y.m.d',$cur['viptime'])}{/eq}</p>
                    <p class="font3">有效期至</p>
                    {else /}
                    <p class="font2">未開通</p>
                    <p class="font3">有效期至</p>
                    {/gt}
                </div>
            </div>
        </div>

        <div class="vip_box">
            <div class="left">
                <p class="title">渔网漫畫<span>VIP</span></p>
                <p class="tip">開通後免費暢讀千部VIP漫畫</p>
            </div>
            <a href="{:url('charge/index')}" class="open">
                立即開通
                <img src="__INDEX__/images/my_next.png">
            </a>
        </div>

        <!-- 列表 -->
        <div class="list">
        	{eq name="contact.line_hide" value="no"}
	            <input id="showWb" type="checkbox" hidden>
	            <label class="item ripple" for="showWb">
	                <img class="icon" src="__INDEX__/images/my_list_1.png">
	                <p class="title">渔人永不走散</p>
	                <img class="next" src="__INDEX__/images/my_open.png">
	            </label>
	            <div id="close">
	            	{notempty name="contact.email"}
		                <div class="item ripple" id="showWbpop">
		                    <span class="icon"></span>
		                    <p class="title">官方郵箱</p>
		                    <p class="content">{$contact.email}</p>
		                    <img class="next" src="__INDEX__/images/detail_next.png">
		                </div>
	                {/notempty}
	                {notempty name="contact.weibo"}
		                <div class="item ripple" id="showSinapop">
		                    <span class="icon"></span>
		                    <p class="title">公众号</p>
		                    <p class="content">{$contact.weibo}</p>
		                    <img class="next" src="__INDEX__/images/detail_next.png">
		                </div>
	                {/notempty}
	            </div>
	            <div class="line"></div>
            {/eq}
            <a href="{:url('charge/index')}" class="item ripple">
                <img class="icon" src="__INDEX__/images/my_list_2.png">
                <p class="title">儲值中心</p>
                <img class="next" src="__INDEX__/images/detail_next.png">
            </a>
            <a href="{:url('log')}" class="item ripple">
                <img class="icon" src="__INDEX__/images/my_list_3.png">
                <p class="title">消費記錄</p>
                <img class="next" src="__INDEX__/images/detail_next.png">
            </a>
            <div class="line"></div>
            <a href="{:url('safe')}" class="item ripple">
                <img class="icon" src="__INDEX__/images/my_list_5.png">
                <p class="title">安全設置</p>
                {notempty name="cur.phone"}
                <p class="content">已绑定：{$cur.phone}</p>
                {/notempty}
                <img class="next" src="__INDEX__/images/detail_next.png">
            </a>
            {eq name="contact.contact_hide" value="no"}
	            <div class="item ripple" id="contact_btn">
	                <img class="icon" src="__INDEX__/images/my_list_6.png">
	                <p class="title">渔网漫画客服</p>
	                <img class="next" src="__INDEX__/images/detail_next.png">
	            </div>
	            <div class="line"></div>
            {/eq}
            <a href="{:url('auto')}" class="item ripple">
                <img class="icon" src="__INDEX__/images/my_list_7.png">
                <p class="title">自動訂閱</p>
                <img class="next" src="__INDEX__/images/detail_next.png">
            </a>
        </div>
        <button class="btn red_color_themes ripple" onclick="javascript:toLoginOut();">切换账号</button>
        <div style="height:100px;"></div>
    </div>

    <!-- 弹窗背景 -->
    <div class="popup_bg"></div>
    <!-- 邮箱弹窗 -->
    <div class="copy_box" id="wb">
        <p class="title">官方郵箱</p>
        <input class="copy_value" type="text" value="{$contact.email}">
        <p id="copywb" class="red_color_themes cbtn ripple" data-clipboard-text="{$contact.email}">復制鏈接</p>
    </div>
    <!-- 邮箱提示 -->
    <div class="tips_popup" id="wbTips">
        <p class="tips_title">提示</p>
        <p class="tips_main">官方郵箱已復制到剪切板，建議漫友們保存，方便與官方聯系，可用於反饋問題，諮詢代理細節，獲取最新官網地址等</p>
        <p class="tips_btn red_color_themes ripple" id="wbTipsClose">確定</p>
    </div>
    <!-- 微博弹窗 -->
    <div class="copy_box" id="sina">
        <p class="title">公众号</p>
        <input class="copy_value" type="text" value="{$contact.weibo}">
        <p id="copysina" class="red_color_themes cbtn ripple" data-clipboard-text="{$contact.weibo}">復制内容</p>
    </div>
    <!-- 微博提示 -->
    <div class="tips_popup" id="sinaTips">
        <p class="tips_title">提示</p>
        <p class="tips_main">公众号已復制到剪切板，建議漫友們保存，方便與官方聯系，可用於反饋問題，諮詢代理細節，獲取最新官網地址等</p>
        <p class="tips_btn red_color_themes ripple" id="sinaTipsClose">確定</p>
    </div>

    <!-- 联系弹窗 -->
    <div class="contact" id="contact">
        <p class="contact_font1">選擇聯系方式</p>
        <p class="contact_font2">客服工作時間：8:00-24:00</p>
        <div class="contanct_bar">
        	{notempty name="contact.line"}
            <div class="contanct_item" id="line">
                <img src="__INDEX__/images/line.png">
                <span>line</span>
            </div>
            {/notempty}
            {notempty name="contact.qq"}
            <div class="contanct_item" id="qq">
                <img src="__INDEX__/images/qq.png">
                <span>qq</span>
            </div>
            {/notempty}
            {notempty name="contact.weixin"}
            <div class="contanct_item" id="wechat">
                <img src="__INDEX__/images/wechat.png">
                <span>wechat</span>
            </div>
			{/notempty}
        </div>
    </div>

    <!-- line弹窗 -->
    <div class="copy_box common_copy" id="line_pop">
        <p class="title">客服Line號</p>
        <input class="copy_value" type="text" value="{$contact.line}" />
        <p id="copyline" class="red_color_themes cbtn ripple" data-clipboard-text="{$contact.line}">復制內容</p>
    </div>

    <!-- qq弹窗 -->
    <div class="copy_box common_copy" id="qq_pop">
        <p class="title">客服QQ號</p>
        <input class="copy_value" type="text" value="{$contact.qq}" />
        <p id="copyqq" class="red_color_themes cbtn ripple" data-clipboard-text="{$contact.qq}">復制內容</p>
    </div>
    <!-- 微信弹窗 -->
    <div class="copy_box common_copy" id="wechat_pop">
        <p class="title">客服微信號</p>
        <input class="copy_value" type="text" value="{$contact.weixin}" />
        <p id="copywechat" class="red_color_themes cbtn ripple" data-clipboard-text="{$contact.weixin}">復制內容</p>
    </div>

    <!-- footer -->
    {:createFooterHtml(4)}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js//libs/clipboard.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/user.index.js"></script>
{/block}