{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/login.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="{:url('safe')}" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">{eq name="type" value="1"}綁定手機{else /}解绑手機{/eq}</p>
        </div>
    </div>
    <ul class="list">
        <li>
            <img class="icon" src="__INDEX__/images/login_user.png">
           	{eq name="type" value="1"}
           	<div class="common_input_box">
               	<input class="common_input" id="phone" type="text" maxlength="11" placeholder="輸入手机号">
               	<label for="phone">手機號碼</label>
            </div>
            {else /}
            <div class="common_input_box" id="showPhoneBox">
           		<input class="common_input" id="phoneShow" type="text" value="{$encode_phone}" readonly="readonly">
           		<label for="phoneShow">手機號碼</label>
           	</div>
            {/eq}
        </li>
        <li>
            <img class="icon" src="__INDEX__/images/login_code_short.png">
            <div class="common_input_box">
                <input class="common_input" type="text" maxlength="6" placeholder="輸入驗證碼" id="code">
                <label for="code">驗證碼</label>
                {eq name="type" value="1"}
                	<span class="get_code ripple red_color_themes" onclick="javascript:sendRegCode(this);">獲取驗證碼</span>
                {else /}
                	<span class="get_code ripple red_color_themes" onclick="javascript:sendLoginCode(this);">獲取驗證碼</span>
                {/eq}
            </div>
        </li>
    </ul>
    {eq name="type" value="1"}
    <p class="btn red_color_themes" onclick="javascript:doPhoneSubmit();">绑 定</p>
    <p class="login_font1">
        绑定后您可以通用户名或手机号登錄
    </p>
    {else /}
    <p class="btn red_color_themes" onclick="javascript:doUnBindPhone();">解 綁</p>
    <p class="login_font1">您已綁定手機號，更換號碼請先解綁</p>
    <p class="login_font1">
        解綁後您只能通過用戶名登錄<br>
        請記住您的用戶名：<span>{$username}</span>
    </p>
    {/eq}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.input.js?date=20200321"></script>
{/block}