{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/new.css" />
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="/index/User/index" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">消息</p>
        </div>
    </div>
	
    <ul class="list" id="msgList"></ul>
    <p id="loadMore" style="text-align:center;line-height:40px;color:#666;font-size:14px;display:none;"></p>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.message.js"></script>
{/block}