{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/searchResult.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="javascript:history.back(-1)" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">自動訂閱</p>
            <div class="nav_icon">
            </div>
        </div>
    </div>
	{empty name="list"}
	    <div class="not_book" style="display: none;">
	        <img src="__INDEX__/images/not_book.png">
	        <p>查詢不到書籍~</p>
	    </div>
	{else /}
	    <ul class="main">
	    	{volist name="list" id="v"}
		        <li class="item_1_bar item_1_bar_line" onclick="javascript:toInfo('{$v.id}');">
		            <div class="img_box">
		                <img class="cover" src="{$v.cover}">
		                {eq name="v.is_alone" value="1"}
		                	<p class="icon_only"></p>
		                {/eq}
		                {eq name="v.over_type" value="1"}
		             		<p class="status_serialization status_icon_short"></p>
		             	{else /}
		             		<p class="status_end status_icon_short"></p>
		             	{/eq}
		            </div>
		            <div class="right">
		                <div class="check_title">
		                    <h2 class="title red_color_themes">{$v.name}</h2>
		                    <input type="checkbox" class="checke" checked="checked" id="checke" onchange="javascript:doSubBook({$v.id});">
		                </div>
		                <p class="content">{$v.summary}</p>
		                <div class="info">
		                    <span>作者：{$v.author}</span>
		                    <div class="read">
		                        <img src="__INDEX__/images/eyes.png">
		                        <span>{$v.hot_num}</span>
		                    </div>
		                    <div class="start">
		                        <img src="__INDEX__/images/star.png">
		                        <span>{$v.star}</span>
		                    </div>
		                </div>
		            </div>
		        </li>
	        {/volist}
	    </ul>
    {/empty}
{/block}
{block name="footJs"}
<script type="text/javascript">
function doSubBook(book_id){
    var data = {book_id:book_id,type:2};
    ajaxPost(U('Com/doSubBook'),data,function(){
    	window.location.reload();
    });
}
</script>
{/block}
