{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/login.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="{:url('safe')}" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">更改密碼</p>
        </div>
    </div>
    <ul class="list">
        <li>
            <img class="icon" src="__INDEX__/images/login_code.png">
            <div class="common_input_box">
                <input class="common_input" type="password" maxlength="16" placeholder="輸入新密码" id="pwd">
                <label for="pwd">新密码</label>
            </div>
        </li>
        <li>
            <img class="icon" src="__INDEX__/images/login_code.png">
            <div class="common_input_box">
                <input class="common_input" type="password" maxlength="16" placeholder="輸入新密碼" id="repwd">
                <label for="repwd">確認新密碼</label>
            </div>
        </li>
    </ul>
    <p class="btn red_color_themes" onclick="javascript:doChangePwd();">提 交</p>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.input.js"></script>
{/block}