{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/setting.css">
{/block}
{block name="body"}
    <div class="header red_bgcolor_themes">
        <div class="nav">
            <a href="{:url('index')}" class="nav_icon ripple">
                <img src="__INDEX__/images/back.png">
            </a>
            <p class="nav_title">安全設置</p>
        </div>
    </div>
    <p class="title">賬戶安全</p>
    <a href="{:url('changePwd')}" class="item">
        <p class="name">更改密碼</p>
        <img class="next" src="__INDEX__/images/detail_next.png">
    </a>
    <div class="item">
        <p class="name">自動登錄</p>
        <input type="checkbox" class="checke" id="checke" {eq name="cur.auto_login" value="1"}checked{/eq} onclick="javascript:checkEvent(this);">
    </div>
    <p class="title">隱私設置</p>
    <div class="item">
        <p class="name">歷史記錄</p>
        <p class="center ripple" onclick="javascript:clearReadHistory();">立即清理</p>
        <img class="next" src="__INDEX__/images/detail_next.png">
    </div>
    <div class="popup">
        <img src="__INDEX__/images/mood.png">
        <p>清理成功</p>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/user.safe.js"></script>
{/block}