{extend name="public/base"}
{block name="title"}{$page_title}{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/index.css?v=5">
{/block}
{block name="body"}
    <!-- header -->
    <div class="header red_bgcolor_themes" id="header">
        <div>
        {volist name='web_block' id='block'}
            {if condition="$block.is_on==1"}
            {if condition="$block.key=='cartoon'"}
                <a href="{$block.url}">
                {notempty name="logo"}
                    <img class="logo" src="{$logo}">
                {/notempty}
                </a>
            {else /}
                <a href="{$block.url}" style="margin-left: 20px;">
                    <a href="{$block.url}">
                        {notempty name="block.logo"}
                        <img class="logo" src="{$block.logo}">
                        {/notempty}
                    </a>
                </a>
            {/if}{/if}
        {/volist}
        </div>
        <a href="{:url('search/index')}" class="search_main">
            <img class="search_icon" src="__INDEX__/images/search_icon.png">
        </a>
    </div>
    <!-- banner -->
    <div class="banner banner_theme_bg">
        {:getBlock('index_banner','other')}
    </div>
    <div class="box">
        <ul class="main">
            {volist name='cur' id='video'}
            <li class="item_1" onclick="javascript:toInfos('{$video.id}');" style="padding-bottom: .3rem">
                <div class="img_box" style="height: 7rem;!important;">
                    <img class="cover" src="{$video.cover}">
                </div>
                <p class="introduce" style="padding: 0;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">
                    {if($video.summary)}
                    {$video.summary}
                    {else/}
                    暂无
                    {/if}
                </p>
                <p class="introduce" style="padding: 0;">女优：<span style="color: #ffd034;text-shadow:#000 1px 1px 1px;">
                    {if($video.author)}
                    {$video.author}
                    {else/}
                    暂无
                    {/if}
                </span></p>
                <p class="introduce" style="padding: 0;">厂商：<span style="color: #ffd034;text-shadow:#000 1px 1px 1px;">
                    {if($video.source)}
                    {$video.source}
                    {else/}
                    暂无
                    {/if}
                </span></p>
                <p class="introduce" style="padding: 0;">标签：<span style="color: #ffd034;text-shadow:#000 1px 1px 1px;">
                    {if($video.category)}
                    {$video.category}
                    {else/}
                    暂无
                    {/if}
                </span></p>
            </li>
            {/volist}
        </ul>
        <!--        <button class="change_btn ripple" onclick="javascript:getData('5','1',this);" data-page="1">換一換</button>-->
    </div>

    <div style="height:100px;"></div>
    {:createFooterHtml(5)}
{/block}
{block name="footJs"}
<script type="text/javascript" src="__INDEX__/js/video.index.js?v={$time}"></script>
{/block}