<template>
  <div>
    <div class="header nav_white_shadow">
      <div class="nav">
        <a href="javascript:history.back(-1)" class="nav_icon ripple">
          <img src="../../assets/images/back_2.png" />
        </a>
        <input id="search_input" class="search_input" @keypress="searchGoods" type="text" placeholder="書名/作者" v-model="keyword" />
        <div class="nav_icon ripple" @click="keyword = ''">
          <img id="clear_input" src="../../assets/images/close.png" />
        </div>
      </div>
    </div>

    <!-- 没有书籍 -->
    <div class="not_book" v-if="notBook" style="margin-top: 2rem">
      <img src="../../assets/images/not_book.png" />
      <p>查詢不到書籍~</p>
    </div>

    <div class="main" v-if="list.length > 0">
      <router-link :to="{name:'detail',query:{book_id:item.id}}" class="item_1_bar item_1_bar_line" v-for="item in list" :key="item.id">
        <div class="img_box">
          <img class="cover" :src="item.cover" />
          <p class="icon_only" v-if="item.is_alone == 1"></p>
          <!-- 连载 -->
          <p v-if="item.over_type == 1" class="status_serialization"></p>
          <!-- 完结 -->
          <p v-if="item.over_type == 2" class="status_end"></p>
        </div>
        <div class="right">
          <h2 class="title red_color_themes">{{ item.name }}</h2>
          <p class="content">{{ item.summary }}</p>
          <div class="info">
            <span>作者：{{ item.author }}</span>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>
<script>
import { SearchResult } from "@/api";
export default {
  data() {
    return {
      keyword: "",
      list: [],
      notBook:false
    };
  },
  created() {},
  methods: {
    _search() {
      SearchResult({ keyword: this.keyword }).then(res => {
        this.list = res;
      });
    },
    searchGoods(event) {
      if (event.keyCode == 13) {
        //如果按的是enter键 13是enter
        event.preventDefault(); //禁止默认事件（默认是换行）
        if(this.keyword){
            this._search()
        }else{
            this.$toast("请输入搜索的内容")
        }
      }
    },
  },
  watch: {
    $route: {
      handler(val) {
        this.keyword = val.query.keyword;
        this._search();
      },
      immediate: true
    },
    list:{
        handler(val){
            if(val.length > 0){
                this.notBook = false
            }else{
                this.notBook = true
            }
        }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/nav.scss";
@import "../../assets/scss/item_1_bar.scss";

.main {
  width: 10rem;
  overflow: hidden;
}

.not_book {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 1.68rem;
    height: 1.68rem;
  }

  p {
    font-size: 0.3733rem;
    color: rgba(153, 153, 153, 1);
    line-height: 0.48rem;
    margin-top: 0.4rem;
  }
}
</style>