<template>
  <div>
    <my-nav title="安全設置" :type="0"></my-nav>
    <p class="title">賬戶安全</p>
    <!-- <a href="./bindPhone.html" class="item">
      <p class="name">綁定手機</p>
      <p class="center">已綁定：182****8360</p>
      <img class="next" src="../../assets/images/detail_next.png" />
    </a>-->
    <div class="item" @click="handleLink">
      <p class="name">更改密碼</p>
      <img class="next" src="../../assets/images/detail_next.png" />
    </div>
    <!-- <div class="item">
      <p class="name">自動登錄</p>
      <input type="checkbox" class="checke" id="checke" />
    </div>-->
    <p class="title">隱私設置</p>
    <div class="item" @click="handleClear">
      <p class="name">歷史記錄</p>
      <p class="center ripple" id="clear">立即清理</p>
      <img class="next" src="../../assets/images/detail_next.png" />
    </div>

    <div class="popup">
      <img src="../../assets/images/mood.png" />
      <p>清理成功</p>
    </div>
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import { ClearRecord } from "@/api";
import local from "storejs";
export default {
  components: {
    MyNav
  },
  methods: {
    handleLink() {
      if (this.userInfo && this.userInfo.bind_username) {
        this.$router.push({
          name: "modifyPwd"
        });
      }else{
          this.$toast("绑定新账号后才能改密码哟");
      }
    },
    handleClear() {
      ClearRecord({ token: local.get("token"), type: 1 }).then(res => {
        this.$toast("删除成功");
      });
    }
  },
  computed: {
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
    // 刷新用户信息
    refreshUserInfo() {
      return this.$store.state.refreshUserInfo;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";

.title {
  width: 10rem;
  font-size: 0.3733rem;
  color: #666;
  padding: 0.5333rem 0.4rem 0 0.4rem;
  line-height: 1.2rem;
  position: relative;

  &:after {
    @include border(bottom, #e9e6ea);
  }
}

.item {
  width: 10rem;
  height: 1.2533rem;
  padding: 0 0.4rem;
  position: relative;
  display: flex;
  align-items: center;

  &:after {
    @include border(bottom, #e9e6ea);
  }

  .name {
    flex: 1;
    font-size: 0.3733rem;
    color: #333;
  }

  .center {
    font-size: 0.32rem;
    color: #666;
    padding: 0.1333rem 0.4rem;
  }

  .next {
    width: 0.3467rem;
    height: 0.3467rem;
  }
}

.popup {
  width: 2.7733rem;
  height: 2.6933rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.1067rem;
  position: fixed;
  left: 50%;
  margin-left: -1.2866rem;
  display: none;
  img {
    display: block;
    width: 1.0933rem;
    height: 1.0933rem;
    margin: 0.4667rem auto 0.36rem auto;
  }
  p {
    font-size: 0.3733rem;
    color: white;
    text-align: center;
  }
}
</style>