<template>
  <div id="dialog" style="z-index: 1000">
    <div class="border" >
      <a :href="jump">
        <img :src="src" style="width: 100%;">
      </a>
      <img id="clear_input" src="../../assets/images/delete.png" style="margin: auto;width: 30px;height: 30px; display: block;margin-top: 10px; position: absolute;top: 0;right: 0;margin-right: 10px;" @click="closeDialog" />
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
export default {
  name: "",
  props: {//用于父布局传参
    src:String,
    jump:String
  },
  data(){
    return {
    }
  },
  methods:{
    closeDialog(){
      //给父组件传参
      this.$emit('closeDialog',false)
    }
  }
}
</script>

<style scoped>
#dialog{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}
.fc-black {
  color: #333 !important;
}
.check-mes {
  display: block;
  width: 100%;
  height: 80px;
  background-color:  #F7F7F7;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
}

.horizontal-line-style{
  background: #DCDCDC;
  width: 100%;
  height: 1px;
}
.vertical-line-style{
  background: #000;
  width: 1px;
  height: 100%;
}
.titleStyle{
  margin-top: 20px;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}
.table-style{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}
.table-content-style{
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  order: 2;
  word-wrap: break-word;
  overflow: hidden;

}
.table-describe-style{
  color: #999999;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40px ;
  order: 1;
  flex:0 0 auto;
}
.table-content-remark{
  background: #F7F7F7;
  border-radius: 6px;
  font-size: 16px;
  color: #333333;
}

.border{
  background-color: transparent;
  border-radius: 6px;
  width: 80%;
  height: 80%;
  /*max-width: 350px;*/
  /*max-height: 68%;*/
  overflow: scroll;
  margin: auto;
  position: absolute;
  left: 10%;
  top: 10%;

  /*transform: translate(-50%,-50%);*/
}
.media-upload-categray-type{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
}
.cancel-button{
  width: 50%;
  text-align: center;
  font-size: 18px;
  color: #666666;
  letter-spacing: 0;
  line-height: 44px;
  background: #FFFFFF;
}
.punch-button{
  flex-grow:1;
  text-align: center;
  color: #3A90F6;
  line-height: 44px;
  font-size: 18px;
  letter-spacing: 0;
  background: #FFFFFF;
}
.button-align-bottom{
  bottom: 5px;
  position:absolute;
  width: 100%;
}
.button-align-bottom-style{
  width: 100%;
  display: flex;
}
</style>

