<template>
  <div>
    <div class="header nav_white_shadow">
      <div class="nav">
        <a href="javascript:history.back(-1)" class="nav_icon ripple">
          <img src="../../assets/images/back_2.png" />
        </a>
        <input
          id="search_input"
          @keypress="searchGoods"
          class="search_input"
          type="text"
          placeholder="書名/作者"
          v-model="searchData"
        />
        <div class="nav_icon ripple" @click="searchData = ''">
          <img id="clear_input" src="../../assets/images/close.png" />
        </div>
      </div>
    </div>

    <!-- 历史记录 -->
    <div class="history">
      <input id="showClearBtn" type="checkbox" hidden v-model="showClearBtn" />
      <label for="showClearBtn" class="ripple" id="history_title">
        <div class="common_title">
          <h3>搜索歷史</h3>
        </div>
        <img class="history_icon" src="../../assets/images/open.png" />
      </label>

      <ul class="history_list">
        <li v-for="(item,index) in history" :key="index">
          <img class="history_icon" src="../../assets/images/history_icon.png" />
          <p>{{ item }}</p>
          <img
            class="history_clear ripple"
            @click="deleteHistory(item)"
            src="../../assets/images/history_clear.png"
          />
        </li>
      </ul>
      <!-- 暂无历史记录 -->
      <p class="no_history" v-if="history.length === 0">暫無搜索記錄</p>
      <p
        class="clear_history red_color_themes"
        :style="{height: showClearBtn ? '1.2rem' : 0}"
        @click="_claearSearchRecord"
      >清空搜索記錄</p>
    </div>

    <!-- 大家都在看 -->
    <div class="box" v-if="boutiqueList">
      <div class="common_title">
        <h3>大家都在看</h3>
        <router-link
          class="more"
          :to="{name:'more',query:{category: this.navType, type:this.boutiqueData.type}}"
        >
          <span>更多</span>
          <img src="../../assets/images/red_more.png" />
        </router-link>
      </div>
      <div class="main">
        <router-link
          :to="{name:'detail',query:{book_id:item.id}}"
          class="item_3"
          v-for="(item,index) in boutiqueList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.cover" />
            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end"></p>
          </div>
          <h4 class="red_color_themes">{{ item.name }}</h4>
          <div class="info">
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
          </div>
        </router-link>
      </div>

      <button class="change_btn ripple" @click="handleChangeBoutiqueList('boutiqueData')">換一換</button>
    </div>

    <!-- 猜你喜歡 -->
    <div class="box" v-if="likeList" style="padding-bottom:1.5rem">
      <div class="common_title">
        <h3>猜你喜歡</h3>
      </div>
      <div class="main">
        <router-link
          :to="{name:'detail',query:{book_id:item.id}}"
          class="item_1"
          v-for="(item,index) in likeList"
          :key="index"
        >
          <div class="img_box">
            <img class="cover" :src="item.detail_img" />
            <!-- 连载 -->
            <p v-if="item.over_type == 1" class="status_serialization status_icon_short"></p>
            <!-- 完结 -->
            <p v-if="item.over_type == 2" class="status_end status_icon_short"></p>
            <!-- title -->
            <h4>{{ item.name }}</h4>
            <div class="info">
              <div class="read">
                <img src="../../assets/images/eyes.png" />
                <span>{{ item.hot_num }}</span>
              </div>
              <div class="start">
                <img src="../../assets/images/star.png" />
                <span>{{ item.star }}</span>
              </div>
            </div>
          </div>
          <p class="introduce">{{ item.summary }}</p>
        </router-link>
      </div>
      <button class="change_btn ripple" @click="handleChangeBoutiqueList('likeData')">換一換</button>
    </div>
  </div>
</template>
<script>
import {
  GetBookList,
  SearchHistory,
  DelSearchRecord,
  ClaearSearchRecord
} from "@/api";
export default {
  data() {
    return {
      //精品
      boutiqueList: [],
      boutiqueData: { type: 1, page: 1, size: 3, category: this.navType },
      //猜你喜欢
      likeList: [],
      likeData: { type: 5, page: 1, size: 6, category: this.navType },
      searchData: "漂亮乾姊姊",
      history: [],
      showClearBtn: false
    };
  },
  created() {
    this._getBookList(this.boutiqueData);
    this._getBookList(this.likeData);
    this._getSearchHistory();
  },
  methods: {
    _getSearchHistory() {
      SearchHistory().then(res => {
        this.history = res === null ? [] : res;
      });
    },
    _claearSearchRecord() {
      ClaearSearchRecord().then(res => {
        this._getSearchHistory();
      });
    },
    deleteHistory(item) {
      DelSearchRecord({ keyword: item }).then(res => {
        this._getSearchHistory();
      });
    },
    searchGoods(event) {
      if (event.keyCode == 13) {
        //如果按的是enter键 13是enter
        event.preventDefault(); //禁止默认事件（默认是换行）
        if (this.searchData) {
          this.$router.push({
            name: "searchResult",
            query: {
              keyword: this.searchData
            }
          });
        } else {
          this.$toast("请输入搜索的内容");
        }
      }
    },
    // 获取书籍列表
    _getBookList(data) {
      // type:book类型(1:精品，2:最新，3:限免书籍，4：推荐书籍，5：猜你喜欢书籍)
      // category (1:漫画，2：小说)
      //page
      //size
      GetBookList(data).then(res => {
        let type = data.type;
        if (type === 1) {
          this.boutiqueList = res;
        } else if (type === 2) {
          this.newList = res;
        } else if (type === 3) {
          this.freeList = res;
        } else if (type === 4) {
          this.recommendList = res;
        } else if (type === 5) {
          this.likeList = res;
        }
      });
    },
    //切换精品
    handleChangeBoutiqueList(data) {
      if (data === "boutiqueData") {
        this.boutiqueData.page++;
        this._getBookList(this.boutiqueData);
      } else if (data === "likeData") {
        this.likeData.page++;
        this._getBookList(this.likeData);
      }
    }
  },
  computed: {
    navType() {
      return this.$store.state.TYPE;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/nav.scss";
@import "../../assets/scss/item_1.scss";
@import "../../assets/scss/item_3.scss";

body {
  background-color: #f8f8f8;
}

.change_btn {
  width: 9.2rem;
  height: 0.7467rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 0.3733rem;
  font-size: 0.3733rem;
  color: #999;
  display: block;
  margin: 0 auto 0.3467rem auto;
}

.history {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);

  #history_title {
    width: 10rem;
    height: 1.28rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 0.2rem;

    .title {
      flex: 1;
      margin-bottom: 0;
    }

    .history_icon {
      width: 0.3733rem;
      height: 0.3733rem;
      margin-right: 0.2667rem;
      transform: rotate(180deg);
    }
  }
}

#showClearBtn:checked + label {
  .history_icon {
    transform: rotate(0deg);
  }
}

.no_history {
  width: 10rem;
  height: 1.2rem;
  background-color: white;
  font-size: 0.32rem;
  line-height: 1.2rem;
  color: rgba(153, 153, 153, 1);
  padding: 0 0.2667rem;
  position: relative;
  &:after {
    @include border(bottom, #e9e6ea);
  }
}

.history_list {
  width: 10rem;
  overflow: hidden;
  background-color: white;

  li {
    width: 10rem;
    height: 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.2667rem;

    &:after {
      @include border(bottom, #e9e6ea);
    }

    .history_icon {
      width: 0.3733rem;
      height: 0.3733rem;
    }

    p {
      flex: 1;
      font-size: 0.3733rem;
      color: rgba(153, 153, 153, 1);
      padding: 0 0.2667rem;
    }

    .history_clear {
      width: 0.3733rem;
      height: 0.3733rem;
    }
  }
}

.clear_history {
  width: 10rem;
  height: 0;
  background-color: white;
  font-size: 0.32rem;
  overflow: hidden;
  line-height: 1.2rem;
  position: relative;
  text-align: center;
  &:after {
    @include border(bottom, #e9e6ea);
  }
}

.common_title {
  width: 10rem;
  height: 1.28rem;
  padding: 0 0.2667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // margin-bottom: 0.3467rem;

  &:after {
    content: "";
    width: 0.08rem;
    height: 0.6933rem;
    position: absolute;
    left: 0;
    top: 0.3333rem;
  }

  &:before {
    @include border(bottom, #f4f6fa);
  }

  h3 {
    flex: 1;
    font-size: 0.48rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.3733rem;
    font-weight: 400;

    img {
      width: 0.48rem;
      height: 0.48rem;
      margin-left: 0.1067rem;
    }
  }
}

.box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  margin: 0.16rem 0;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
}

.many {
  width: 10rem;
  overflow: hidden;
  padding: 0 0.2667rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2667rem;
}

.maybe {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 0.4rem;
  .maybe_list {
    margin-bottom: 0.4rem;
    margin-top: 0.2667rem;
  }
}
</style>