<template>
  <div>
    <div class="header nav_white_shadow">
      <div class="nav">
        <router-link
          to="cartoon"
          class="nav_title red_color_themes"
          style="text-align: center;"
        >我的書架</router-link>
        <router-link
          to="readHistory"
          href="./readHistory.html"
          class="nav_title red_color_themes nav_border"
          style="text-align: center;"
        >閱讀記錄</router-link>
        <router-link to="search" class="nav_icon ripple">
          <img id="clear_input" src="../../assets/images/search_icon_2.png" />
        </router-link>
      </div>
    </div>

    <!-- 没有登录 -->
    <!-- <div class="not_ligin" style="display: none;">
      <button class="red_bgcolor_themes">登 錄</button>
      <p>登錄後實時同步閱讀進度</p>
    </div>-->

    <div class="top_bar" v-if="list.length !== 0">
      <img class="top_icon" src="../../assets/images/book.png" />
      <p class="total">
        閱讀記錄({{ list.length }})
      </p>
      <span id="clear" class="red_color_themes ripple" v-show="isEdit" @click="handleClear">清空</span>
      <div class="status_btn ripple" @click="isEdit = !isEdit">編輯</div>
    </div>

    <!-- main -->
    <!-- 没有书籍 -->
    <div class="not_book" v-if="list.length === 0">
      <img src="../../assets/images/not_book.png" />
      <p>書架是空的~</p>
    </div>

    <ul class="book_list">
      <li v-for="item in list" :key="item.id" @click="handleLink(item)">
        <div class="img_box">
          <img :src="item.cover" />
        </div>
        <p class="name red_color_themes">{{ item.name }}</p>
        <img
          v-show="isEdit"
          class="delete"
          @click="handleDelete(item)"
          src="../../assets/images/delete.png"
        />
      </li>
    </ul>

    <!-- 删除成功提示 -->
    <div class="succs_pop" v-if="deleSuc">
      <img src="../../assets/images/mood.png" />
      <p>删除成功</p>
    </div>

    <!-- footer -->
    <my-footer :type="3"></my-footer>
  </div>
</template>
<script>
import MyFooter from "@/components/footer";
import { GetReadHistoryt, ClearRecord, DelUserRecord } from "@/api";
import local from "storejs";
export default {
  components: { MyFooter },
  data() {
    return {
      list: [],
      //   清理记录(1:删除收藏书籍,2:删除阅读记录)
      type: 2,
      //删除成功弹窗
      deleSuc: false,
      isEdit: false
    };
  },
  created() {
    this._getList();
  },
  methods: {
    _getList() {
      GetReadHistoryt({ token: local.get("token") }).then(res => {
        this.list = res.list;
      });
    },
    handleDelete(item) {
      let sendData = {
        token: local.get("token"),
        type: this.type,
        book_id: item.id
      };
      DelUserRecord(sendData).then(res => {
        this._getList();
        this.deleSuc = true;
        setTimeout(() => {
          this.deleSuc = false;
        }, 500);
      });
    },
    handleClear() {
      let sendData = {
        token: local.get("token"),
        type: this.type
      };
      ClearRecord(sendData).then(res => {
        this._getList();
        this.deleSuc = true;
        setTimeout(() => {
          this.deleSuc = false;
        }, 500);
      });
    },
    handleLink(item){
        if(this.isEdit){
            return
        }
        this.$router.push({
            name:"detail",
            query:{
                book_id: item.id
            }
        })
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/nav.scss";

.not_ligin {
  width: 10rem;
  margin-top: 5rem;

  button {
    display: block;
    width: 9.2rem;
    height: 0.96rem;
    border-radius: 0.48rem;
    margin: auto;
    font-size: 0.3733rem;
    color: white;
  }

  p {
    font-size: 0.3467rem;
    color: #999;
    text-align: center;
    margin-top: 0.48rem;
  }
}

.top_bar {
  width: 10rem;
  height: 1.28rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.4rem;

  &:after {
    @include border(bottom, #e9e6ea);
  }

  .top_icon {
    width: 0.64rem;
    height: 0.64rem;
  }

  .total {
    font-size: 0.3733rem;
    color: #333;
    flex: 1;
    padding: 0 0.2133rem;

    span {
      font-size: 0.2933rem;
      color: white;
      border-radius: 0.08rem;
    }
  }

  #clear {
    font-size: 0.3733rem;
    padding: 0.0667rem 0.1333rem;
    padding: 0.0667rem;
  }

  .status_btn {
    font-size: 0.3733rem;
    color: #999;
    padding: 0.0667rem 0.1333rem;
  }
}

.not_book {
  width: 10rem;
  margin-top: 4rem;

  img {
    display: block;
    width: 1.68rem;
    height: 1.68rem;
    margin: auto;
  }

  p {
    font-size: 0.3467rem;
    color: #999;
    text-align: center;
    margin-top: 0.48rem;
  }
}

.book_list {
  width: 10rem;
  overflow: hidden;
  position: relative;
  padding-top: 0.7733rem;
  padding-left: 0.84rem;

  &:after {
    @include border(bottom, #e9e6ea);
  }

  .delete {
    width: 0.5867rem;
    height: 0.5867rem;
    position: absolute;
    top: -0.2933rem;
    right: -0.2933rem;
  }

  li {
    width: 2.24rem;
    position: relative;
    margin-bottom: 0.7733rem;
    float: left;
    margin-right: 0.8rem;

    .img_box {
      width: 2.24rem;
      height: 3.12rem;
      border-radius: 0.08rem 0.08rem 0px 0.08rem;
      position: relative;

      &:after {
        content: "";
        width: 2.24rem;
        height: 3.12rem;
        background: rgba(219, 219, 219, 1);
        border-radius: 0.08rem 0.08rem 0px 0.08rem;
        position: absolute;
        right: -0.08rem;
        bottom: -0.08rem;
        z-index: -1;
      }

      img {
        width: 2.24rem;
        height: 3.12rem;
        border-radius: 0.08rem 0.08rem 0px 0.08rem;
      }
    }

    .name {
      font-size: 0.3467rem;
      margin-top: 0.2933rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.succs_pop {
  width: 2.7733rem;
  height: 2.6933rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;

  img {
    display: block;
    width: 1.0933rem;
    height: 1.0933rem;
    margin-bottom: 0.36rem;
    margin: 0.4667rem auto 0.3333rem auto;
  }

  p {
    font-size: 0.3733rem;
    line-height: 100%;
    color: #fff;
    text-align: center;
  }
}
</style>