<template>
  <div class="mybox">
    <!-- <div class="news_box">
        <div class="news_top">
            <img class="logo" src="../../assets/images/logo.png">
            <p class="name red_color_themes">ABC漫畫</p>
            <i></i>
            <span class="font">每日登錄</span>
            <img class="close" src="../../assets/images/close.png">
        </div>
        <p class="news_tips">親，歡迎回來。系統已贈送50書幣到您的賬戶，請註意查收~ 再見。</p>
    </div>-->
    <div class="top red_bgcolor_themes">
      <div class="href_bar">
        <router-link class="theme" to="theme">
          <img src="../../assets/images/my_yf.png" />
          <span>主题</span>
        </router-link>
        <router-link to="news" class="message">
          <img src="../../assets/images/message.png" />
          <p>{{ messageNum }}</p>
        </router-link>
      </div>

      <div class="my_info" v-if="userInfo">
        <img class="headimg" :src="userInfo.headimgurl" />
        <div class="right">
          <p class="phone">ID:{{ userInfo.user_id }}</p>
          <p class="id">帐号:{{ userInfo.bind_username ? userInfo.bind_username : userInfo.username }}</p>
          <p class="id" v-if="userInfo.is_show_password == 1">密码:{{ userInfo.password }}</p>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="info" v-if="userInfo">
        <div class="info_item">
          <div class="info_item_left">
            <img src="../../assets/images/my_zs.png" />
            <p class="font1">書幣</p>
          </div>
          <div class="info_item_right">
            <p class="font2">{{ userInfo.money }}</p>
            <p class="font3">剩餘數量</p>
          </div>
        </div>
        <div class="info_item">
          <div class="info_item_left">
            <img src="../../assets/images/my_hg.png" />
            <p class="font1">VIP</p>
          </div>
          <div class="info_item_right">
            <p class="font2" v-if="userInfo.viptime === '0'">未開通</p>
            <p class="font4" v-if="userInfo.viptime !== '0'">已開通</p>
            <p class="font3" v-if="userInfo.viptime !== '0'">{{ userInfo.viptime | filterTime }}</p>
          </div>
        </div>
      </div>

      <div class="vip_box">
        <div class="left">
          <p class="title">
            青青草漫畫
            <span>VIP</span>
          </p>
          <p class="tip">開通後免費暢讀千部VIP漫畫</p>
        </div>
        <router-link to="recharge" class="open">
          立即開通
          <img src="../../assets/images/my_next.png" />
        </router-link>
      </div>

      <!-- 列表 -->
      <div class="list">
        <input id="showWb" type="checkbox" hidden v-model="isShowWb" />
        <label class="item ripple" for="showWb">
          <img class="icon" src="../../assets/images/my_list_1.png" />
          <p class="title">漫友永不走散</p>
          <img class="next" src="../../assets/images/my_open.png" />
        </label>
        <div id="close" :style="{height: isShowWb ? '3.14rem' : 0}">
          <div class="item ripple" @click="handleShowContact(3)" v-if="contactList.email">
            <span class="icon"></span>
            <p class="title">官方郵箱</p>
            <p class="content">{{ contactList.email }}</p>
            <img class="next" src="../../assets/images/detail_next.png" />
          </div>
          <div class="item ripple" @click="handleShowContact(4)" v-if="contactList.weibo">
            <span class="icon"></span>
            <p class="title">Telegram</p>
            <p class="content">{{ contactList.weibo }}</p>
            <img class="next" src="../../assets/images/detail_next.png" />
          </div>
        </div>
        <div class="line"></div>
        <router-link to="recharge" class="item ripple">
          <img class="icon" src="../../assets/images/my_list_2.png" />
          <p class="title">儲值中心</p>
          <img class="next" src="../../assets/images/detail_next.png" />
        </router-link>
        <router-link to="consumption" class="item ripple">
          <img class="icon" src="../../assets/images/my_list_3.png" />
          <p class="title">消費記錄</p>
          <img class="next" src="../../assets/images/detail_next.png" />
        </router-link>
        <div class="line"></div>
        <!-- <div class="item ripple">
          <img class="icon" src="../../assets/images/my_list_4.png" />
          <p class="title">下載app</p>
          <img class="next" src="../../assets/images/detail_next.png" />
        </div>-->
        <router-link to="setting" class="item ripple">
          <img class="icon" src="../../assets/images/my_list_5.png" />
          <p class="title">安全設置</p>
          <p class="content" v-if="userInfo.phone">已绑定：{{ userInfo.phone }}</p>
          <img class="next" src="../../assets/images/detail_next.png" />
        </router-link>
        <div class="item ripple" @click="isShowBottomContack = true">
          <img class="icon" src="../../assets/images/my_list_6.png" />
          <p class="title">聯系客服</p>
          <img class="next" src="../../assets/images/detail_next.png" />
        </div>
        <div class="line"></div>
        <router-link to="automatic" class="item ripple">
          <img class="icon" src="../../assets/images/my_list_7.png" />
          <p class="title">自動訂閱</p>
          <img class="next" src="../../assets/images/detail_next.png" />
        </router-link>
        <div class="item ripple" @click="handleTips">
          <img class="icon" src="../../assets/images/my_list_3.png" />
          <p class="title">找回帐号</p>
          <img class="next" src="../../assets/images/detail_next.png" />
        </div>
      </div>
      <router-link to="change" class="btn red_color_themes ripple">切换帐号</router-link>
    </div>

    <div class="contact" :style="{bottom:isShowBottomContack ? 0 : '-10rem'}">
      <p class="contact_font1">選擇聯系方式</p>
      <p class="contact_font2">客服工作時間：8:00-24:00</p>
      <div class="contanct_bar">
        <div class="contanct_item" v-if="contactList.qq" @click="handleShowContact(2)">
          <img src="../../assets/images/qq.png" />
          <span>qq</span>
        </div>
        <div class="contanct_item" v-if="contactList.weixin" @click="handleShowContact(1)">
          <img src="../../assets/images/wechat.png" />
          <span>wechat</span>
        </div>
      </div>
    </div>

    <show-contact
      @tellClose="isShowContactPopup = false"
      :type="contactType"
      :isShow="isShowContactPopup"
      :contactValue="contactValue"
    ></show-contact>
    <my-footer :type="4"></my-footer>
    <div class="popup_bg" v-show="isShowBottomContack" @click="isShowBottomContack = false"></div>

    <div class="toast" v-if="isShowToast">请联系客服处理</div>
  </div>
</template>
<script>
import MyFooter from "@/components/footer";
import { GetUserMessageNum, GetContact } from "@/api";
import local from "storejs";
import ShowContact from "./showContanct";
export default {
  components: { MyFooter, ShowContact },
  data() {
    return {
      token: local.get("token"),
      //未读消息数量
      messageNum: 0,
      //是否显示微博下拉
      isShowWb: false,
      //联系方式
      contactList: {},
      //联系方式类型 1 微信
      contactType: 1,
      //是否展示联系弹窗
      isShowContactPopup: false,
      //联系方式的值
      contactValue: "",
      //显示下方弹窗选择框
      isShowBottomContack: false,
      isShowToast: false
    };
  },
  created() {
    this._getUserMessageNum();
    this._getContact();
  },
  filters: {
    filterTime(time) {
      var time = new Date(parseInt(time) * 1000);
      var y = time.getFullYear();
      var m = time.getMonth() + 1;
      var d = time.getDate();
      function add0(m) {
        return m < 10 ? "0" + m : m;
      }
      return y + "-" + add0(m) + "-" + add0(d);
    }
  },
  methods: {
    handleTips() {
      this.isShowToast = true;
      setTimeout(() => {
        this.isShowToast = false;
      }, 1500);
    },
    //获取联系方式
    _getContact() {
      GetContact({ token: this.token }).then(res => {
        this.contactList = res;
      });
    },
    //获取未读消息数量
    _getUserMessageNum() {
      GetUserMessageNum({ token: this.token }).then(res => {
        this.messageNum = res.msg_num > 0 ? res.msg_num : "";
      });
    },
    //显示弹窗
    handleShowContact(type) {
      this.isShowBottomContack = false;
      let contactList = this.contactList;
      this.isShowContactPopup = true;
      this.contactType = type;
      if (type === 1) {
        //微信
        this.contactValue = contactList.weixin;
      } else if (type === 2) {
        //qq
        this.contactValue = contactList.qq;
      } else if (type === 3) {
        //email
        this.contactValue = contactList.email;
      } else if (type === 4) {
        //weibo
        this.contactValue = contactList.weibo;
      }
    }
  },
  computed: {
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
    // 刷新用户信息
    refreshUserInfo() {
      return this.$store.state.refreshUserInfo;
    }
  },
  watch: {
    refreshUserInfo(val) {
      // if (val) {
      //   //获取用户信息
      //   GetMyInfo().then(res => {
      //     this.$store.commit("userInfo", res);
      //     this.$store.commit("refreshUserInfo", false);
      //   });
      // }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
// @import '../../assets/scss/small_popup.scss';
.popup_bg {
  width: 10rem;
  height: 100%;
  position: fixed;
  left: 50%;
  margin-left: -5rem;
  top: 0;
  background: rgba(0, 0, 0, 1);
  opacity: 0.5;
  z-index: 998;
}

body {
  //   padding-bottom: 1.2rem !important;
}

.mybox {
  width: 100%;
  // overflow: hidden;
  position: relative;
}

.top {
  width: 10rem;
  height: 5.1467rem;
  position: relative;
  overflow: hidden;
  // background-color: red;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../../assets/images/my_bg.png);
  background-size: 100% 100%;

  .bg {
    width: 10rem;
    height: 5.1467rem;
    position: absolute;
    left: 0;
    top: 0;
    // z-index: -1;
  }

  .href_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.4rem 0.4667rem 0 0;
  }

  .theme {
    width: 2.2267rem;
    height: 0.7467rem;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 0.3733rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0.4rem auto 0 6.44rem;

    img {
      width: 0.5333rem;
      height: 0.5333rem;
    }

    span {
      font-size: 0.3467rem;
      color: white;
      padding: 0 0.1333rem;
    }
  }

  .message {
    width: 0.5333rem;
    height: 0.5333rem;
    margin-left: 0.3333rem;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    p {
      font-size: 12px;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      top: -6px;
      line-height: 1;
      color: #000;
    }
  }

  .my_info {
    width: 100%;
    height: 1.6rem;
    overflow: hidden;
    padding: 0 0.32rem;
    margin-top: 0.1333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0);

    .headimg {
      width: 1.6rem;
      height: 1.6rem;
      border: 2px solid white;
      border-radius: 50%;
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: #333;
      padding-left: 0.2933rem;

      .phone {
        font-size: 0.5067rem;
        font-weight: bold;
        margin-bottom: 0.1133rem;
      }

      .id {
        font-size: 0.32rem;
        line-height: 0.5rem;
      }
    }
  }
}

.main {
  width: 10rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.6rem 0.6rem 0px 0px;
  margin-top: -1.2rem;
  position: absolute;
  left: 0;
  top: 5.2rem;

  .info {
    width: 10rem;
    overflow: hidden;
    display: flex;
    margin-top: 0.2667rem;

    .info_item {
      flex: 1;
      height: 0.9333rem;
      display: flex;
      margin-left: 0.6667rem;
      position: relative;

      &:after {
        @include border(right, #e9e6ea);
      }

      .info_item_left {
        width: 0.8rem;
        height: 0.9333rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img {
          width: 0.64rem;
          height: 0.64rem;
        }
      }

      .info_item_right {
        width: 3.6667rem;
        height: 0.9333rem;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        padding-left: 0.48rem;
      }

      .font1 {
        font-size: 0.3467rem;
        color: rgba(51, 51, 51, 1);
      }

      .font2 {
        font-size: 0.5067rem;
        color: #999;
      }

      .font3 {
        font-size: 0.2667rem;
        color: #333;
      }

      .font4 {
        font-size: 0.2667rem;
        color: #999;
        margin-top: 0.2rem;
      }
    }
  }

  .vip_box {
    width: 9.4667rem;
    height: 2.1333rem;
    background-image: url("../../assets/images/vip_bg.png");
    background-size: 100% 100%;
    margin: 0.6133rem auto 0 auto;

    .left {
      width: 4.4rem;
      margin-left: 2.5333rem;
      float: left;
      color: #fdf7f5;
      margin-top: 0.64rem;

      .title {
        font-size: 0.4267rem;
        line-height: 0.4rem;

        span {
          font-size: 0.4267rem;
        }
      }

      .tip {
        font-size: 0.2933rem;
        margin-top: 0.2rem;
      }
    }

    .open {
      width: 2.1333rem;
      height: 0.5333rem;
      background: rgba(255, 255, 255, 1);
      border: 2px solid rgba(255, 255, 255, 1);
      border-radius: 0.2667rem;
      float: left;
      margin-top: 1.0667rem;
      font-size: 0.32rem;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 0.2133rem;
        height: 0.2133rem;
        margin-left: 0.0667rem;
      }
    }
  }

  .list {
    width: 10rem;
    overflow: hidden;
    background-color: white;
    padding: 0 0.2667rem;

    .item {
      display: flex;
      width: 100%;
      height: 1.52rem;
      align-items: center;
      justify-content: center;

      .icon {
        width: 0.64rem;
        height: 0.64rem;
        margin-left: 0.44rem;
      }

      .title {
        flex: 1;
        font-size: 0.3733rem;
        padding-left: 0.2933rem;
        color: #333;
      }

      .next {
        width: 0.3733rem;
        height: 0.3733rem;
        margin-left: 0.4rem;
      }

      .content {
        font-size: 0.32rem;
        color: #999;
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: #e7e7e7;
    }
  }
}

.btn {
  display: block;
  width: 9.4667rem;
  height: 1.2267rem;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(231, 231, 231, 1);
  border-radius: 0.08rem;
  margin: 0.2667rem auto 1.6667rem auto;
  font-size: 0.3733rem;
  text-align: center;
  line-height: 1.2267rem;
}

#close {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease 0s;
}

#showWb:checked + label {
  .next {
    transform: rotate(180deg);
  }
}

.common_copy {
  height: 5.5rem;
}

.news_box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  padding: 0.4rem;
  position: sticky;
  left: 50%;
  margin-left: -5rem;
  top: 0;
  z-index: 99999;

  .news_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 0.56rem;
      height: 0.56rem;
      margin-right: 0.1333rem;
    }

    .name {
      font-size: 12px;
    }

    i {
      width: 0.08rem;
      height: 0.08rem;
      background: rgba(102, 102, 102, 1);
      border-radius: 50%;
      margin: 0.1333rem;
    }
    .font {
      flex: 1;
      font-size: 12px;
      color: #666;
    }
    .close {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
  .news_tips {
    font-size: 14px;
    color: #333;
    line-height: 18px;
  }
}

.contact {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  position: fixed;
  left: 50%;
  margin-left: -5rem;
  bottom: -10rem;
  z-index: 9999;
  transition: bottom 0.2s ease 0s;
  p {
    text-indent: 0.4rem;
  }

  .contact_font1 {
    font-size: 0.4267rem;
    color: #666;
    margin: 0.48rem auto 0.4rem auto;
  }

  .contact_font2 {
    font-size: 0.32rem;
    color: #666;
  }

  .contanct_bar {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7733rem 0 0.4533rem 0;

    .contanct_item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 1.2267rem;
        height: 1.2267rem;
        margin-bottom: 0.32rem;
      }

      span {
        font-size: 0.32rem;
        color: #666;
      }
    }
  }
}

.toast {
  position: fixed;
  z-index: 10000;
  max-width: 9rem;
  padding: 10px 20px;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  color: #e90500;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
</style>