<template>
  <div v-show="isShow">
    <!-- 弹窗背景 -->
    <div class="popup_bg"></div>
    <!-- 微博弹窗 -->
    <div :class="{copy_box:true, scaleBoxto1:scaleBoxto1}" v-show="!isShowTips">
      <p class="title">{{ title }}</p>
      <input class="copy_value" type="text" v-model="contactValue" />
      <p
        id="copy"
        class="red_color_themes cbtn ripple"
        :data-clipboard-text="contactValue"
        @click="handleCopy"
      >復制内容</p>
    </div>
    <!-- 微博提示 -->
    <div :class="{tips_popup:true, scaleBoxto1:isShowTips}" v-show="isShowTips">
      <p class="tips_title">提示</p>
      <p class="tips_main">{{title}}已復制到剪切板，建議漫友們保存，方便與官方聯系，可用於反饋問題，諮詢代理細節，獲取最新官網地址等</p>
      <p class="tips_btn red_color_themes ripple" @click="handleClose">確定</p>
    </div>
  </div>
</template>
<script>
import Clipboard from "clipboard";
export default {
  props: {
    type: Number,
    isShow: {
      type: Boolean,
      default: false
    },
    contactValue: String
  },
  data() {
    return {
      isShowTips: false,
      scaleBoxto1: true
    };
  },
  methods: {
    handleCopy() {
      let clipboard = new Clipboard("#copy");
      this.scaleBoxto1 = false;
      setTimeout(() => {
        this.isShowTips = true;
      }, 100);
    },
    handleClose() {
      this.isShowTips = false;
      this.$emit("tellClose");
    }
  },
  computed: {
    title() {
      if (this.type === 1) {
        return "微信號";
      }else if(this.type === 2){
          return "客服QQ號"
      }else if(this.type === 3){
          return "官方郵箱"
      }else if(this.type === 4){
          return "微博"
      }
    }
  }
};
</script>
<style lang="scss">
.popup_bg {
  width: 10rem;
  height: 100%;
  position: fixed;
  left: 50%;
  margin-left: -5rem;
  top: 0;
  background: rgba(0, 0, 0, 1);
  opacity: 0.5;
  z-index: 998;
}

.copy_box {
  width: 9.4667rem;
  height: 5.8933rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  padding: 0 0.6267rem;
  //   display: none;

  .title {
    font-size: 0.56rem;
    color: #333;
    line-height: 100%;
    margin: 0.6667rem 0;
  }

  .content {
    font-size: 0.1867rem;
    color: #757575;
    line-height: 0.56rem;
    text-align: justify;
  }

  .copy_value {
    width: 100%;
    height: 1.0667rem;
    background: rgba(244, 244, 244, 1);
    border: 0.04rem solid rgba(158, 158, 158, 1);
    border-radius: 0.08rem;
    padding: 0 0.2667rem;
    font-size: 14px;
    color: #999;
    margin: 0.2667rem auto 0.9333rem auto;
  }

  .cbtn {
    font-size: 0.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 0.5rem;
  }
}

#sina,
#wb {
  height: 5.5467rem;
}

.tips_popup {
  width: 7.44rem;
  height: 5.6rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  padding: 0 0.64rem;

  .tips_title {
    font-size: 0.56rem;
    color: #333;
    margin: 0.6933rem 0 0.4rem 0;
  }

  .tips_main {
    font-size: 0.4267rem;
    line-height: 0.6133rem;
    color: #757575;
  }

  .tips_btn {
    width: 1.2rem;
    height: 0.6667rem;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.6667rem;
    font-weight: bold;
    float: right;
    margin-top: 0.5333rem;
  }
}

</style>