<template>
  <div class="reBox" v-if="chargeList.length > 0">
    <my-nav :title="`儲值中心`" :type="0"></my-nav>

    <div class="info_box" v-if="userInfo">
      <div class="my_info">
        <img class="headimg" :src="userInfo.headimgurl" />
        <div class="right">
          <p class="phone">{{ userInfo.bind_username ? userInfo.bind_username : userInfo.username }}</p>
          <p class="id">用户ID:{{ userInfo.id }}</p>
        </div>
      </div>
      <div class="info">
        <div class="info_item">
          <div class="info_item_left">
            <img src="../../assets/images/my_zs.png" />
            <p class="font1">書幣</p>
          </div>
          <div class="info_item_right">
            <p class="font2">{{ userInfo.money }}</p>
            <p class="font3">剩餘數量</p>
          </div>
        </div>
        <div class="info_item">
          <div class="info_item_left">
            <img src="../../assets/images/my_hg.png" />
            <p class="font1">VIP</p>
          </div>
          <div class="info_item_right">
           <p class="font2" v-if="userInfo.viptime === '0'">未開通</p>
            <p class="font4" v-if="userInfo.viptime !== '0'">已開通</p>
            <p class="font3" v-if="userInfo.viptime !== '0'">{{ userInfo.viptime | filterTime1 }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="re_box">
      <div class="top">
        <img class="line" src="../../assets/images/login_line_left.png" />
        <img class="zs" src="../../assets/images/my_zs.png" />
        <span class="font">書幣充值</span>
        <img class="line" src="../../assets/images/login_line_right.png" />
      </div>

      <img class="active" src="../../assets/images/active_img.png" />

      <div class="choose_box">
        <div
          v-for="item in chargeList"
          :key="item.id"
          :for="item.id"
          :class="{choose_recharge_item:true,choose_recharge_item_a: item.id === choosedCharge.id}"
          v-show="item.type == 1 && item.status == 1"
          @click="handleChoosedCharge(item)"
        >
          <div class="choose_recharge ripple">
            <p class="price red_color_themes">{{ item.money }}元</p>
            <p class="discount">
              {{ item.content.coin }}書幣
              <span
                class="red_color_themes"
              >+ {{ item.content.send_coin }}書幣</span>
            </p>
          </div>
          <!-- <div class="left_top_icon">
            <span class="icon_first_re"></span>
          </div>
          <img class="hot_icon" src="../../assets/images/hot.png" />-->
        </div>
      </div>
    </div>

    <div class="re_box">
      <div class="top">
        <img class="line" src="../../assets/images/login_line_left.png" />
        <img class="zs" src="../../assets/images/my_zs.png" />
        <span class="font">vip充值</span>
        <img class="line" src="../../assets/images/login_line_right.png" />
      </div>
      <div class="choose_box">
        <div
          v-for="item in chargeList"
          :key="item.id"
          :for="item.id"
          :class="{choose_recharge_item:true,choose_recharge_item_a: item.id === choosedCharge.id}"
          v-show="item.type == 2 && item.status == 1"
          @click="handleChoosedCharge(item)"
        >
          <div class="choose_recharge ripple">
            <p
              class="price red_color_themes"
            >{{ item.content.vip_type | filterTime }}卡 / {{ item.money }}元</p>
            <p class="discount">開通VIP{{ item.content.vip_type | filterDays }}天</p>
          </div>
          <!-- <img class="hot_icon" src="../../assets/images/hot.png" /> -->
        </div>
      </div>
    </div>

    <!-- 充值方式 -->
    <div class="re_type" v-if="payList.length > 0">
      <p class="re_type_title">
        選擇支付方式
        <span>1元=100書幣</span>
      </p>
      <div
        v-for="item in payList"
        :key="item.id"
        class="choose_type_item ripple"
        @click="choosedPay = item"
      >
        <div
          :class="{recharge_type_circular:true,red_border_color_themes:item.id === choosedPay.id}"
        >
          <span v-if="item.id === choosedPay.id" class="red_bgcolor_themes"></span>
        </div>
        <div class="right">
          <span
            :class="{left_font:true,red_color_themes:item.id === choosedPay.id}"
          >{{ item.summary }}</span>
          <span class="right_font">{{ item.name }}</span>
          <img class="choose_type_icon" :src="item.icon" />
        </div>
      </div>
    </div>


    <div class="tips_box">
      <p class="tips">
        <img class="left" src="../../assets/images/login_line_left.png" />
        溫馨提示:
        <img class="right" src="../../assets/images/login_line_right.png" />
      </p>
      <p class="main">· VIP用戶可免費閱讀所有VIP作品！</p>
      <p class="main">· 儲值遇到問題請聯系青青草漫畫客服。</p>
      <p class="main">· 歡迎您使用支付寶/微信儲值書幣或開通VIP。</p>
      <p class="main">&nbsp;</p>
      <p class="main">&nbsp;</p>
    </div>
    <button class="pay_recharge ripple" @click="handlePay" style="bottom: 0;position:fixed;background: #E90500 !important;color: white;z-index: 1000;">立即支付</button>
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import local from "storejs";
import { GetChargeList, GetPayList, DoCharge } from "@/api";
export default {
  components: {
    MyNav
  },
  data() {
    return {
      chargeList: [],
      choosedCharge: {},
      payList: [],
      choosedPay: {}
    };
  },
  filters: {
    filterTime(type) {
      if (type == 1) {
        return "日";
      } else if (type == 2) {
        return "月";
      } else if (type == 3) {
        return "季";
      } else if (type == 4) {
        return "半年";
      } else if (type == 5) {
        return "年";
      } else if (type == 6) {
        return "至尊";
      }
    },
    filterTime1(time) {
      var time = new Date(parseInt(time) * 1000);
      var y = time.getFullYear();
      var m = time.getMonth() + 1;
      var d = time.getDate();
      function add0(m) {
        return m < 10 ? "0" + m : m;
      }
      return y + "-" + add0(m) + "-" + add0(d);
    },
    filterDays(type) {
      if (type == 1) {
        return "1";
      } else if (type == 2) {
        return "30";
      } else if (type == 3) {
        return "90";
      } else if (type == 4) {
        return "180";
      } else if (type == 5) {
        return "360";
      } else if (type == 6) {
        return "至尊";
      }
    }
  },
  created() {
    this._getChargeList();
    this._getPayList();
  },
  methods: {
    _getChargeList() {
      GetChargeList({ token: local.get("token") }).then(res => {
        let arr = Object.values(res.charge);
        this.chargeList = arr;
        arr.map(item => {
          if (item.money === res.check_money) {
            this.choosedCharge = item;
          }
        });
      });
    },
    _getPayList() {
      GetPayList({ token: local.get("token") }).then(res => {
        this.payList = res;
        this.choosedPay = res[0];
      });
    },
    handleChoosedCharge(item){
        this.choosedCharge = item
        this.handlePay()
    },
    handlePay() {
      let sendData = {
        token: local.get("token"),
        pay_type: this.choosedPay.id,
        charge_id: this.choosedCharge.id,
        book_id: this.$route.query.book_id,
        back_uri: "http://www.changjinman.cn/index.html#/index"
      };
      DoCharge(sendData).then(res => {
        window.location.href = res.url
      });
    }
  },
  computed: {
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
    // 刷新用户信息
    refreshUserInfo() {
      return this.$store.state.refreshUserInfo;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";

.reBox {
  width: 100%;
  background-color: #f6f6f6;
}

.info_box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  padding-bottom: 0.6667rem;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
}

.my_info {
  width: 100%;
  height: 1.6rem;
  overflow: hidden;
  padding: 0 0.32rem;
  margin-top: 0.1333rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .headimg {
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid white;
    border-radius: 50%;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #333;
    padding-left: 0.2933rem;

    .phone {
      font-size: 0.5067rem;
      font-weight: bold;
      margin-bottom: 0.2133rem;
    }

    .id {
      font-size: 0.32rem;
    }
  }
}

.info {
  width: 10rem;
  overflow: hidden;
  display: flex;
  margin-top: 0.2667rem;

  .info_item {
    flex: 1;
    height: 0.9333rem;
    display: flex;
    margin-left: 0.6667rem;
    position: relative;

    &:after {
      @include border(right, #e9e6ea);
    }

    .info_item_left {
      width: 0.8rem;
      height: 0.9333rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      img {
        width: 0.64rem;
        height: 0.64rem;
      }
    }

    .info_item_right {
      width: 2.6667rem;
      height: 0.9333rem;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: space-between;
      padding-left: 0.48rem;
    }

    .font1 {
      font-size: 0.3467rem;
      color: rgba(51, 51, 51, 1);
    }

    .font2 {
      font-size: 0.5067rem;
      color: #999;
    }

    .font3 {
      font-size: 0.2667rem;
      color: #333;
    }
  }
}

.re_box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
  margin-top: 0.2667rem;

  .top {
    width: 10rem;
    height: 1.2667rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      width: 0.5333rem;
      height: 0.08rem;
    }

    .zs {
      width: 0.64rem;
      height: 0.64rem;
      margin-left: 0.3733rem;
    }

    span {
      font-size: 0.3733rem;
      color: #333;
      padding: 0 0.3733rem 0 0.12rem;
    }
  }

  .active {
    width: 9.1733rem;
    height: 1.84rem;
    margin: 0 0.4rem 0.4rem 0.4rem;
  }

  .choose_box {
    width: 10rem;
    // overflow: hidden;
    padding: 0 0.4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.choose_recharge_item_a {
  border: 2px solid #e90500;
  background-color: #faa19b !important;
}

.choose_recharge_item {
  width: 4.4rem;
  height: 1.6rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 8px 0px rgba(196, 196, 196, 1);
  border-radius: 0.08rem;
  margin-bottom: 0.4rem;
  position: relative;

  .choose_recharge {
    width: 4.4rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .left_top_icon {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
  }

  .price {
    font-size: 0.3733rem;
    margin-bottom: 0.2267rem;
  }

  .discount {
    font-size: 0.2667rem;
    color: #999;
  }

  .hot_icon {
    width: 0.48rem;
    height: 0.48rem;
    position: absolute;
    left: 0;
    top: -0.12rem;
  }
}

.re_type {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
  margin-top: 0.2667rem;

  .re_type_title {
    width: 10rem;
    height: 1.28rem;
    font-size: 0.3733rem;
    color: #333;
    line-height: 1.28rem;
    padding: 0 0.4rem;
    position: relative;

    &:after {
      @include border(bottom, #e9e6ea);
    }

    span {
      float: right;
      font-size: 0.32rem;
      color: #666;
    }
  }
}

.choose_type_item {
  width: 10rem;
  height: 1.28rem;
  display: flex;
  align-items: center;
  margin-top: 0.1867rem;

  .recharge_type_circular {
    width: 0.5333rem;
    height: 0.5333rem;
    border-radius: 50%;
    border: 0.0267rem solid #716f70;
    margin: 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      width: 0.32rem;
      height: 0.32rem;
      border-radius: 50%;
    }
  }

  .right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 0.4rem;

    &:after {
      @include border(bottom, #e9e6ea);
    }

    .left_font {
      flex: 1;
      font-size: 0.32rem;
      color: #8a2be2;
    }

    .right_font {
      font-size: 0.32rem;
      color: #666;
      padding: 0 0.24rem;
    }

    .choose_type_icon {
      width: 0.64rem;
      height: 0.64rem;
    }
  }
}

.pay_recharge {
  width: 10rem;
  height: 1.28rem;
  font-size: 0.4267rem;
  background-color: white;
  margin-top: 0.1867rem;
  position: relative;

  &:before {
    @include border(bottom, #e9e6ea);
  }
}

.tips_box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  padding-top: 0.8rem;
  p {
    font-size: 0.32rem;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-bottom: 0.48rem;
    color: #999;
  }
  .tips {
    width: 2.8rem;
    position: relative;
    margin: auto;
    margin-bottom: 0.48rem;
    img {
      width: 0.5333rem;
      height: 0.08rem;
      position: absolute;
    }
    .left {
      left: 0;
      top: 50%;
      margin-top: -0.04rem;
    }
    .right {
      right: 0;
      top: 50%;
      margin-top: -0.04rem;
    }
  }
}
</style>