<template>
  <div>
    <div class="copyBody">
      <!-- 详情框 -->
      <div id="detail_box">
        <div class="info_box">
          <div class="img_box video_box" style="width: 100%;height: 250px;margin: 0 auto;border-radius: unset"
            :style="{height:videoHeight}"
          >
<!--              <div v-if="dis==1" style="width: 100%;height: 250px;background-color: #0C0C0C;position: relative;z-index: 10000"></div>-->
              <video
                      ref="my_video"
                      class="video-js vjs-default-skin "
                      preload="auto"
                      style="object-fit:fill"
              >
<!--                  <source src="https://xspt.oss-cn-hangzhou.aliyuncs.com/video/20210526/74cc24692dac38f0730b81df49c32980.mp4" type="video/mp4" />-->
              </video>
          </div>
          <h1>
            <p>{{ detail.title }}</p>
          </h1>
          <p class="author" style="margin: .3rem 0;font-size: .4rem;color: #666">
            影片簡介:
          </p>
          <p class="introduce" style="font-size: .35rem;color: #999;padding: 0 .26rem">{{ detail.des }}</p>
          <p class="introduce" style="font-size: .35rem;color: #999;padding: 0 .26rem">
            作者: <span @click="clickAuthor(detail.author)">{{detail.author}}</span>
          </p>
        </div>

        <div class="maybe">
          <div class="titleh">
            <h3>猜你喜歡</h3>
          </div>
          <div class="maybe_list">
            <router-link
              :to="{ name: 'videoDetail', query: { video_id: item.id } }"
              v-for="(item,index) in  likes"
              :key="index"
              class="item_1_bar item_1_bar_not_line"
            >
              <div class="img_box">
                <img  style="height: 100%;" :src="item.img" />
              </div>
              <div class="right">
                <h2 class="title red_color_themes">{{ item.title }}</h2>
                <p class="content" style="margin-bottom: 10px;">{{ item.des }}</p>
                <div class="info">
                  <span>標籤：
                   <span v-for="tag in item.tags" @click="clickTag(tag)">{{tag}},</span>
                  </span>
                  <!--
                  <div class="read">
                    <img src="../../assets/images/eyes.png" />
                    <span>{{ item.hot_num }}</span>
                  </div>
                  -->
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {GetVideoInfo,GetVideoLikeList } from "@/api";
import videojs from "video.js";
import "videojs-contrib-hls";
export default {
  components: {
  },
  data() {
    return {
      detail: {},
      isBuy: false,
      playStatus:1,
      playEvent:'',
      dis:1,
      likes:[],//猜你喜欢的影片
      option:{},
      myPlayer:{},
    };
  },
  created() {

  },
    mounted() {

      this._getVideoInfo();
      this._getVideoLikeList();

    },

  methods: {
      _getVideoInfo(){
          GetVideoInfo({
              video_id: this.$route.query.video_id,
          }).then(res=>{
              this.detail = res;
              //this.playerOptions.sources[0].src=res.url;
              this.isBuy = res.free_type == 1 ? false:true;

              var fileExtension = this.detail.m3u8.split('.').pop().toLowerCase();
              if(fileExtension == 'm3u8'){

                this.option={
                  playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
                  autoplay: false, //自动播放。
                  controls: true, //控制条
                  preload: "auto", //视频预加载
                  muted: false, //默认情况下将会消除任何音频。
                  loop: false, //导致视频一结束就重新开始。
                  language: "zh-CN",
                  fluid: true, //窗体自适应
                  sources: [
                    {
                      type: "application/x-mpegURL",
                      src: this.detail.m3u8
                    }
                  ],
                  poster:this.detail.img, //视频封面
                  width: document.documentElement.clientWidth,
                  notSupportedMessage: "此视频暂无法播放，请稍后再试"
                };

                this.myPlayer=videojs(
                    this.$refs.my_video,
                    this.option,
                    function() {
                      // this.play();

                    }
                );

              }

              if(fileExtension == 'mp4'){
                  myPlayer.src([
                      {
                          type: "video/mp4",
                          src: this.detail.m3u8
                      }
                  ])
              }
              // myPlayer.play();
            // setTimeout(this.getVideo,500);
              // this.getVideo()
              console.log(fileExtension)

          })
      },
      //获取猜你喜欢的影片
      _getVideoLikeList(){
          GetVideoLikeList({
              video_id: this.$route.query.video_id,
          }).then(res=>{
            for(var i=0;i<res.length;i++){
              res[i].tags=JSON.parse(res[i].tags);
            }
              this.likes=res;
          })
      },

      onPlayerPlay() {
          // var myPlayer = videojs("my-video");

          this.myPlayer.play();
          this.dis=2;
          this.playStatus =2;
      },
      onPlayerPause() {
          // var myPlayer = videojs("my-video");
          this.myPlayer.pause();
          this.dis=2;
          this.playStatus =1;
      },

    clickTag(tag){
      this.$router.push({
        name:"video",
        query:{tag:tag}}
      )
    },
    clickAuthor(author){
      this.$router.push({
        name:"video",
        query:{author:author}}
      )
    }

  },
  filters: {
    filterType(type) {
      if (type == 1) {
        return "连载中";
      } else if (type == 2) {
        return "完结";
      }
    }
  },
  computed: {
      // 在vuex 获取用户信息
      userInfo() {
          let userInfo = this.$store.state.userInfo;
          return userInfo;
      },
      // 刷新用户信息
      refreshUserInfo() {
          return this.$store.state.refreshUserInfo;
      },
    videoHeight(){
        console.log("height is",window.innerWidth*9/16);
        return window.innerWidth*9/16+"px";
    }
  },
  watch: {
    $route(newRoute) {
        window.scrollTo(0,0);
    }
  },
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/item_1_bar.scss";
@import "../../assets/scss/left_my.scss";

html,
body {
  // width: 10rem;
  height: 100%;
}
.copyBody {
  width: 10rem;
  height: 100%;
  position: relative;
}

.adverb {
  background-color: #f8f8f8;
}

#fab {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  box-shadow: 0 0.03rem 0.05rem -0.01rem rgba(0, 0, 0, 0.2),
    0 0.06rem 0.1rem 0 rgba(0, 0, 0, 0.14),
    0 0.01rem 0.18rem 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  right: 50%;
  margin-right: -4.2rem;
  bottom: 0.5rem;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-right 0.4s ease 0s;

  span {
    width: 0.2rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 50%;
    margin: 0 0.0667rem;
  }
}

#detail_box {
  width: 10rem;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: right 0.4s ease 0s;

  #mongolia {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
  }

  .info_box {
    width: 10rem;
    overflow: hidden;

    .img_box {
      width: 9.4667rem;
      height: 3.6533rem;
      background: rgba(0, 0, 0, 1);
      opacity: 0.8;
      border-radius: 0.16rem;
      margin: 0.1733rem auto;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      font-size: 0.4267rem;
      line-height: 0.7333rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 0.2667rem;

      p {
        margin-right: 0.08rem;
      }

      span {
        display: inline-block;
        font-size: 0.2667rem;
        height: 0.4267rem;
        line-height: 0.4267rem;
        padding: 0 0.1333rem;
        margin-right: 0.08rem;
        color: white;
      }
    }

    .author {
      font-size: 0.32rem;
      color: rgba(153, 153, 153, 1);
      margin: 0.4267rem 0;
      padding: 0 0.2667rem;

      span {
        font-size: 0.32rem;
        color: #333;
        margin-right: 0.4267rem;
      }
    }

    .read_info {
      width: 100%;
      font-size: 0.2667rem;
      display: flex;
      color: #333;
      padding: 0 0.2667rem;

      .start {
        width: 1.3067rem;
        display: flex;
        align-items: center;
        margin-right: 0.4rem;
      }

      .read {
        flex: 1;
        display: flex;
        align-items: center;
      }

      img {
        width: 0.48rem;
        height: 0.48rem;
        margin-right: 0.0667rem;
      }
    }

    .btn_bar {
      width: 100%;
      height: 1.3733rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.4rem;
      padding: 0 0.2667rem;

      &:after {
        @include border(bottom, #e9e6ea);
      }

      &:before {
        @include border(top, #e9e6ea);
      }

      .btn {
        width: 4.4rem;
        height: 0.96rem;
        border-radius: 0.08rem;
        font-size: 0.3733rem;
        line-height: 0.96rem;
        text-align: center;
      }

      .subscribe {
        border-style: solid;
        border-width: 0.04rem;
        position: relative;
      }

      .subscribed {
        opacity: 0.7;
      }
    }

    .introduce {
      font-size: 0.3733rem;
      color: rgba(51, 51, 51, 1);
      line-height: 0.48rem;
      padding: 0.4rem 0.2667rem;
      text-align: justify;
    }

    .red_list {
      width: 100%;
      overflow: hidden;

      li {
        width: 100%;
        height: 1.2533rem;
        position: relative;

        &:before {
          @include border(top, #e9e6ea);
        }

        a {
          width: 100%;
          height: 1.2533rem;
          display: flex;
          align-items: center;
          padding: 0 0.2667rem;

          .red_list_icon {
            width: 0.6133rem;
            height: 0.6133rem;
          }

          .title {
            font-size: 0.3733rem;
            color: #333;
            text-indent: 0.2667rem;
          }

          .item {
            flex: 1;
            font-size: 0.32rem;
            color: #666;
            text-align: right;
          }

          .next {
            width: 0.3733rem;
            height: 0.3733rem;
          }
        }
      }
    }

    .maybe {
      width: 10rem;
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
      margin-bottom: 0.4rem;

      .maybe_list {
        margin-bottom: 0.4rem;
        margin-top: 0.2667rem;
      }
    }
  }
}

.titleh {
  width: 10rem;
  height: 1.28rem;
  padding: 0 0.2667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // margin-bottom: 0.3467rem;

  &:after {
    content: "";
    width: 0.08rem;
    height: 0.6933rem;
    background: rgba(244, 67, 54, 1);
    position: absolute;
    left: 0;
    top: 0.3333rem;
  }

  &:before {
    @include border(bottom, #f4f6fa);
  }

  h3 {
    flex: 1;
    font-size: 0.48rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.3733rem;
    font-weight: 400;
    color: rgba(244, 67, 54, 1);

    img {
      width: 0.48rem;
      height: 0.48rem;
      margin-left: 0.1067rem;
    }
  }
}

.tips_popup {
  width: 2.7733rem;
  height: 2.6933rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;

  img {
    display: block;
    width: 1.0933rem;
    height: 1.0933rem;
    margin-bottom: 0.36rem;
    margin: 0.4667rem auto 0.3333rem auto;
  }

  p {
    font-size: 0.3733rem;
    line-height: 100%;
    color: #fff;
    text-align: center;
  }
}

.subscribe_popup {
  width: 10rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  //   opacity: 0.5;

  .subscribe_box {
    width: 7.44rem;
    height: 3.7467rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
    border-radius: 0.1067rem;
    padding: 0 0.64rem;

    .subscribe_font {
      font-size: 0.4267rem;
      color: rgba(117, 117, 117, 1);
      line-height: 0.6133rem;
      margin-top: 0.7333rem;
    }

    .btn_bar {
      font-size: 0.4rem;
      text-align: right;
      margin-top: 0.8667rem;

      span {
        margin-left: 0.5333rem;
      }

      .bold {
        font-weight: bold;
      }
    }
  }
}

.more {
  width: 10rem;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -5rem;
  z-index: 999;

  .more_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    opacity: 0.1;
  }

  .more_main {
    width: 10rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: white;
    padding-top: 0.4rem;
    transition: bottom 0.4s ease 0s;
  }

  .more_item {
    width: 100%;
    overflow: hidden;
    margin-top: 0.2667rem;

    li {
      width: 100%;
      height: 1.2533rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2667rem;
      position: relative;

      &:before {
        @include border(top, #e9e6ea);
      }

      .more_icon {
        width: 0.6133rem;
        height: 0.6133rem;
      }

      .more_small_icon {
        width: 0.4267rem;
        height: 0.4267rem;
      }

      .more_font_l {
        flex: 1;
        font-size: 0.3733rem;
        color: #333;
        padding-left: 0.2667rem;
      }

      .more_font_s {
        flex: 1;
        font-size: 0.3733rem;
        color: #333;
        text-align: right;
      }

      .mar {
        margin: 0 0.48rem 0 0.0667rem;
      }
    }
  }

  .copy_box {
    width: 9.4667rem;
    height: 6.8933rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 30px 0px rgba(125, 125, 125, 1);
    border-radius: 0.1067rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    padding: 0 0.6267rem;

    .title {
      font-size: 0.56rem;
      color: #333;
      line-height: 100%;
      margin: 0.6667rem 0;
    }

    .content {
      font-size: 0.1867rem;
      color: #757575;
      line-height: 0.56rem;
      text-align: justify;
    }

    .copy_value {
      width: 100%;
      height: 1.0667rem;
      background: rgba(244, 244, 244, 1);
      border: 0.04rem solid rgba(158, 158, 158, 1);
      border-radius: 0.08rem;
      padding: 0 0.2667rem;
      font-size: 0.1867rem;
      color: #999;
      margin: 0.2667rem auto 0.9333rem auto;
    }

    .btn {
      font-size: 0.4rem;
      font-weight: bold;
      text-align: center;
    }
  }
}

.copy_succ_box {
  width: 4.7467rem;
  height: 1.36rem;
  background: rgba(0, 0, 0, 1);
  opacity: 0.7;
  border-radius: 0.1067rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 0.3733rem;
  text-align: center;
  line-height: 1.36rem;
  color: white;
  display: none;
  z-index: 9999;
}
.quanpin:hover{
    color: #00F7DE;
    font-size: 14px;
}
.video-js.vjs-default-skin .vjs-big-play-button { display: none; }
.video-js .vjs-big-play-button {
　　width: 72px;
    height: 72px;
    border-radius: 100%;
    z-index: 100;
    background-color: #ffffff;
    border: solid 1px #979797;
}

.my-video-dimensions {
    width: 100%;
    height: 250px;
}
.video-js {
    width: 100%;
    height: 250px;
}
</style>