@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%;height:100%;background:#666}
body{width:10rem;min-height:100%;margin:auto;background-color:#fff}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#333 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity .5s,-webkit-transform .3s;transition:opacity .5s,-webkit-transform .3s;transition:transform .3s,opacity .5s;transition:transform .3s,opacity .5s,-webkit-transform .3s;z-index:9999}
.ripple:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.adverb{display:block;width:10rem;padding:.1867rem 0}
.adverb img{display:block;width:100%}
.scaleBoxto1{-webkit-animation:scaleBoxto1 .1s;animation:scaleBoxto1 .1s}
.scaleBoxto0{-webkit-animation:scaleBoxto0 .1s;animation:scaleBoxto0 .1s}
@-webkit-keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
@keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
body{margin-bottom:1.6rem}
.footer{width:10rem;height:1.44rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3);z-index:9}
.footer .footer_item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:nonde}
.footer .footer_item img{width:.8rem;height:.8rem}
.footer_font{font-size:.2933rem;color:#b2b1b5}
.hide{display:none}
.icon_only{width:2rem;height:.48rem;background-color:#c968fd;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_only:after{content:"獨家"}
.icon_new{width:2rem;height:.48rem;background-color:#53e0ac;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_new:after{content:"新作"}
.icon_limitedexemption{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_limitedexemption:after{content:"限免"}
.icon_first_re{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_first_re:after{content:"首充"}
.status_end{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/end.png?v=h4e917kwnIsHKKS6tR3fvA%3D%3D);background-size:100% 100%}
.status_end:after{content:"完结"}
.status_serialization{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/serialization.png?v=jEPRvU38m4fS3e%2FrE5voow%3D%3D);background-size:100% 100%}
.status_serialization:after{content:"连载"}
.status_icon_short{bottom:.2267rem}
.header{width:10rem;position:-webkit-sticky;position:sticky;top:0;z-index:999;background-color:#fff}
.search_input{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem;font-size:.4267rem;color:#333}
.nav_white_shadow{-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4}
.nav{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.nav .nav_title{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;line-height:1.2rem;padding:0 .2667rem;font-size:.4267rem;color:#eee}
.nav .nav_read_title{padding-left:.4rem;-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;color:#eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_read_title .nav_read_title_name{width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.4267rem}
.nav .nav_read_title .nav_read_title_name_number{font-size:.32rem;margin-top:.1067rem;width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav .nav_icon{width:.8rem;height:.8rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_icon img{width:100%;height:100%}
.nav .nav_icon span{width:.15rem;height:.15rem;background-color:#fff;border-radius:50%;margin:.05rem}
.nav_type_list{width:10rem;height:1.1467rem;-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.nav_type_list .date{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.1467rem;font-size:.3733rem;color:#ffd5d2;text-align:center;line-height:1.1467rem}
.nav_type_list .active{color:#fff}
#line{width:2.5rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
#line_today{width:1.4133rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
.not_ligin{width:10rem;margin-top:5rem}
.not_ligin button{display:block;width:9.2rem;height:.96rem;border-radius:.48rem;margin:auto;font-size:.3733rem;color:#fff}
.not_ligin p{font-size:.3467rem;color:#999;text-align:center;margin-top:.48rem}
.top_bar{width:10rem;height:1.28rem;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .4rem}
.top_bar:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.top_bar:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.top_bar:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.top_bar .top_icon{width:.64rem;height:.64rem}
.top_bar .total{font-size:.3733rem;color:#333;-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2133rem}
.top_bar .total span{font-size:.2933rem;color:#fff;border-radius:.08rem}
.top_bar #clear{font-size:.3733rem;padding:.0667rem .1333rem;padding:.0667rem;display:none}
.top_bar .status_btn{font-size:.3733rem;color:#999;padding:.0667rem .1333rem}
.not_book{width:10rem;margin-top:4rem}
.not_book img{display:block;width:1.68rem;height:1.68rem;margin:auto}
.not_book p{font-size:.3467rem;color:#999;text-align:center;margin-top:.48rem}
.book_list{width:10rem;overflow:hidden;position:relative;padding-top:.7733rem;padding-left:.84rem}
.book_list:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.book_list:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.book_list:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.book_list .delete{width:.5867rem;height:.5867rem;position:absolute;top:-.2933rem;right:-.2933rem;display:none}
.book_list li{width:2.24rem;position:relative;margin-bottom:.7733rem;float:left;margin-right:.8rem}
.book_list li .img_box{width:2.24rem;height:3.12rem;border-radius:.08rem .08rem 0 .08rem;position:relative}
.book_list li .img_box:after{content:"";width:2.24rem;height:3.12rem;background:#dbdbdb;border-radius:.08rem .08rem 0 .08rem;position:absolute;right:-.08rem;bottom:-.08rem;z-index:-1}
.book_list li .img_box img{width:2.24rem;height:3.12rem;border-radius:.08rem .08rem 0 .08rem}
.book_list li .name{font-size:.3467rem;margin-top:.2933rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.succs_pop{width:2.7733rem;height:2.6933rem;background:rgba(0,0,0,.7);border-radius:.1067rem;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index:9999}
.succs_pop img{display:block;width:1.0933rem;height:1.0933rem;margin-bottom:.36rem;margin:.4667rem auto .3333rem auto}
.succs_pop p{font-size:.3733rem;line-height:100%;color:#fff;text-align:center}