.news_box{width:10rem;overflow:hidden;background-color:#fff;padding:.4rem;position:-webkit-sticky;position:sticky;left:50%;margin-left:-5rem;top:0;z-index:99999}
.news_box .news_top{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.news_box .news_top .logo{width:.56rem;height:.56rem;margin-right:.1333rem;border:1px solid #e0e0e0;border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.news_box .news_top .logo img{width:100%;}
.news_box .news_top .name{font-size:12px}
.news_box .news_top i{width:.08rem;height:.08rem;background:#666;border-radius:50%;margin:.1333rem}
.news_box .news_top .font{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:12px;color:#666}
.news_box .news_top .close{width:.8rem;height:.8rem}
.news_box .news_tips{font-size:14px;color:#333;line-height:18px}
.small_popup{width:10rem;height:1.1467rem;padding:0 .4533rem;background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:-webkit-sticky;position:sticky;left:50%;margin-left:-5rem;top:0;z-index:99999}
.small_popup .top_logo{width:.8rem;height:.8rem}
.small_popup .center{height:.8rem;-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;font-size:12px;font-weight:400;padding:.0667rem .32rem}
.small_popup .top_btn{width:auto;height:.8rem;padding:0 .2667rem;font-size:.3467rem;color:#fff;line-height:.8rem;text-align:center;border-radius:.4rem;margin:0 .5067rem 0 .2667rem}
.small_popup .delete{width:.2667rem;height:.2667rem}
.add_popup{width:10rem;height:100%;position:fixed;background-color:rgba(0,0,0,.6);left:50%;margin-left:-5rem;top:0;z-index:999}
.add_popup .add_popup_main{width:9.0667rem;height:2.04rem;position:absolute;left:.4667rem;bottom:.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-image:url(../images/add_popup_bg.png?v=2020-03-21);background-size:100% 100%;padding-bottom:20px}
.add_popup .add_popup_main .top_logo{width:.8rem;height:.8rem;margin:0 .2667rem 0 .4rem}
.add_popup .add_popup_main p{font-size:.3733rem;color:#333}
.add_popup .add_popup_main .share{width:.7467rem;height:.7467rem;margin-bottom:.3333rem}