@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%;height:100%;background:#666}
body{width:10rem;min-height:100%;margin:auto;background-color:#fff}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#333 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity .5s,-webkit-transform .3s;transition:opacity .5s,-webkit-transform .3s;transition:transform .3s,opacity .5s;transition:transform .3s,opacity .5s,-webkit-transform .3s;z-index:9999}
.ripple:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.adverb{display:block;width:10rem;padding:.1867rem 0}
.adverb img{display:block;width:100%}
.scaleBoxto1{-webkit-animation:scaleBoxto1 .1s;animation:scaleBoxto1 .1s}
.scaleBoxto0{-webkit-animation:scaleBoxto0 .1s;animation:scaleBoxto0 .1s}
@-webkit-keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
@keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
.header{width:10rem;position:-webkit-sticky;position:sticky;top:0;z-index:999;background-color:#fff}
.search_input{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem;font-size:.4267rem;color:#333}
.nav_white_shadow{-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4}
.nav{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.nav .nav_title{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;line-height:1.2rem;padding:0 .2667rem;font-size:.4267rem;color:#eee}
.nav .nav_read_title{padding-left:.4rem;-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;color:#eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_read_title .nav_read_title_name{width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.4267rem}
.nav .nav_read_title .nav_read_title_name_number{font-size:.32rem;margin-top:.1067rem;width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav .nav_icon{width:.8rem;height:.8rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_icon img{width:100%;height:100%}
.nav .nav_icon span{width:.15rem;height:.15rem;background-color:#fff;border-radius:50%;margin:.05rem}
.nav_type_list{width:10rem;height:1.1467rem;-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.nav_type_list .date{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.1467rem;font-size:.3733rem;color:#ffd5d2;text-align:center;line-height:1.1467rem}
.nav_type_list .active{color:#fff}
#line{width:2.5rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
#line_today{width:1.4133rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
.item_1_bar_line{padding:.32rem .2667rem!important}
.item_1_bar_line:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.item_1_bar_line:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.item_1_bar_line:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.item_1_bar{width:100%;overflow:hidden;padding:.1333rem .2667rem;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex}
.item_1_bar .img_box{width:2.24rem;height:3.12rem;border-radius:.08rem .08rem 0 .08rem;overflow:hidden;position:relative;z-index:1}
.item_1_bar .img_box .cover{width:2.24rem;height:3.12rem}
.item_1_bar .right{-webkit-box-flex:1;-ms-flex:1;flex:1;padding-left:.3333rem;position:relative}
.item_1_bar .right:before{content:"";width:2.24rem;height:3.12rem;background-color:#dbdbdb;border-radius:.08rem .08rem 0 .08rem;position:absolute;left:-2.16rem;top:.08rem}
.item_1_bar .right .title{width:5.8667rem;font-size:.3467rem;line-height:.56rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.item_1_bar .right .content{height:.96rem;font-size:.32rem;color:#999;line-height:.48rem;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin:.2667rem 0 .7rem 0;text-align:justify}
.item_1_bar .right .info{font-size:.2933rem;color:#999;line-height:.48rem;display:-webkit-box;display:-ms-flexbox;display:flex}
.item_1_bar .right .info span{-webkit-box-flex:1;-ms-flex:1;flex:1}
.item_1_bar .right .info .start{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right}
.item_1_bar .right .info .read{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right;padding-right:.4rem}
.item_1_bar .right .info img{width:.32rem;height:.32rem;margin-right:.0667rem}
.check_title{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}
.icon_only{width:2rem;height:.48rem;background-color:#c968fd;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_only:after{content:"獨家"}
.icon_new{width:2rem;height:.48rem;background-color:#53e0ac;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_new:after{content:"新作"}
.icon_limitedexemption{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_limitedexemption:after{content:"限免"}
.icon_first_re{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_first_re:after{content:"首充"}
.status_end{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/end.png?v=h4e917kwnIsHKKS6tR3fvA%3D%3D);background-size:100% 100%}
.status_end:after{content:"完结"}
.status_serialization{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/serialization.png?v=jEPRvU38m4fS3e%2FrE5voow%3D%3D);background-size:100% 100%}
.status_serialization:after{content:"连载"}
.status_icon_short{bottom:.2267rem}
.my{width:10rem;height:100%;background-color:#fff;position:absolute;top:0;right:0;z-index:1;padding-left:3.1467rem}
.my .not_login{padding-top:1.2rem}
.my .not_login .status_font{font-size:.3733rem;color:#999;text-align:center}
.my .login{padding-top:1.2rem}
.my .login .info{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex}
.my .login .info .logo{width:1.0667rem;height:1.0667rem;border-radius:50%}
.my .login .info .right{-webkit-box-flex:1;-ms-flex:1;flex:1;padding-left:.4667rem;line-height:1}
.my .login .info .right .phone{font-size:.3733rem;font-weight:700}
.my .login .info .right .status{font-size:.2933rem;color:#999;margin:.1333rem 0 .1067rem 0}
.my .login .info .right .surplus{font-size:.32rem}
.my .btn{display:block;width:6.0533rem;height:.7733rem;border-radius:.3867rem;margin:.4rem auto;font-size:.3467rem;color:#fff;text-align:center;line-height:.7733rem}
.my .main{width:100%;overflow:hidden;position:relative}
.my .main:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main li{width:100%;height:1.2533rem;padding:0 .4rem 0 .2667rem;position:relative}
.my .main li a{width:100%;height:1.2533rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.my .main li a .my_icon{width:.8rem;height:.8rem;margin-right:.8667rem}
.my .main li a p{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative;padding-left:0 .4rem}
.my .main li a p:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main li a p:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main li a p:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main li a p span{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;color:#333}
.my .main li a p img{width:.42rem;height:.42rem}
body,html{height:100%}
.copyBody{width:10rem;min-height:100%;position:relative}
.adverb{background-color:#f8f8f8}
#fab{width:1.8rem;height:1.8rem;border-radius:50%;-webkit-box-shadow:0 .03rem .05rem -.01rem rgba(0,0,0,.2),0 .06rem .1rem 0 rgba(0,0,0,.14),0 .01rem .18rem 0 rgba(0,0,0,.12);box-shadow:0 .03rem .05rem -.01rem rgba(0,0,0,.2),0 .06rem .1rem 0 rgba(0,0,0,.14),0 .01rem .18rem 0 rgba(0,0,0,.12);position:fixed;right:50%;margin-right:-4.2rem;bottom:.5rem;z-index:9;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
#fab span{width:.2rem;height:.2rem;background-color:#fff;border-radius:50%;margin:0 .0667rem}
#detail_box{width:10rem;background-color:#fff;position:absolute;top:0;right:0;z-index:2}
#detail_box #mongolia{position:absolute;width:100%;height:100%;left:0;top:0;z-index:999999;display:none}
#detail_box .info_box{width:10rem;overflow:hidden}
#detail_box .info_box .img_box{width:9.4667rem;height:3.6533rem;background:#000;opacity:.8;border-radius:.16rem;margin:.1733rem auto;overflow:hidden;position:relative}
#detail_box .info_box .img_box img{width:100%;height:100%}
#detail_box .info_box h1{font-size:.4267rem;line-height:.7333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem}
#detail_box .info_box h1 p{margin-right:.08rem}
#detail_box .info_box h1 span{display:inline-block;font-size:.2667rem;height:.4267rem;line-height:.4267rem;padding:0 .1333rem;margin-right:.08rem;color:#fff}
#detail_box .info_box .author{font-size:.32rem;color:#999;margin:.4267rem 0;padding:0 .2667rem}
#detail_box .info_box .author span{font-size:.32rem;color:#333;margin-right:.4267rem}
#detail_box .info_box .read_info{width:100%;font-size:.2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;color:#333;padding:0 .2667rem}
#detail_box .info_box .read_info .start{width:1.3067rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:.4rem}
#detail_box .info_box .read_info .read{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
#detail_box .info_box .read_info img{width:.48rem;height:.48rem;margin-right:.0667rem}
#detail_box .info_box .btn_bar{width:100%;height:1.3733rem;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:.4rem;padding:0 .2667rem}
#detail_box .info_box .btn_bar:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
#detail_box .info_box .btn_bar:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
#detail_box .info_box .btn_bar:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
#detail_box .info_box .btn_bar:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
#detail_box .info_box .btn_bar:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
#detail_box .info_box .btn_bar:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
#detail_box .info_box .btn_bar .btn{width:4.4rem;height:.96rem;border-radius:.08rem;font-size:.3733rem;line-height:.96rem;text-align:center}
#detail_box .info_box .btn_bar .subscribe{border-style:solid;border-width:.04rem;position:relative}
#detail_box .info_box .btn_bar .subscribed{opacity:.7}
#detail_box .info_box .introduce{font-size:.3733rem;color:#333;line-height:.48rem;padding:.4rem .2667rem;text-align:justify}
#detail_box .info_box .red_list{width:100%;overflow:hidden}
#detail_box .info_box .red_list li{width:100%;height:1.2533rem;position:relative}
#detail_box .info_box .red_list li:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
#detail_box .info_box .red_list li:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
#detail_box .info_box .red_list li:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
#detail_box .info_box .red_list li a{width:100%;height:1.2533rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem}
#detail_box .info_box .red_list li a .red_list_icon{width:.6133rem;height:.6133rem}
#detail_box .info_box .red_list li a .title{font-size:.3733rem;color:#333;text-indent:.2667rem}
#detail_box .info_box .red_list li a .item{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.32rem;color:#666;text-align:right}
#detail_box .info_box .red_list li a .next{width:.3733rem;height:.3733rem}
#detail_box .info_box .maybe{width:10rem;overflow:hidden;background-color:#fff;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.06);box-shadow:0 3px 8px 0 rgba(0,0,0,.06);margin-bottom:.4rem}
#detail_box .info_box .maybe .maybe_list{margin-bottom:.4rem;margin-top:.2667rem}
.titleh{width:10rem;height:1.28rem;padding:0 .2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.titleh:after{content:"";width:.08rem;height:.6933rem;background:#f44336;position:absolute;left:0;top:.3333rem}
.titleh:before{content:'';position:absolute;width:100%;border-bottom:1px solid #f4f6fa;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.titleh:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.titleh:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.titleh h3{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.48rem;font-weight:700;color:#333}
.titleh .more{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:.3733rem;font-weight:400;color:#f44336}
.titleh .more img{width:.48rem;height:.48rem;margin-left:.1067rem}
.tips_popup{width:2.7733rem;height:2.6933rem;background:rgba(0,0,0,.7);border-radius:.1067rem;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index:9999;display:none}
.tips_popup img{display:block;width:1.0933rem;height:1.0933rem;margin-bottom:.36rem;margin:.4667rem auto .3333rem auto}
.tips_popup p{font-size:.3733rem;line-height:100%;color:#fff;text-align:center}
.subscribe_popup{width:10rem;height:100%;background:rgba(0,0,0,.5);position:fixed;left:50%;top:0;margin-left:-5rem;z-index:999;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;z-index:-10;opacity:.5}
.subscribe_popup .subscribe_box{width:7.44rem;height:3.7467rem;background:#fff;-webkit-box-shadow:0 5px 30px 0 #7d7d7d;box-shadow:0 5px 30px 0 #7d7d7d;border-radius:.1067rem;padding:0 .64rem}
.subscribe_popup .subscribe_box .subscribe_font{font-size:.4267rem;color:#757575;line-height:.6133rem;margin-top:.7333rem}
.subscribe_popup .subscribe_box .btn_bar{font-size:.4rem;text-align:right;margin-top:.8667rem}
.subscribe_popup .subscribe_box .btn_bar span{margin-left:.5333rem}
.subscribe_popup .subscribe_box .btn_bar .bold{font-weight:700}
.more{width:10rem;height:100%;position:fixed;left:50%;top:0;margin-left:-5rem;z-index:999;display:none}
.more .more_bg{width:100%;height:100%;background:#000;opacity:.1}
.more .more_main{width:10rem;overflow:hidden;position:absolute;left:0;bottom:-10rem;background-color:#fff;padding-top:.4rem}
.more .more_item{width:100%;overflow:hidden;margin-top:.2667rem}
.more .more_item li{width:100%;height:1.2533rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:.2667rem;position:relative}
.more .more_item li:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.more .more_item li:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.more .more_item li:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.more .more_item li .more_icon{width:.6133rem;height:.6133rem}
.more .more_item li .more_small_icon{width:.4267rem;height:.4267rem}
.more .more_item li .more_font_l{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;color:#333;padding-left:.2667rem}
.more .more_item li .more_font_s{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;color:#333;text-align:right}
.more .more_item li .mar{margin:0 .48rem 0 .0667rem}
.more .copy_box{width:9.4667rem;height:6.8933rem;background:#fff;-webkit-box-shadow:0 5px 30px 0 #7d7d7d;box-shadow:0 5px 30px 0 #7d7d7d;border-radius:.1067rem;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index:999;padding:0 .6267rem;display:none}
.more .copy_box .title{font-size:.56rem;color:#333;line-height:100%;margin:.6667rem 0}
.more .copy_box .content{font-size:14px;color:#757575;line-height:.56rem;text-align:justify}
.more .copy_box .copy_value{width:100%;height:1.0667rem;background:#f4f4f4;border:.04rem solid #9e9e9e;border-radius:.08rem;padding:0 .2667rem;font-size:14px;color:#999;margin:.2667rem auto .9333rem auto}
.more .copy_box .btn{font-size:.4rem;font-weight:700;text-align:center}
.copy_succ_box{width:4.7467rem;height:1.36rem;background:#000;opacity:.7;border-radius:.1067rem;position:fixed;left:0;top:0;bottom:0;right:0;margin:auto;font-size:.3733rem;text-align:center;line-height:1.36rem;color:#fff;display:none;z-index:9999}