@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%;height:100%;background:#666}
body{width:10rem;min-height:100%;margin:auto;background-color:#fff}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#333 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity .5s,-webkit-transform .3s;transition:opacity .5s,-webkit-transform .3s;transition:transform .3s,opacity .5s;transition:transform .3s,opacity .5s,-webkit-transform .3s;z-index:9999}
.ripple:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.adverb{display:block;width:10rem;padding:.1867rem 0}
.adverb img{display:block;width:100%}
.scaleBoxto1{-webkit-animation:scaleBoxto1 .1s;animation:scaleBoxto1 .1s}
.scaleBoxto0{-webkit-animation:scaleBoxto0 .1s;animation:scaleBoxto0 .1s}
@-webkit-keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
@keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
.header{width:10rem;position:-webkit-sticky;position:sticky;top:0;z-index:999;background-color:#fff}
.search_input{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem;font-size:.4267rem;color:#333}
.nav_white_shadow{-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4}
.nav{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.nav .nav_title{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;line-height:1.2rem;padding:0 .2667rem;font-size:.4267rem;color:#eee}
.nav .nav_read_title{padding-left:.4rem;-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;color:#eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_read_title .nav_read_title_name{width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.4267rem}
.nav .nav_read_title .nav_read_title_name_number{font-size:.32rem;margin-top:.1067rem;width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav .nav_icon{width:.8rem;height:.8rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_icon img{width:100%;height:100%}
.nav .nav_icon span{width:.15rem;height:.15rem;background-color:#fff;border-radius:50%;margin:.05rem}
.nav_type_list{width:10rem;height:1.1467rem;-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.nav_type_list .date{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.1467rem;font-size:.3733rem;color:#ffd5d2;text-align:center;line-height:1.1467rem}
.nav_type_list .active{color:#fff}
#line{width:2.5rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
#line_today{width:1.4133rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
.my{width:10rem;height:100%;background-color:#fff;position:absolute;top:0;right:0;z-index:1;padding-left:3.1467rem}
.my .not_login{padding-top:1.2rem}
.my .not_login .status_font{font-size:.3733rem;color:#999;text-align:center}
.my .login{padding-top:1.2rem}
.my .login .info{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex}
.my .login .info .logo{width:1.0667rem;height:1.0667rem;border-radius:50%}
.my .login .info .right{-webkit-box-flex:1;-ms-flex:1;flex:1;padding-left:.4667rem;line-height:1}
.my .login .info .right .phone{font-size:.3733rem;font-weight:700}
.my .login .info .right .status{font-size:.2933rem;color:#999;margin:.1333rem 0 .1067rem 0}
.my .login .info .right .surplus{font-size:.32rem}
.my .btn{display:block;width:6.0533rem;height:.7733rem;border-radius:.3867rem;margin:.4rem auto;font-size:.3467rem;color:#fff;text-align:center;line-height:.7733rem}
.my .main{width:100%;overflow:hidden;position:relative}
.my .main:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main li{width:100%;height:1.2533rem;padding:0 .4rem 0 .2667rem;position:relative}
.my .main li a{width:100%;height:1.2533rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.my .main li a .my_icon{width:.8rem;height:.8rem;margin-right:.8667rem}
.my .main li a p{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative;padding-left:0 .4rem}
.my .main li a p:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.my .main li a p:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.my .main li a p:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.my .main li a p span{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;color:#333}
.my .main li a p img{width:.42rem;height:.42rem}
body,html{height:100%}
.copyBody{width:10rem;min-height:100%;position:relative}
#directory_box{width:10rem;background-color:#fff;position:absolute;top:0;right:0;z-index:2}
#directory_box #mongolia{position:absolute;width:100%;height:100%;left:0;top:0;z-index:999999;display:none}
.nav_left{width:1.6rem;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:left;-ms-flex-pack:left;justify-content:left;margin-left:.4rem}
.nav_left img{width:.48rem;height:.48rem}
.nav_left span{font-size:.4267rem;color:#fff}
.nav_right{height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:left;-ms-flex-pack:left;justify-content:left;margin-right:.4rem}
.nav_right p{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;color:#fff}
.nav_right p span{font-size:.3467rem;margin-left:.2rem;margin-right:.4rem}
.nav_right img{width:.48rem;height:.48rem}
.list{width:10rem;overflow:hidden}
.list li{width:10rem;height:2.0667rem}
.list li a{width:10rem;height:2.0667rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:top;-ms-flex-align:top;align-items:top;padding-top:.3733rem;padding-left:.4rem}
.list li a .cover{width:2.6667rem;height:1.3333rem;overflow:hidden;}
.list li a .cover img{width:100%;}
.list li a .list_right{-webkit-box-flex:1;-ms-flex:1;flex:1;height:100%;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;padding-right:.3467rem;padding-left:.4rem}
.list li a .list_right:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.list li a .list_right:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.list li a .list_right:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.list li a .list_right .title_bar{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex}
.list li a .list_right .title_bar .title{font-size:.3733rem;color:#333;width:4rem;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;word-break:break-all}
.list li a .list_right .title_bar .icon{font-size:.2933rem;text-align:center;line-height:.4533rem;width:.8533rem;height:.4533rem;border-radius:.08rem;color:#fff;margin:0 .48rem}
.list li a .list_right .next{width:.3733rem;height:.3733rem}
.btn_bar_bottom{width:10rem;height:1.4933rem;padding:0 .2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.btn_bar_bottom span{width:1.8333rem;height:.7933rem;line-height:.7933rem;font-size:.3733rem;text-align:center}
.btn_bar_bottom .no{opacity:.5}
.choose_popup_bg{width:10rem;height:100%;background-color:rgba(0,0,0,.6);position:fixed;top:0;left:50%;margin-left:-5rem;z-index:999;display:none}
.choose_popup_main{width:6.9333rem;overflow:hidden;background:#fff;-webkit-box-shadow:0 0 6px 0 rgba(0,0,0,.1);box-shadow:0 0 6px 0 rgba(0,0,0,.1);border-radius:.16rem;position:absolute;right:.0667rem;top:.5rem;z-index:1000;display:none}
.choose_popup_main li{width:6.9333rem;height:1.28rem;position:relative;font-size:.3467rem;line-height:1.28rem;text-indent:1.8133rem}
.choose_popup_main li .yuan1{display:block;width:.32rem;height:.32rem;border-radius:50%;position:absolute;top:50%;margin-top:-.17rem;left:.51rem}
.choose_popup_main li .yuan2{display:block;width:.5333rem;height:.5333rem;border-width:.04rem;border-style:solid;border-radius:50%;position:absolute;top:48%;margin-top:-.25667rem;left:.41rem}