a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%;height:100%;background:#666}
body{width:10rem;min-height:100%;margin:auto;background-color:#fff}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#333 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity .5s,-webkit-transform .3s;transition:opacity .5s,-webkit-transform .3s;transition:transform .3s,opacity .5s;transition:transform .3s,opacity .5s,-webkit-transform .3s;z-index:9999}
.ripple:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.adverb{display:block;width:10rem;padding:.1867rem 0}
.adverb img{display:block;width:100%}
.scaleBoxto1{-webkit-animation:scaleBoxto1 .1s;animation:scaleBoxto1 .1s}
.scaleBoxto0{-webkit-animation:scaleBoxto0 .1s;animation:scaleBoxto0 .1s}
@-webkit-keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
@keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
body{margin-bottom:1.3067rem}
.footer{width:10rem;height:1.44rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:fixed;left:50%;bottom:0;margin-left:-5rem;background-color:#fff;height:1.3067rem;-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);box-shadow:0 0 10px rgba(0,0,0,.3);z-index:9}
.footer .footer_item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:nonde}
.footer .footer_item img{width:.8rem;height:.8rem}
.footer_font{font-size:.2933rem;color:#b2b1b5}
.hide{display:none}
.small_popup{width:10rem;height:1.1467rem;padding:0 .4533rem;background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:-webkit-sticky;position:sticky;left:50%;margin-left:-5rem;top:0;z-index:99999}
.small_popup .top_logo{width:.8rem;height:.8rem}
.small_popup .center{height:.8rem;-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;font-size:12px;font-weight:400;padding:.0667rem .32rem}
.small_popup .top_btn{width:auto;height:.8rem;padding:0 .2667rem;font-size:.3467rem;color:#fff;line-height:.8rem;text-align:center;border-radius:.4rem;margin:0 .5067rem 0 .2667rem}
.small_popup .delete{width:.2667rem;height:.2667rem}
.add_popup{width:10rem;height:100%;position:fixed;background-color:rgba(0,0,0,.6);left:50%;margin-left:-5rem;top:0;z-index:999}
.add_popup .add_popup_main{width:9.0667rem;height:2.04rem;position:absolute;left:.4667rem;bottom:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-image:url(../images/add_popup_bg.png?v=gOavk%2FFJ5%2FNJWpWL9Khv%2BA%3D%3D);background-size:100% 100%;padding-bottom:20px}
.add_popup .add_popup_main .top_logo{width:.8rem;height:.8rem;margin:0 .2667rem 0 .4rem}
.add_popup .add_popup_main p{font-size:.3733rem;color:#333}
.add_popup .add_popup_main .share{width:.7467rem;height:.7467rem;margin-bottom:.3333rem}
body{background-color:rgba(0,0,0,0)}
.top{width:10rem;height:5.1467rem;position:relative;overflow:hidden}
.top .bg{width:10rem;height:5.1467rem;position:absolute;left:0;top:0;z-index:-1}
.top .href_bar{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;padding:.4rem .4667rem 0 0}
.top .theme{width:2.2267rem;height:.7467rem;border:2px solid #fff;border-radius:.3733rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.top .theme img{width:.5333rem;height:.5333rem}
.top .theme span{font-size:.3467rem;color:#fff;padding:0 .1333rem}
.top .message{width:.5333rem;height:.5333rem;margin-left:.3333rem}
.top .message img{display:block;width:100%;height:100%}
.top .my_info{width:100%;height:1.6rem;overflow:hidden;padding:0 .32rem;margin-top:.1333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background-color:rgba(0,0,0,0)}
.top .my_info .headimg{width:1.6rem;height:1.6rem;border:2px solid #fff;border-radius:50%}
.top .my_info .right{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;color:#333;padding-left:.2933rem}
.top .my_info .right .phone{font-size:.5067rem;font-weight:700;margin-bottom:.2133rem}
.top .my_info .right .id{font-size:.32rem}
.main{width:10rem;overflow:hidden;background:#fff;border-radius:.6rem .6rem 0 0;margin-top:-1.2rem}
.main .info{width:10rem;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:.2667rem}
.main .info .info_item{-webkit-box-flex:1;-ms-flex:1;flex:1;height:.9333rem;display:-webkit-box;display:-ms-flexbox;display:flex;margin-left:.6667rem;position:relative}
.main .info .info_item:after{content:'';position:absolute;width:100%;border-right:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.main .info .info_item:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);height:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.main .info .info_item:after{width:300%;height:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.main .info .info_item .info_item_left{width:.8rem;height:.9333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.main .info .info_item .info_item_left img{width:.64rem;height:.64rem}
.main .info .info_item .info_item_right{width:2.6667rem;height:.9333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-left:.48rem}
.main .info .info_item .font1{font-size:.3467rem;color:#333}
.main .info .info_item .font2{font-size:.5067rem;color:#999}
.main .info .info_item .font3{font-size:.2667rem;color:#333}
.main .info .info_item .font4{font-size: 0.2667rem;color: #999;margin-top: .2rem;}
.main .vip_box{width:9.4667rem;height:2.1333rem;background-image:url(../images/vip_bg.png?v=ME6TrOLCKbXT%2F0SemeJydQ%3D%3D);background-size:100% 100%;margin:.6133rem auto 0 auto}
.main .vip_box .left{width:4.4rem;margin-left:2.5333rem;float:left;color:#fdf7f5;margin-top:.64rem}
.main .vip_box .left .title{font-size:.4267rem;line-height:.4rem}
.main .vip_box .left .title span{font-size:.4267rem}
.main .vip_box .left .tip{font-size:.2933rem;margin-top:.2rem}
.main .vip_box .open{width:2.1333rem;height:.5333rem;background:#fff;border:2px solid #fff;border-radius:.2667rem;float:left;margin-top:1.0667rem;font-size:.32rem;color:#333;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.main .vip_box .open img{width:.2133rem;height:.2133rem;margin-left:.0667rem}
.main .list{width:10rem;overflow:hidden;background-color:#fff;padding:0 .2667rem}
.main .list .item{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:1.52rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.main .list .item .icon{width:.64rem;height:.64rem;margin-left:.44rem}
.main .list .item .title{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;padding-left:.2933rem;color:#333}
.main .list .item .next{width:.3733rem;height:.3733rem;margin-left:.4rem}
.main .list .item .content{font-size:.32rem;color:#999}
.main .list .line{width:100%;height:1px;background-color:#e7e7e7}
.btn{display:block;width:9.4667rem;height:1.2267rem;background:#fff;border:2px solid #e7e7e7;border-radius:.08rem;margin:.2667rem auto .6667rem auto;font-size:.3733rem}
#close{height:0;overflow:hidden}
#showWb:checked+label .next{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.popup_bg{width:10rem;height:100%;position:fixed;left:50%;margin-left:-5rem;top:0;background:#000;opacity:.5;z-index:998;display:none}
.copy_box{width:9.4667rem;height:6.8933rem;background:#fff;-webkit-box-shadow:0 5px 30px 0 #7d7d7d;box-shadow:0 5px 30px 0 #7d7d7d;border-radius:.1067rem;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index:999;padding:0 .6267rem;display:none}
.copy_box .title{font-size:.56rem;color:#333;line-height:100%;margin:.6667rem 0}
.copy_box .content{font-size:.1867rem;color:#757575;line-height:.56rem;text-align:justify}
.copy_box .copy_value{width:100%;height:1.0667rem;background:#f4f4f4;border:.04rem solid #9e9e9e;border-radius:.08rem;padding:0 .2667rem;font-size:14px;color:#999;margin:.2667rem auto .9333rem auto}
.copy_box .cbtn{font-size:.4rem;font-weight:700;text-align:center;line-height:.5rem}
#sina,#wb{height:5.5467rem}
.tips_popup{width:7.44rem;height:5.6rem;background:#fff;-webkit-box-shadow:0 5px 30px 0 #7d7d7d;box-shadow:0 5px 30px 0 #7d7d7d;border-radius:.1067rem;position:fixed;left:0;top:0;right:0;bottom:0;margin:auto;z-index:999;padding:0 .64rem;display:none}
.tips_popup .tips_title{font-size:.56rem;color:#333;margin:.6933rem 0 .4rem 0}
.tips_popup .tips_main{font-size:.4267rem;line-height:.6133rem;color:#757575}
.tips_popup .tips_btn{width:1.2rem;height:.6667rem;font-size:.4rem;text-align:center;line-height:.6667rem;font-weight:700;float:right;margin-top:.5333rem}
.contact{width:10rem;overflow:hidden;background-color:#fff;position:fixed;left:50%;margin-left:-5rem;bottom:-10rem;z-index:9999}
.contact p{text-indent:.4rem}
.contact .contact_font1{font-size:.4267rem;color:#666;margin:.48rem auto .4rem auto}
.contact .contact_font2{font-size:.32rem;color:#666}
.contact .contanct_bar{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:.7733rem 0 .4533rem 0}
.contact .contanct_bar .contanct_item{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.contact .contanct_bar .contanct_item img{width:1.2267rem;height:1.2267rem;margin-bottom:.32rem}
.contact .contanct_bar .contanct_item span{font-size:.32rem;color:#666}
.common_copy{height:5.5rem}