a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%;height:100%;background:#666}
body{width:10rem;min-height:100%;margin:auto;background-color:#fff}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#333 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity .5s,-webkit-transform .3s;transition:opacity .5s,-webkit-transform .3s;transition:transform .3s,opacity .5s;transition:transform .3s,opacity .5s,-webkit-transform .3s;z-index:9999}
.ripple:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.adverb{display:block;width:10rem;padding:.1867rem 0}
.adverb img{display:block;width:100%}
.scaleBoxto1{-webkit-animation:scaleBoxto1 .1s;animation:scaleBoxto1 .1s}
.scaleBoxto0{-webkit-animation:scaleBoxto0 .1s;animation:scaleBoxto0 .1s}
@-webkit-keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
@keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
.header{width:10rem;position:-webkit-sticky;position:sticky;top:0;z-index:999;background-color:#fff}
.search_input{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem;font-size:.4267rem;color:#333}
.nav_white_shadow{-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4}
.nav{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.nav .nav_title{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;line-height:1.2rem;padding:0 .2667rem;font-size:.4267rem;color:#eee}
.nav .nav_read_title{padding-left:.4rem;-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;color:#eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_read_title .nav_read_title_name{width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.4267rem}
.nav .nav_read_title .nav_read_title_name_number{font-size:.32rem;margin-top:.1067rem;width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav .nav_icon{width:.8rem;height:.8rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_icon img{width:100%;height:100%}
.nav .nav_icon span{width:.15rem;height:.15rem;background-color:#fff;border-radius:50%;margin:.05rem}
.nav_type_list{width:10rem;height:1.1467rem;-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.nav_type_list .date{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.1467rem;font-size:.3733rem;color:#ffd5d2;text-align:center;line-height:1.1467rem}
.nav_type_list .active{color:#fff}
#line{width:2.5rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
#line_today{width:1.4133rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
.list{width:10rem;overflow:hidden;padding:0 .2667rem}
.list li{width:100%;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;padding-top:.4933rem}
.list li .icon{width:.8rem;height:.8rem;margin-right:.2667rem}
.list li .right{-webkit-box-flex:1;-ms-flex:1;flex:1}
.list li .right .type{font-size:14px;color:#333;font-weight:700}
.list li .right .time{font-size:12px;color:#999;margin:.2533rem 0 .2133rem 0}
.list li .right .title{font-size:14px;color:#333;margin-bottom:.2133rem}
.list li .right .main{width:100%;overflow:hidden;background:#f4f4f4;border-radius:.08rem;font-size:12px;line-height:16px;padding:.1333rem .4rem;color:#999}