@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%;height:100%;background:#666}
body{width:10rem;min-height:100%;margin:auto;background-color:#fff}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#333 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity .5s,-webkit-transform .3s;transition:opacity .5s,-webkit-transform .3s;transition:transform .3s,opacity .5s;transition:transform .3s,opacity .5s,-webkit-transform .3s;z-index:9999}
.ripple:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.adverb{display:block;width:10rem;padding:.1867rem 0}
.adverb img{display:block;width:100%}
.scaleBoxto1{-webkit-animation:scaleBoxto1 .1s;animation:scaleBoxto1 .1s}
.scaleBoxto0{-webkit-animation:scaleBoxto0 .1s;animation:scaleBoxto0 .1s}
@-webkit-keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
@keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
.header{width:10rem;position:-webkit-sticky;position:sticky;top:0;z-index:999;background-color:#fff}
.search_input{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem;font-size:.4267rem;color:#333}
.nav_white_shadow{-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4}
.nav{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.nav .nav_title{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;line-height:1.2rem;padding:0 .2667rem;font-size:.4267rem;color:#eee}
.nav .nav_read_title{padding-left:.4rem;-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;color:#eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_read_title .nav_read_title_name{width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.4267rem}
.nav .nav_read_title .nav_read_title_name_number{font-size:.32rem;margin-top:.1067rem;width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav .nav_icon{width:.8rem;height:.8rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_icon img{width:100%;height:100%}
.nav .nav_icon span{width:.15rem;height:.15rem;background-color:#fff;border-radius:50%;margin:.05rem}
.nav_type_list{width:10rem;height:1.1467rem;-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.nav_type_list .date{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.1467rem;font-size:.3733rem;color:#ffd5d2;text-align:center;line-height:1.1467rem}
.nav_type_list .active{color:#fff}
#line{width:2.5rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
#line_today{width:1.4133rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
.icon_only{width:2rem;height:.48rem;background-color:#c968fd;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_only:after{content:"獨家"}
.icon_new{width:2rem;height:.48rem;background-color:#53e0ac;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_new:after{content:"新作"}
.icon_limitedexemption{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_limitedexemption:after{content:"限免"}
.icon_first_re{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_first_re:after{content:"首充"}
.status_end{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/end.png?v=h4e917kwnIsHKKS6tR3fvA%3D%3D);background-size:100% 100%}
.status_end:after{content:"完结"}
.status_serialization{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/serialization.png?v=jEPRvU38m4fS3e%2FrE5voow%3D%3D);background-size:100% 100%}
.status_serialization:after{content:"连载"}
.status_icon_short{bottom:.2267rem}
body{background-color:#f6f6f6}
.info_box{width:10rem;overflow:hidden;background-color:#fff;padding-bottom:.6667rem;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.06);box-shadow:0 3px 8px 0 rgba(0,0,0,.06)}
.my_info{width:100%;height:1.6rem;overflow:hidden;padding:0 .32rem;margin-top:.1333rem;margin-bottom:.4rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.my_info .headimg{width:1.6rem;height:1.6rem;border:2px solid #fff;border-radius:50%}
.my_info .right{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;color:#333;padding-left:.2933rem}
.my_info .right .phone{font-size:.5067rem;font-weight:700;margin-bottom:.2133rem}
.my_info .right .id{font-size:.32rem}
.info{width:10rem;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:.2667rem}
.info .info_item{-webkit-box-flex:1;-ms-flex:1;flex:1;height:.9333rem;display:-webkit-box;display:-ms-flexbox;display:flex;margin-left:.6667rem;position:relative}
.info .info_item:after{content:'';position:absolute;width:100%;border-right:1px solid #e9e6ea;left:0;top:0;-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.info .info_item:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);height:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.info .info_item:after{width:300%;height:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.info .info_item .info_item_left{width:.8rem;height:.9333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.info .info_item .info_item_left img{width:.64rem;height:.64rem}
.info .info_item .info_item_right{width:2.6667rem;height:.9333rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-left:.48rem}
.info .info_item .font1{font-size:.3467rem;color:#333}
.info .info_item .font2{font-size:.5067rem;color:#999}
.info .info_item .font3{font-size:.2667rem;color:#333}
.info .info_item .font4{font-size: 0.2667rem;color: #999;margin-top: .2rem;}
.re_box{width:10rem;overflow:hidden;background-color:#fff;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.06);box-shadow:0 3px 8px 0 rgba(0,0,0,.06);margin-top:.2667rem}
.re_box .top{width:10rem;height:1.2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.re_box .top .line{width:.5333rem;height:.08rem}
.re_box .top .zs{width:.64rem;height:.64rem;margin-left:.3733rem}
.re_box .top span{font-size:.3733rem;color:#333;padding:0 .3733rem 0 .12rem}
.re_box .active{width:9.1733rem;height:1.84rem;margin:0 .4rem .4rem .4rem}
.re_box .choose_box{width:10rem;padding:0 .4rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap}
.choose_recharge_item{width:4.4rem;height:1.6rem;background:#fff;-webkit-box-shadow:0 3px 8px 0 #c4c4c4;box-shadow:0 3px 8px 0 #c4c4c4;border-radius:.08rem;margin-bottom:.4rem;position:relative}
.choose_recharge_item .choose_recharge{width:4.4rem;height:1.6rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;position:relative}
.choose_recharge_item .left_top_icon{width:1.6rem;height:1.6rem;position:absolute;top:0;right:0;overflow:hidden}
.choose_recharge_item .price{font-size:.3733rem;margin-bottom:.2267rem}
.choose_recharge_item .discount{font-size:.2667rem;color:#999}
.choose_recharge_item .hot_icon{width:.48rem;height:.48rem;position:absolute;left:0;top:-.12rem}
.re_type{width:10rem;overflow:hidden;background-color:#fff;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.06);box-shadow:0 3px 8px 0 rgba(0,0,0,.06);margin-top:.2667rem}
.re_type .re_type_title{width:10rem;height:1.28rem;font-size:.3733rem;color:#333;line-height:1.28rem;padding:0 .4rem;position:relative}
.re_type .re_type_title:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.re_type .re_type_title:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.re_type .re_type_title:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.re_type .re_type_title span{float:right;font-size:.32rem;color:#666}
.choose_type_item{width:10rem;height:1.28rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:.1867rem}
.choose_type_item .recharge_type_circular{width:.5333rem;height:.5333rem;border-radius:50%;border:.0267rem solid #716f70;margin:0 .4rem}
.choose_type_item .right{-webkit-box-flex:1;-ms-flex:1;flex:1;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative;padding-right:.4rem}
.choose_type_item .right:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.choose_type_item .right:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.choose_type_item .right:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.choose_type_item .right .left_font{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.32rem;color:#8a2be2}
.choose_type_item .right .right_font{font-size:.32rem;color:#666;padding:0 .24rem}
.choose_type_item .right .choose_type_icon{width:.64rem;height:.64rem}
.pay_recharge{width:10rem;height:1.28rem;font-size:.4267rem;background-color:#fff;margin-top:.1867rem;position:relative}
.pay_recharge:before{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.pay_recharge:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.pay_recharge:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.tips_box{width:10rem;overflow:hidden;background-color:#fff;padding-top:.8rem}
.tips_box p{font-size:.32rem;text-align:center;height:.4rem;line-height:.4rem;margin-bottom:.48rem;color:#999}
.tips_box .tips{width:2.8rem;position:relative;margin:auto;margin-bottom:.48rem}
.tips_box .tips img{width:.5333rem;height:.08rem;position:absolute}
.tips_box .tips .left{left:0;top:50%;margin-top:-.04rem}
.tips_box .tips .right{right:0;top:50%;margin-top:-.04rem}