@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,textarea{border:none;outline:0;resize:none}
html{width:100%;height:100%;background:#666}
body{width:10rem;min-height:100%;margin:auto;background-color:#fff}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.hide{display:none}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#333 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(10,10);transform:scale(10,10);opacity:0;-webkit-transition:opacity .5s,-webkit-transform .3s;transition:opacity .5s,-webkit-transform .3s;transition:transform .3s,opacity .5s;transition:transform .3s,opacity .5s,-webkit-transform .3s;z-index:9999}
.ripple:active:after{-webkit-transform:scale(0,0);transform:scale(0,0);opacity:.2;-webkit-transition:0s;transition:0s}
.adverb{display:block;width:10rem;padding:.1867rem 0}
.adverb img{display:block;width:100%}
.scaleBoxto1{-webkit-animation:scaleBoxto1 .1s;animation:scaleBoxto1 .1s}
.scaleBoxto0{-webkit-animation:scaleBoxto0 .1s;animation:scaleBoxto0 .1s}
@-webkit-keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleBoxto1{
from{-webkit-transform:scale(1.5);transform:scale(1.5)}
to{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
@keyframes scaleBoxto0{
from{-webkit-transform:scale(1);transform:scale(1);opacity:1}
to{-webkit-transform:scale(.1);transform:scale(.1);opacity:0}
}
.header{width:10rem;position:-webkit-sticky;position:sticky;top:0;z-index:999;background-color:#fff}
.search_input{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 .2667rem;font-size:.4267rem;color:#333}
.nav_white_shadow{-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4}
.nav{width:10rem;height:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.nav .nav_title{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;line-height:1.2rem;padding:0 .2667rem;font-size:.4267rem;color:#eee}
.nav .nav_read_title{padding-left:.4rem;-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.2rem;color:#eee;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_read_title .nav_read_title_name{width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.4267rem}
.nav .nav_read_title .nav_read_title_name_number{font-size:.32rem;margin-top:.1067rem;width:7rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav .nav_icon{width:.8rem;height:.8rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.nav .nav_icon img{width:100%;height:100%}
.nav .nav_icon span{width:.15rem;height:.15rem;background-color:#fff;border-radius:50%;margin:.05rem}
.nav_type_list{width:10rem;height:1.1467rem;-webkit-box-shadow:0 3px 6px 0 #c4c4c4;box-shadow:0 3px 6px 0 #c4c4c4;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative}
.nav_type_list .date{-webkit-box-flex:1;-ms-flex:1;flex:1;height:1.1467rem;font-size:.3733rem;color:#ffd5d2;text-align:center;line-height:1.1467rem}
.nav_type_list .active{color:#fff}
#line{width:2.5rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
#line_today{width:1.4133rem;height:.0533rem;background-color:#fff;position:absolute;right:0;bottom:0}
.icon_only{width:2rem;height:.48rem;background-color:#c968fd;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_only:after{content:"獨家"}
.icon_new{width:2rem;height:.48rem;background-color:#53e0ac;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_new:after{content:"新作"}
.icon_limitedexemption{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_limitedexemption:after{content:"限免"}
.icon_first_re{width:2rem;height:.48rem;background-color:#ff0006;position:absolute;right:-.7rem;top:.12rem;font-size:.2933rem;text-align:center;line-height:.48rem;color:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.icon_first_re:after{content:"首充"}
.status_end{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/end.png?v=h4e917kwnIsHKKS6tR3fvA%3D%3D);background-size:100% 100%}
.status_end:after{content:"完结"}
.status_serialization{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5607rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem;background-image:url(../images/serialization.png?v=jEPRvU38m4fS3e%2FrE5voow%3D%3D);background-size:100% 100%}
.status_serialization:after{content:"连载"}
.status_icon_short{bottom:.2267rem}
.item_4{width:2.1333rem;margin-right:.16rem;margin-bottom:.36rem;position:relative}
.item_4:before{content:"";width:2.1333rem;height:2.9733rem;background-color:#dbdbdb;border-radius:.08rem .08rem 0 .08rem;position:absolute;left:.08rem;top:.08rem}
.item_4 .img_box{width:2.1333rem;height:2.9733rem;border-radius:.08rem .08rem 0 .08rem;position:relative}
.item_4 .img_box .cover{width:100%;height:100%}
.item_4 .img_box .status{width:.9067rem;height:.48rem;position:absolute;left:0;bottom:.5067rem;color:#fff;font-size:.2933rem;line-height:.48rem;text-indent:.0667rem}
.item_4 .img_box .status span{display:block;width:.9067rem;height:.48rem;position:absolute;left:0;top:0}
.item_4 .img_box .status img{display:block;width:100%;height:100%}
.item_4 h4{width:100%;height:.7467rem;line-height:.7467rem;font-size:.32rem;font-weight:400;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.item_4 .info{width:100%;font-size:.2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;color:#999;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.item_4 .info .start{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.item_4 .info img{width:.32rem;height:.32rem;margin-right:.0667rem}
.item_1_bar_line{padding:.32rem .2667rem!important}
.item_1_bar_line:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.item_1_bar_line:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.item_1_bar_line:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.item_1_bar{width:100%;overflow:hidden;padding:.1333rem .2667rem;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex}
.item_1_bar .img_box{width:2.24rem;height:3.12rem;border-radius:.08rem .08rem 0 .08rem;overflow:hidden;position:relative;z-index:1}
.item_1_bar .img_box .cover{width:2.24rem;height:3.12rem}
.item_1_bar .right{-webkit-box-flex:1;-ms-flex:1;flex:1;padding-left:.3333rem;position:relative}
.item_1_bar .right:before{content:"";width:2.24rem;height:3.12rem;background-color:#dbdbdb;border-radius:.08rem .08rem 0 .08rem;position:absolute;left:-2.16rem;top:.08rem}
.item_1_bar .right .title{width:5.8667rem;font-size:.3467rem;line-height:.56rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.item_1_bar .right .content{height:.96rem;font-size:.32rem;color:#999;line-height:.48rem;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin:.2667rem 0 .7rem 0;text-align:justify}
.item_1_bar .right .info{font-size:.2933rem;color:#999;line-height:.48rem;display:-webkit-box;display:-ms-flexbox;display:flex}
.item_1_bar .right .info span{-webkit-box-flex:1;-ms-flex:1;flex:1}
.item_1_bar .right .info .start{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right}
.item_1_bar .right .info .read{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;float:right;padding-right:.4rem}
.item_1_bar .right .info img{width:.32rem;height:.32rem;margin-right:.0667rem}
.check_title{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}
body{background-color:#f8f8f8}
.change_btn{width:9.2rem;height:.7467rem;background:#f1f1f1;border-radius:.3733rem;font-size:.3733rem;color:#999;display:block;margin:0 auto .3467rem auto}
.history{width:10rem;overflow:hidden;background-color:#fff;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.06);box-shadow:0 3px 8px 0 rgba(0,0,0,.06)}
.history #history_title{width:10rem;height:1.28rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;overflow:hidden;margin-top:.2rem}
.history #history_title .title{-webkit-box-flex:1;-ms-flex:1;flex:1;margin-bottom:0}
.history #history_title .history_icon{width:.3733rem;height:.3733rem;margin-right:.2667rem;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
#showClearBtn:checked+label .history_icon{-webkit-transform:rotate(0);transform:rotate(0)}
.no_history{width:10rem;height:1.2rem;background-color:#fff;font-size:.32rem;line-height:1.2rem;color:#999;padding:0 .2667rem;position:relative}
.no_history:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.no_history:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.no_history:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.history_list{width:10rem;overflow:hidden;background-color:#fff}
.history_list li{width:10rem;height:1.2rem;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .2667rem}
.history_list li:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.history_list li:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.history_list li:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.history_list li .history_icon{width:.3733rem;height:.3733rem}
.history_list li p{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.3733rem;color:#999;padding:0 .2667rem}
.history_list li .history_clear{width:.3733rem;height:.3733rem}
.clear_history{width:10rem;height:0;background-color:#fff;font-size:.32rem;overflow:hidden;line-height:1.2rem;position:relative;text-align:center}
.clear_history:after{content:'';position:absolute;width:100%;border-bottom:1px solid #e9e6ea;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.clear_history:after{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.clear_history:after{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.common_title{width:10rem;height:1.28rem;padding:0 .2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative}
.common_title:after{content:"";width:.08rem;height:.6933rem;position:absolute;left:0;top:.3333rem}
.common_title:before{content:'';position:absolute;width:100%;border-bottom:1px solid #f4f6fa;left:0;bottom:0;-webkit-transform-origin:0 bottom;transform-origin:0 bottom;opacity:1}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
.common_title:before{width:200%;-webkit-transform:scale(.5);transform:scale(.5);width:200%}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:3dppx){
.common_title:before{width:300%;width:300%;-webkit-transform:scale(.34);transform:scale(.34)}
}
.common_title h3{-webkit-box-flex:1;-ms-flex:1;flex:1;font-size:.48rem;font-weight:700;color:#333}
.common_title .more{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:.3733rem;font-weight:400}
.common_title .more img{width:.48rem;height:.48rem;margin-left:.1067rem}
.box{width:10rem;overflow:hidden;background-color:#fff;margin:.16rem 0;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.06);box-shadow:0 3px 8px 0 rgba(0,0,0,.06)}
.many{width:10rem;overflow:hidden;padding:0 .2667rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:.2667rem}
.maybe{width:10rem;overflow:hidden;background-color:#fff;-webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,.06);box-shadow:0 3px 8px 0 rgba(0,0,0,.06);margin-bottom:.4rem}
.maybe .maybe_list{margin-bottom:.4rem;margin-top:.2667rem}