<template>
  <div>
    <my-nav :title="title" @tellbottom="loadmore"></my-nav>
    <div class="main">
      <router-link
        :to="{name:'detail',query:{book_id:item.id}}"
        class="item_1_bar item_1_bar_line"
        v-for="(item,index) in list"
        :key="index"
      >
        <div class="img_box">
          <img class="cover" :src="item.cover" />
          <p class="icon_only" v-if="item.is_alone === 1"></p>
          <!-- 连载 -->
          <p v-if="item.over_type == 1" class="status_serialization"></p>
          <!-- 完结 -->
          <p v-if="item.over_type == 2" class="status_end"></p>
        </div>
        <div class="right">
          <h2 class="title red_color_themes">{{ item.name }}</h2>
          <p class="content">{{ item.summary }}</p>
          <div class="info">
            <span>作者：{{ item.author }}</span>
            <div class="read">
              <img src="../../assets/images/eyes.png" />
              <span>{{ item.hot_num }}</span>
            </div>
            <div class="start">
              <img src="../../assets/images/star.png" />
              <span>{{ item.star }}</span>
            </div>
          </div>
        </div>
      </router-link>
    </div>
    <p class="loadText">{{loadText}}</p>
  </div>
</template>
<script>
import { GetBookList } from "@/api";
import { loadmore } from "@/mixin/loadmore";
import MyNav from "@/components/nav";
export default {
  components: {
    MyNav
  },
  mixins: [loadmore],
  data() {
    return {
      sendData: {
        category: this.$route.query.category,
        type: this.$route.query.type,
        page: 1,
        size: 10
      }
    };
  },
  created() {
    this._getList();
  },
  methods: {
    // 获取书籍列表
    _getList() {
      // type:book类型(1:精品，2:最新，3:限免书籍，4：推荐书籍，5：猜你喜欢书籍)
      // category (1:漫画，2：小说)
      //page
      //size

      GetBookList(this.sendData).then(res => {
        this.list = [...this.list, ...res];
        this._changeStatus(res);
      });
    }
  },
  computed: {
    title() {
      if (this.sendData.type == 1) {
        return "精品";
      } else if (this.sendData.type == 2) {
        return "最新";
      } else if (this.sendData.type == 3) {
        return "限免";
      } else if (this.sendData.type == 4) {
        return "推薦";
      }
    },
    type() {
      return this.$route.query.type;
    }
  },
  watch: {
    type(val) {
      this.list = [];
      this.sendData.type = val;
      this.sendData.page = 1;
      this._getList();
    },

  }
};
</script>
<style lang="scss" scoped>
@import "../../assets/scss/item_1_bar.scss";
.loadText {
  width: 100%;
  height: 16px;
  background-color: white;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: #999;
}
</style>