<template>
  <van-pull-refresh v-model="isLoading" success-text="刷新成功" @refresh="onRefresh">
  <div id="index">
    <!-- header -->
    <div class="header red_bgcolor_themes" id="header">
      <div class="img_box">
        <!--<img class="logo" src="../../assets/images/logo.png">-->
      </div>
      <router-link to="search" class="search_main">
<!--        <img class="search_icon" src="../../assets/images/search_icon.png" />-->
      </router-link>
    </div>
    <!-- 视频列表 -->
    <div class="box" v-if="videoList" style="padding-bottom: 1.5rem;background-color: #efefef">
      <div class="main" v-if="navType === 1">
        <div

            class="item_1"
            v-for="(item, index) in videoList"
            :key="index"

        >
          <router-link
              :to="{}"
              v-on:click.native="pushDetail(item)"
          >
          <div class="img_box" style="height: 6.1rem;margin-top: .2rem">
            <img style="width: 100%;" :src="item.img" />
          </div>
          </router-link>
          <p class="introduce" style="padding: 0;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">
            {{ item.des }}
          </p>
          <p class="introduce" style="padding: 0;">片名：<span style="color: #ffd034;text-shadow:#000 1px 1px 1px;">
                   {{item.title}}
                </span></p>
          <p class="introduce" style="padding: 0;">作者：<span style="color: #ffd034;text-shadow:#000 1px 1px 1px;">
            <span @click="clickAuthor(item.author)">{{item.author}}</span>
                </span></p>
          <p class="introduce" style="padding: 0;">標籤：<span style="color: #ffd034;text-shadow:#000 1px 1px 1px;">
            <span v-for="tag in item.tags" @click="clickTag(tag)">{{tag}}, </span>
                </span>
          </p>
        </div>
      </div>
    </div>

    <my-footer :type="5"></my-footer>
  </div>
  </van-pull-refresh>
</template>
<script>
import local from "storejs";
import { loadmore } from "@/mixin/loadmore";
import {
  IndexGetNav,
  GetVideoList,
} from "@/api";
import Swiper from "swiper";
import MyFooter from "@/components/footer";
import Vue from "vue";
import {PullRefresh } from 'vant';
import 'vant/lib/index.css';
Vue.use(PullRefresh);
export default {
  components: { MyFooter },
  mixins: [loadmore],
  data() {
    return {
      isLoading: true,
      navList: {},
      //导航栏信息
      navType: 1,
      //视频列表
      videoList: [],
      videoData:{page:1,size:10},
    };
  },
  created() {

    this._getnav();
  },
  methods: {
    onRefresh() {
      this._getList();
      this._getVideoList();
      this._getnav();
      setTimeout(() => {
        this.isLoading = false;
      }, 1000)
    },
    _getList() {
      if(this.$route.query.tag){
        this.videoData.tag=this.$route.query.tag;
      }
      if(this.$route.query.author){
        this.videoData.author=this.$route.query.author;
      }
      this._getVideoList(this.videoData);
    },
    //获取视频列表
    _getVideoList(data){
      GetVideoList(data).then((res)=>{
        for(var i=0;i<res.length;i++){
          res[i].tags=JSON.parse(res[i].tags);
        }

        if (data.page === 1) {
          this.videoList = res;
        } else {
          this.videoList = [...this.videoList, ...res];
        }
        this.isload = false;
      })
    },
    //获取导航栏
    _getnav() {
      IndexGetNav().then((res) => {
        this.navList = res;
        this.navType = 1;
        document.title = res.web_name;
      });
    },
    pushDetail(item){
      /*
      if(window.android){
        let userInfo = this.$store.state.userInfo;
        window.android.openVideo(item.id,userInfo.viptime>0);
      }else{
        var res=window.confirm("该功能需要在APP中才能正常使用，是否下载APP？")
        if(res){
          window.location.href="http://23.226.1.246/1/kkcomics.apk";
        }
      }
      */
      this.$router.push({
        name: "videoDetail",
        query: { video_id: item.id },
      });


    },
    clickTag(tag){
     this.$router.push({
       name:"video",
       query:{tag:tag}}
     )
    },
    clickAuthor(author){
      this.$router.push({
        name:"video",
        query:{author:author}}
      )
    }
  },
  watch: {
    navType: {
      handler(val) {
        this.videoData.page = 1;
        this._getList();
      },
      immediate: true,
    },


  },



};
</script>
<style lang="scss" >
@import "../../assets/scss/swiper.scss";
#index {
  background-color: #f4f6fa;
}
</style>
<style lang="scss" scoped>
@import "../../assets/scss/item_1.scss";
@import "../../assets/scss/item_3.scss";

body {
  background-color: #f4f6fa;
}

.header {
  width: 10rem;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
  padding: 0 0.2667rem;

  .logo {
    width: 1.7067rem;
    height: 0.5333rem;
    margin-right: 0.5rem;
  }
  .search_icon {
    width: 0.8rem;
    height: 0.8rem;
  }
}

// banner
.banner {
  width: 10rem;
  overflow: hidden;
  background-color: #fff;
  // background-image: url(../images/banner-bg.png);
  background-size: 100% 80%;
  background-repeat: no-repeat;
  padding: 0.2667rem;
}

.swiper-slide {
  width: 9.4667rem;
  height: 5.0667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.16rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.16rem;
  }
}

// 分类
.type {
  width: 10rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.9333rem 0.32rem 0.9333rem;

  .type_a {
    width: 1.44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 1.44rem;
      height: 1.44rem;
    }

    span {
      // font-size: 0.1467rem;
      font-size: 0.3467rem;
      color: #333333;
      font-weight: 400;
    }
  }
}

.box {
  width: 10rem;
  overflow: hidden;
  background-color: white;
  margin-bottom: 0.1867rem;
}

.common_title {
  width: 10rem;
  height: 1.28rem;
  padding: 0 0.2667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0.3467rem;

  &:after {
    content: "";
    width: 0.08rem;
    height: 0.6933rem;
    background: rgba(244, 67, 54, 1);
    position: absolute;
    left: 0;
    top: 0.3333rem;
  }

  &:before {
    // @include border(bottom, #F4F6FA);
  }

  h3 {
    flex: 1;
    font-size: 0.48rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.3733rem;
    font-weight: 400;
    color: rgba(244, 67, 54, 1);

    img {
      width: 0.48rem;
      height: 0.48rem;
      margin-left: 0.1067rem;
    }
  }
}

.main {
  width: 10rem;
  overflow: hidden;
  padding: 0 0.2667rem;
}

.change_btn {
  width: 9.2rem;
  height: 0.7467rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 0.3733rem;
  font-size: 0.3733rem;
  color: #999;
  display: block;
  margin: 0 auto 0.3467rem auto;
}

.list_type {
  width: 7.36rem;
  height: 0.88rem;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(246, 246, 246, 1);
  box-shadow: 0px 3px 6px 0px rgba(190, 190, 190, 0.47);
  border-radius: 0.44rem;
  margin: 0 auto 0.36rem auto;
  display: flex;
  font-size: 0.3733rem;
  font-weight: 400;
  text-align: center;
  line-height: 0.88rem;
  overflow: hidden;

  li {
    flex: 1;
    border-right: 1px solid rgba(246, 246, 246, 1);

    &:last-child {
      border-right: none;
    }
  }
}
</style>