<template>
  <div>
    <my-nav :title="`主題設置`" :type="0"></my-nav>
    <p class="font">點擊選擇主題顏色</p>
    <ul class="theme">
      <li @click="handleChooseThemes(item)" v-for="(item,index) in list" :key="index" :id="item">{{ item }}</li>
    </ul>
  </div>
</template>
<script>
import MyNav from "@/components/nav";
import local from "storejs";
export default {
  components: {
    MyNav
  },
  data() {
    return {
      list: [
        "Red",
        "Green",
        "Blue",
        "Pink",
        "Yellow",
        "Orange",
        "Gray",
        "Black",
        "Violet"
      ]
    };
  },
  methods:{
      handleChooseThemes(id){
          if(id === "Red"){
              local.set("Themes", "change_red")
          }else if(id === "Green"){
              local.set("Themes", "change_green")
          }else if(id === "Blue"){
              local.set("Themes", "change_blue")
          }else if(id === "Pink"){
              local.set("Themes", "change_pink")
          }else if(id === "Yellow"){
              local.set("Themes", "change_yellow")
          }else if(id === "Orange"){
              local.set("Themes", "change_orange")
          }else if(id === "Gray"){
              local.set("Themes", "change_gray")
          }else if(id === "Black"){
              local.set("Themes", "change_black")
          }else if(id === "Violet"){
              local.set("Themes", "change_violet")
          }
          window.location.reload()
      }
  }
};
</script>
<style lang="scss" scoped>
.font {
  font-size: 0.3733rem;
  color: #666;
  margin: 0.84rem 0 0.4667rem 0;
  padding-left: 0.4rem;
}

.theme {
  width: 10rem;
  padding: 0 0.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    width: 2.7733rem;
    height: 0.96rem;
    box-shadow: 0px 3px 6px 0px rgba(195, 195, 195, 1);
    border-radius: 0.48rem;
    font-size: 0.3467rem;
    line-height: 0.96rem;
    text-align: center;
    color: white;
    margin-bottom: 0.4rem;
  }
}

#Red {
  background-color: #e90500;
}

#Green {
  background-color: #4caf50;
}
#Blue {
  background-color: #2196f3;
}
#Pink {
  background-color: #e91e63;
}
#Yellow {
  background-color: #ffcf00;
}
#Orange {
  background-color: #ff9800;
}
#Gray {
  background-color: #9e9e9e;
}
#Black {
  background-color: #000000;
}
#Violet {
  background-color: #b65bb6;
}
</style>