<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：layuiAdmin-v{{ layui.admin.v }}</p>
    <p>基于框架：layui-v{{ layui.v }}</p>
  </script>
  <div class="layui-btn-container">
    <a href="http://www.layui.com/admin/" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
    <a href="http://fly.layui.com/download/layuiAdmin/" target="_blank" class="layui-btn">下载新版</a>
  </div>
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">
  
  <blockquote class="layui-elem-quote" style="border: none;">
    layuiAdmin 受国家计算机软件著作权保护（登记号：<a href="http://cdn.layui.com/images/layuiAdmin-show.jpg" target="_blank">2018SR410669</a>），必须经<a href="https://www.layui.com/admin/" target="_blank">官网</a>授权才可获得源文件使用权。不得恶意分享产品源代码、二次转售等，违者将承担相应的法律责任。
    <br><br>详见：<a href="https://fly.layui.com/jie/26280/" target="_blank">《layui 付费产品服务条款》</a>
  </blockquote>
  <p>© 2018 <a href="http://www.layui.com/">layui.com</a> 版权所有</p>
</div>