{extend name="common@public/base"} 
{block name="title"}更新广告{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				{$cur.name}----广告配置
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">广告图片：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-100x100" title="点击上传小说封面" id="doUpload">
									<img src="/static/common/images/upload.png"/>
								</div>
								<div class="image-remark">图片格式：jpg、jpeg、png、gif</div>
							</div>
							<div>
								<img src="{$cur.src}" id="showImg" style="max-height:200px;"/>
								<input type="hidden" id="hideVal" name="src" value="{$cur.src}"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">链接地址：</label>
							<div class="layui-input-block">
								<input type="text" name="url" value="{$cur.url}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">是否启用：</label>
							<div class="layui-input-block">
								{:createRadioHtml($status,$cur['status'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a type="reset" class="layui-btn layui-btn-primary" href="{:url('index')}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/ad.doad.js"></script>
{/block}
