{extend name="common@public/base"}
{block name="title"}广告管理{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 50px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/ad.index.js"></script>
{/block}
