{extend name="common@public/base"} 
{block name="title"}更新代理{/block} 
{block name="jsValue"}
<script type="text/javascript">
var $backUrl = '{$backUrl}';
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-form">
		<div class="layui-card">
			<div class="layui-card-header">
				代理基础信息 
			</div>
			<div class="layui-card-body">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">代理名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" class="layui-input" />
							</div>
						</div>
					</div>
					{empty name="cur.id"}
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">登录账号：</label>
							<div class="layui-input-block">
								<input type="text" name="login_name" value="{$cur.login_name}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">登录账号一旦设定后不可更改</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">登录密码：</label>
							<div class="layui-input-block">
								<input type="password" name="password" value="" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">登录密码设定后只能重置或自行登录修改</div>
					</div>
					{else /}
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">登录账号：</label>
							<div class="layui-input-block">
								<input type="text" value="{$cur.login_name}" disabled="disabled" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">登录账号一旦设定后不可更改</div>
					</div>
					{/empty}
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">绑定域名：</label>
							<div class="layui-input-block">
								<input type="text" name="url" value="{$cur.url}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">代理绑定域名后，代理推广外链都将为该域名</div>
					</div>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-header">
				结算相关信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form-item">
					<div class="layui-col-lg4">
						<label class="layui-form-label">返佣比例：</label>
						<div class="layui-input-block">
							<input type="text" name="ratio" value="{$cur.ratio}" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-mid layui-word-aux">单位：%，填写 <font class="text-red">0</font> - <font class="text-red">{$ratio}</font> 之间的数字,否则您将面临亏本，设置比例不能超过100%</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-col-lg4">
						<label class="layui-form-label">开户人：</label>
						<div class="layui-input-block">
							<input type="text" name="bank_user" value="{$cur.bank_user}" class="layui-input" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-col-lg5">
						<label class="layui-form-label">开户网点：</label>
						<div class="layui-input-block">
							<input type="text" name="bank_name" value="{$cur.bank_name}" class="layui-input" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-col-lg5">
						<label class="layui-form-label">银行卡号：</label>
						<div class="layui-input-block">
							<input type="text" name="bank_no" value="{$cur.bank_no}" class="layui-input" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
	                <div class="layui-input-block">
	                	<input type="hidden" value="{$cur.id}" name="id" />
	                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
	                  	<a class="layui-btn layui-btn-primary" href="{$backUrl}">返回</a>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/upback.js"></script>
{/block}
