{notempty name="list"}
	<div class="box">
    <div class="common_title">
        <h3>{$title}</h3>
    </div>
    <ul class="main">
    	{volist name="list" id="v"}
    		<li class="item_1" onclick="javascript:toInfo('{$v.id}');">
             <div class="img_box">
                 <img class="cover" src="{$v.detail_img}">
                 <div class="status">
                 {eq name="v.over_type" value="1"}
             		<p class="status_serialization status_icon_short"></p>
             	{else /}
             		<p class="status_end status_icon_short"></p>
             	{/eq}
                 </div>
                 {eq name="type" value="3"}
                 <span class="icon_limitedexemption"></span>
                 {/eq}
                 <!-- title -->
                  <h4>{$v.name}</h4>
                  <div class="info">
                      <div class="read">
                          <img src="__INDEX__/images/eyes.png">
                          <span>{$v.hot_num}</span>
                      </div>
                      <div class="start">
                          <img src="__INDEX__/images/star.png">
                          <span>{$v.star}</span>
                      </div>
                  </div>
              </div>
              <p class="introduce">{$v.summary}</p>
          </li>
     	{/volist}
     </ul>
     {eq name="is_load" value="1"}
    	<button class="change_btn ripple" onclick="javascript:getData('{$type}','{$category}',this);" data-page="1">換一換</button>
    {/eq}
 </div>
{/notempty}