{notempty name="list"}
<!-- 排行榜 -->
    <div class="box">
        <div class="common_title">
            <h3>排行榜</h3>
            <a class="more" href="/index/book/rank.html?category={$category}">
                <span>更多</span>
                <img src="__INDEX__/images/red_more.png">
            </a>
        </div>
        <ul class="list_type red_color_themes">
            <li class="ripple chooseList_red_color_themes">暢銷榜</li>
            <li class="ripple">人氣榜</li>
            <li class="ripple">連載榜</li>
            <li class="ripple">完結榜</li>
        </ul>
        {volist name="list" id="type_list" key="type_key"}
        	<ul class="main rank-ul" id="rank-ul-{$type_key}" {neq name="type_key" value="1"}style="display:none;"{/neq}>
        		{notempty name="type_list"}
        			{volist name="type_list" id="v" key="vkey"}
        				{lt name="vkey" value="4"}
        					<li class="item_3" onclick="javascript:toInfo('{$v.id}');">
				                <div class="img_box">
				                    <span class="tips">No.{$vkey}</span>
				                    <img class="cover" src="{$v.cover}">
				                    {eq name="v.over_type" value="1"}
					             		<p class="status_serialization status_icon_short"></p>
					             	{else /}
					             		<p class="status_end status_icon_short"></p>
					             	{/eq}
				                </div>
				                <h4 class="red_color_themes">{$v.name}</h4>
				                <div class="info">
				                    <div class="start">
				                        <img src="__INDEX__/images/star.png">
				                        <span>{$v.star}</span>
				                    </div>
				                    <div class="read">
				                        <img src="__INDEX__/images/eyes.png">
				                        <span>{$v.hot_num}</span>
				                    </div>
				                </div>
				            </li>
        				{/lt}
        			{/volist}
        		{/notempty}
	        </ul>
        {/volist}
    </div>
{/notempty}