{notempty name="list"}
	<div class="box">
	    <div class="common_title">
	        <h3>{$title}</h3>
	        {eq name="is_more" value="1"}
		        <a class="more" href="/index/book/more.html?type={$type}&category={$category}">
		            <span>更多</span>
		            <img src="__INDEX__/images/red_more.png">
		        </a>
	        {/eq}
	    </div>
	    <ul class="main">
	    	{volist name="list" id="v"}
	    		<li class="item_3" onclick="javascript:toInfo({$v.id});">
	             <div class="img_box">
	             	<img class="cover" src="{$v.cover}">
	             	{eq name="v.over_type" value="1"}
	             		<p class="status_serialization status_icon_short"></p>
	             	{else /}
	             		<p class="status_end status_icon_short"></p>
	             	{/eq}
	             </div>
	             <h4 class="red_color_themes">{$v.name}</h4>
	             <div class="info">
	                 <div class="start">
	                     <img src="__INDEX__/images/star.png">
	                     <span>{$v.star}</span>
	                 </div>
	                 <div class="read">
	                     <img src="__INDEX__/images/eyes.png">
	                     <span>{$v.hot_num}</span>
	                 </div>
	             </div>
	         </li>
	    	{/volist}
	    </ul>
	    {eq name="is_load" value="1"}
	    	<button class="change_btn ripple" onclick="javascript:getData('{$type}','{$category}',this);" data-page="1">換一換</button>
	    {/eq}
	</div>
{/notempty}