{notempty name="list"}
<div class="swiper-container">
    <div class="swiper-wrapper">
    	{volist name="list" id="v"}
        <a href="{$v.link}" class="swiper-slide">
            <img src="{$v.src}">
        </a>
        {/volist}
    </div>
    <div class="swiper-pagination"></div>
</div>
{/notempty}