{notempty name="list"}
	{volist name="list" id="type_list" key="type_key"}
    	<ul class="main rank-ul" id="rank-ul-{$type_key}" {neq name="type_key" value="1"}style="display:none;"{/neq}>
    		{notempty name="type_list"}
    			{volist name="type_list" id="v"}
    				<li class="item_1_bar item_1_bar_line" onclick="javascript:toInfo('{$v.id}');">
			            <div class="img_box">
			                <img class="cover" src="{$v.cover}">
			                {eq name="v.is_alone" value="1"}
			                	<p class="icon_only"></p>
			                {/eq}
			                {eq name="v.over_type" value="1"}
			             		<p class="status_serialization status_icon_short"></p>
			             	{else /}
			             		<p class="status_end status_icon_short"></p>
			             	{/eq}
			            </div>
			            <div class="right">
			                <h2 class="title red_color_themes">{$v.name}</h2>
			                <p class="content">{$v.summary}</p>
			                <div class="info">
			                    <span>作者：{$v.author}</span>
			                    <div class="read">
			                        <img src="__INDEX__/images/eyes.png">
			                        <span>{$v.hot_num}</span>
			                    </div>
			                    <div class="start">
			                        <img src="__INDEX__/images/star.png">
			                        <span>{$v.star}</span>
			                    </div>
			                </div>
			            </div>
			        </li>
    			{/volist}
    		{/notempty}
     	</ul>
    {/volist}
{/notempty}