{extend name="common@public/base"} 
{block name="title"}{$title}{/block}
{block name="jsValue"}
<script type="text/javascript">
var $free_type = parseInt('{$cur.free_type}');
</script>
{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				{$title}
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">书籍名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">作者：</label>
							<div class="layui-input-block">
								<input type="text" name="author" value="{$cur.author}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">封面：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-120x170" title="点击上传小说封面" onclick="javascript:cropImage('上传小说封面图片','210x290',this);">
									{empty name="cur.cover"}
										<img src="/static/common/images/240x340.png" class="showimg"/>
									{else /}
										<img src="{$cur.cover}" class="showimg"/>
									{/empty}
									<input type="hidden" class="hideval" name="cover" value="{$cur.cover}"/>
								</div>
								<div class="image-remark">点击可更换书籍封面图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">详情图片：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-375x210" title="点击上传小说详情图片" onclick="javascript:cropImage('上传小说详情图片','511x197',this);">
									{empty name="cur.detail_img"}
										<img src="/static/common/images/375x210.png" class="showimg"/>
									{else /}
										<img src="{$cur.detail_img}" class="showimg" />
									{/empty}
									<input type="hidden" class="hideval" name="detail_img" value="{$cur.detail_img}"/>
								</div>
								
								<div class="image-remark">点击可更换详情图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">状态：</label>
							<div class="layui-input-block">
								{:createRadioHtml($status,$cur['status'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">简介：</label>
							<div class="layui-input-block">
								<textarea class="layui-textarea" name="summary">{$cur.summary}</textarea>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg6">
							<label class="layui-form-label">类型：</label>
							<div class="layui-input-block">
								{:createCheckBoxHtml($category,'category',$cur['category'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">发布属性：</label>
							<div class="layui-input-block">
								{:createCheckBoxHtml($book_tag,'book_tag',$cur['book_tag'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">是否免费：</label>
							<div class="layui-input-block">
								{:createRadioHtml($free_type,$cur['free_type'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item free-input-line">
						<div class="layui-col-lg4">
							<label class="layui-form-label">免费章节：</label>
							<div class="layui-input-block">
								<input type="text" name="free_chapter" value="{$cur.free_chapter}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">设定值前的章节阅读免费</div>
					</div>
					<div class="layui-form-item free-input-line">
						<div class="layui-col-lg4">
							<label class="layui-form-label">付费书币：</label>
							<div class="layui-input-block">
								<input type="text" name="money" value="{$cur.money}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">免费章节后每章节收取多少书币</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">更新状态：</label>
							<div class="layui-input-block">
								{:createRadioHtml($over_type,$cur['over_type'])}
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">书籍评分：</label>
							<div class="layui-input-block">
								<input type="text" name="star" value="{$cur.star}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">书籍评分,格式为小于等于10的两位小数</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">初始化人气值：</label>
							<div class="layui-input-block">
								<input type="text" name="hot_num" value="{$cur.hot_num}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">书籍详情页展示,此后每当用户进入该页面，人气值+1</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">书籍标签：</label>
						<div class="layui-input-block">
							<div class="layui-card">
								<div class="layui-card-body">
									<div class="layui-btn-container">
							       		<a class="layui-btn layui-btn-sm" id="addTag">添加标签</a>
							    	</div>
									<div class="layui-form-item block-item-box">
										{empty name="cur.text_tag"}
										<div class="block-input">
											<input type="text" name="text_tag[]" />
											<span class="delete"></span>
										</div>
										{else /}
											{volist name="cur.text_tag" id="tv"}
												<div class="block-input">
													<input type="text" name="text_tag[]" value="{$tv}"/>
													<span class="delete"></span>
												</div>
											{/volist}
										{/empty}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a type="reset" class="layui-btn layui-btn-primary" href="{:url('index')}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/cartoon.docartoon.js"></script>
{/block}
