{extend name="common@public/base"} 
{block name="title"}活跃度统计{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
			        <div class="layui-form-item">
			          <div class="layui-inline">
			          	<label class="layui-form-label">统计时段</label>
			            <div class="layui-input-inline" style="width:240px;">
			              <input type="text" name="between_time" id="between_time" value="{$between_time}" readonly="readonly" class="layui-input">
			            </div>
			          </div>
			          <div class="layui-inline">
			            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
			          </div>
			        </div>
			    </div>
				<div class="layui-card-body">
					<div id="content" style="height:600px;"></div>
				</div>
			</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/echarts/echarts-all.js"></script>
<script type="text/javascript">
	layui.use(['jquery','form','laydate'],function(){
		var $ = layui.jquery,
		form = layui.form,
		laydate = layui.laydate;
		var myChart = echarts.init(document.getElementById('content'),'macarons');
		
		getData({});
		
		form.on('submit(table-search)',function(obj){
			var where = obj.field;
			getData(where);
		});
		
		laydate.render({elem:'#between_time',type:'date',range:'~'});
		
		function getData(where){
			ajaxPost('',where,'',function(res){
				myChart.setOption({
					tooltip : {
				        trigger: 'axis'
				    },
				    calculable : true,
				    xAxis : [
				        {
				            type : 'category',
				            boundaryGap : false,
				            data : res.title
				        }
				    ],
				    yAxis : [
				        {
				            type : 'value',
				            axisLabel : {
				                formatter: '{value}'
				            }
				        }
				    ],
				    series : [
				        {
				            name:'用户数量',
				            type:'line',
				            data:res.data,
				            markPoint : {
				                data : [
				                    {type : 'max', name: '最大值'},
				                    {type : 'min', name: '最小值'}
				                ]
				            }
				        }
				    ]
				},true);
			});
		}
	});
	
</script>
{/block}
