{extend name="common@public/base"} 
{block name="title"}更新充值套餐{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-form">
		<div class="layui-card">
			<div class="layui-card-header">
				充值套餐基础信息
			</div>
			<div class="layui-card-body">
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">充值金额：</label>
							<div class="layui-input-block">
								<input type="text" name="money" value="{$cur.money}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">充值类型：</label>
						<div class="layui-input-block">
							{:createRadioHtml($type,$cur['type']);}
						</div>
					</div>
					<div class="layui-form-item type1 {eq name='cur.type' value='2'}layui-hide{/eq}">
						<div class="layui-col-lg4">
							<label class="layui-form-label">充值书币：</label>
							<div class="layui-input-block">
								<input type="text" name="coin" value="{$cur.coin}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item type1 {eq name='cur.type' value='2'}layui-hide{/eq}">
						<div class="layui-col-lg4">
							<label class="layui-form-label">赠送书币：</label>
							<div class="layui-input-block">
								<input type="text" name="send_coin" value="{$cur.send_coin}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item type2 {eq name='cur.type' value='1'}layui-hide{/eq}">
						<div class="layui-col-lg4">
							<label class="layui-form-label">Vip套餐：</label>
							<div class="layui-input-block">
								<select class="layui-select" name="vip_type">
									<option value="">请选择vip套餐</option>
									{:createSelectHtml($vip_list,$cur['vip_type'])}
								</select>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">充值限制：</label>
							<div class="layui-input-block">
								<input type="text" name="pay_times" value="{$cur.pay_times}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">0代表不限制</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">状态：</label>
						<div class="layui-input-block">
							{:createRadioHtml($status,$cur['status']);}
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                	<input type="hidden" value="{$cur.id}" name="id" />
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a class="layui-btn layui-btn-primary" href="{:url('index')}">返回</a>
		                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/charge.docharge.js"></script>
{/block}
