{extend name="common@public/base"} 
{block name="title"}充值统计{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-col-space20">
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">直接充值</div>
				<div class="layui-card-body">
					<div class="layui-row">
						<div class="layui-col-md6">充值笔数：<font class="text-red">{$data.charge.count}笔</font></div>
						<div class="layui-col-md6">充值金额：<font class="text-red">¥{$data.charge.money}</font></div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">引导充值 【通过书籍引导充值】</div>
				<div class="layui-card-body">
					<div class="layui-row">
						<div class="layui-col-md6">充值笔数：<font class="text-red">{$data.guide.count}笔</font></div>
						<div class="layui-col-md6">充值金额：<font class="text-red">¥{$data.guide.money}</font></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">书籍引导充值明细</div>
			<div class="layui-card-body">
				 <table class="layui-hide" id="book-table" lay-filter="novel-table"></table>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/chart.charge.js"></script>
{/block}
