{extend name="common@public/base"} 
{block name="title"}新增限免小说{/block}
{block name="css"}
<style type="text/css">
.book_item{width:150px;height:206px;border:1px solid #ccc;border-radius:5px;position:relative;overflow:hidden;float:left;margin:8px;}
.book_item>span{position:absolute;right:2px;top:2px;background-color:red;color:#fff;font-size:12px;padding:0 6px;cursor:pointer;}
.book_item>img{width:100%;}
.book_item>p{position:absolute;bottom:0;left:0;height:30px;line-height:30px;width:100%;font-size:13px;color:#fff;background:rgba(0,0,0,0.5);overflow:hidden;text-overflow:ellipsis;white-space: nowrap;padding-left:2px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				新增限免书籍
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">开始日期：</label>
							<div class="layui-input-block">
								<input type="text" name="start_date" id="start_date" lay-verify="required" class="layui-input" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">结束日期：</label>
							<div class="layui-input-block">
								<input type="text" name="end_date" id="end_date" lay-verify="required" class="layui-input" readonly="readonly"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-block">
							<div class="layui-card">
								<div class="layui-card-header"><a class="layui-btn layui-btn-primary layui-btn-sm" id="chooseBook">选择书籍</a></div>
								<div class="layui-card-body" id="book_box"></div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<a class="layui-btn" lay-submit lay-filter="dosubmit">保存</a>
		                  	<a type="reset" class="layui-btn layui-btn-primary" href="{:url('index')}?category={$category}">返回</a>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">var $category = '{$category}';</script>
<script type="text/javascript" src="__ADMIN__/free.addfree.js?v=11111"></script>
{/block}
