{extend name="common@public/base"}
{block name="jsValue"}
<script type="text/javascript">
var $dataUrl = '{:my_url("getUserChartData")}';
</script>
{/block}
{block name="body"}
  <div class="layui-fluid">
  	<div class="layui-card">
  		<div class="layui-card-body">
  			<fieldset class="layui-elem-field">
			  <legend>温馨提示</legend>
			  <div class="layui-field-box">
			    今日数据约有1-2小时延迟
			  </div>
			</fieldset>
  		</div>
  	</div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            累计充值
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">{$number.order.num}</p>
            <p>
              今日充值 
              <span class="layuiadmin-span-color">{$number.order.sub} <i class="layui-inline layui-icon layui-icon-rmb"></i></span>
            </p>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            累计收入
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">{$number.income.num}</p>
            <p>
              今日收入 
              <span class="layuiadmin-span-color">{$number.income.sub} <i class="layui-inline layui-icon layui-icon-rmb"></i></span>
            </p>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            累计提现
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">{$number.withdraw.num}</p>
            <p>
              待支付
              <span class="layuiadmin-span-color">{$number.withdraw.sub} <i class="layui-inline layui-icon layui-icon-rmb"></i></span>
            </p>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            累计用户
          </div>
          <div class="layui-card-body layuiadmin-card-list">

            <p class="layuiadmin-big-font">{$number.member.num}</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="layui-col-sm8">
        <div class="layui-card">
          <div class="layui-card-header">
            近30天用户增长趋势
          </div>
          <div class="layui-card-body">
            <div class="layui-row">
              <div class="layui-col-sm12">
                  <div  style="width:100%;height:400px;" id="memberCharts">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-col-sm4">
         <div class="layui-card">
           <div class="layui-card-header">充值用户排行榜（前10名）</div>
           <div class="layui-card-body">
             <table class="layui-table layuiadmin-page-table" lay-skin="line">
               <thead>
                 <tr>
                   <th>序号</th>
                   <th>用户名</th>
                   <th>充值金额</th>
                 </tr> 
               </thead>
               <tbody>
               	{empty name="charge_rank"}
               		<tr>
               			<td colspan="4" align="center">暂无数据</td>
               		</tr>
               	{else /}
               		{volist name="charge_rank" id="v" key="k"}
                		<tr>
                			<td>
                			{switch name="k"}
                				{case value="1"}<span class="first">{$k}</span>{/case}
                				{case value="1"}<span class="second">{$k}</span>{/case}
                				{case value="1"}<span class="third">{$k}</span>{/case}
                				{default /}
                				{$k}
                			{/switch}
                     </td>
                     <td>{$v.nickname}</td>
                     <td>¥{$v.money}</td>
                   </tr>
                	{/volist}
               	{/empty}
               </tbody>
             </table>
           </div>
        </div>
      </div>
      </div>
    </div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/plugins/echarts/echarts-all.js"></script>
<script type="text/javascript" src="__AGENT__/index.console.js"></script>
{/block}