{extend name="common@public/base"} 
{block name="title"}修改密码{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				修改登录密码
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">原密码：</label>
							<div class="layui-input-block">
								<input type="password" name="old_pwd" class="layui-input" lay-verify="required" placeholder="请输入原密码"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">新密码：</label>
							<div class="layui-input-block">
								<input type="password" name="new_pwd" class="layui-input" lay-verify="required" placeholder="请输入新密码"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg3">
							<label class="layui-form-label">新密码：</label>
							<div class="layui-input-block">
								<input type="password" name="re_pwd" class="layui-input" lay-verify="required" placeholder="请再次输入新密码"/>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
