{extend name="common@public/base"} 
{block name="title"}查看公告{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="book-main">
					{$content|raw}
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
