{extend name="common@public/base"}
{block name="title"}小说首页logo{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">
                小说首页logo
            </div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-form-item">
                            <label class="layui-form-label">小说首页logo：</label>
                            <div class="layui-input-block">
                                <div class="upload-box">
                                    <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="doUpload">上传图片</a>
                                    <div class="layui-block">
                                        <div style="max-height:50px;padding:10px 0;">
                                            <img src="{$cur.logo}" style="max-height:50px;" id="showImg" />
                                            <input type="hidden" id="hideVal" name="logo" value="{$cur.logo}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/system.website.js"></script>
{/block}
