{extend name="common@public/base"}
{block name="title"}小说管理{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-form layui-card-header layuiadmin-card-header-auto">
	        <div class="layui-form-item" style="margin-bottom:0;">
	          <div class="layui-inline">
	          	<label class="layui-form-label">书籍名称</label>
	            <div class="layui-input-inline">
	              <input type="text" name="keyword" value="{$keyword}" placeholder="请输入" autocomplete="off" class="layui-input">
	            </div>
	          </div>
	          <div class="layui-inline">
	            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
	          </div>
	        </div>
	        <div class="layui-form-item search-block" data-name="free_type" style="margin-bottom:0;">
	        	<label class="layui-form-label">书籍属性</label>
	            <div class="layui-input-block" style="margin-left:80px;">
	            	<a class="layui-btn layui-btn-sm layui-btn-normal search-item" data-val="">全部</a> 	
	            	<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="1">免费</a> 	
	            	<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="2">收费</a> 	
	            </div>
	        </div>
	        <div class="layui-form-item search-block" data-name="over_type" style="margin-bottom:0;">
	        	<label class="layui-form-label">更新状态</label>
	            <div class="layui-input-block" style="margin-left:80px;">
	            	<a class="layui-btn layui-btn-sm layui-btn-normal search-item" data-val="">全部</a> 	
	            	<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="1">连载中</a> 	
	            	<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="2">已完结</a> 	
	            </div>
	        </div>
	        <div class="layui-form-item search-block" data-name="status" style="margin-bottom:0;">
	        	<label class="layui-form-label">书籍状态</label>
	            <div class="layui-input-block" style="margin-left:80px;">
	            	<a class="layui-btn layui-btn-sm layui-btn-normal search-item" data-val="">全部</a> 	
	            	<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="1">正常</a> 	
	            	<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="2">下架可阅</a> 	
	            	<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="3">下架</a> 	
	            </div>
	        </div>
	        <div class="layui-form-item search-block" data-name="category" style="margin-bottom:0;">
	          	<label class="layui-form-label">书籍分类</label>
	            <div class="layui-input-block" style="margin-left:80px;">
	            	<a class="layui-btn layui-btn-sm layui-btn-normal search-item" data-val="">全部</a> 	
	            	 {notempty name="category"}
		            	{volist name="category" id="cv"}
		            		<a class="layui-btn layui-btn-sm layui-btn-primary search-item" data-val="{$cv}">{$cv}</a> 	
	            	 	{/volist}
	            	 {/notempty}
	            </div>
	        </div>
	      </div>
          <div class="layui-card-body">
	          	<div class="layui-btn-container">
			       <a class="layui-btn layui-btn-sm" href="{:my_url('addBook')}">新增书籍</a>
			       <a class="layui-btn layui-btn-sm" id="refresh">更新缓存</a>
			    </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="{$js}"></script>
{/block}
