{extend name="common@public/base"} 
{block name="title"}更新收款信息{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-form">
		<div class="layui-card">
			<div class="layui-card-header">
				结算收款信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form-item">
					<label class="layui-form-label">开户人：</label>
					<div class="layui-input-block">
						<input type="text" name="bank_user" value="{$cur.bank_user}" class="layui-input" lay-verify="required" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">开户网点：</label>
					<div class="layui-input-block">
						<input type="text" name="bank_name" value="{$cur.bank_name}" class="layui-input" lay-verify="required"/>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">银行卡号：</label>
					<div class="layui-input-block">
						<input type="text" name="bank_no" value="{$cur.bank_no}" class="layui-input" lay-verify="required"/>
					</div>
				</div>
				<div class="layui-form-item layui-hide">
	                <div class="layui-input-block">
	                  	<a class="layui-btn" lay-submit lay-filter="dosubmit" id="dosubmit">保存</a>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript">
layui.use(['jquery','form'],function(){
	var $ = layui.jquery,
	form = layui.form;
});
</script>
{/block}
