{extend name="common@public/base"}
{block name="title"}网站板块管理{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">
                网站板块管理
            </div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-block">
                            {volist name="cur" id="v" key="k"}
                            <div class="layui-inline">
                                <input type="checkbox" name="{$v.key}" value="1" {eq name="v.is_on" value="1"}checked{/eq} title="{$v.name}"/>
                            </div>
                            {/volist}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-block">
                            <button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/system.block.js"></script>
{/block}
