{extend name="common@public/base"} 
{block name="title"}默认头像配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">默认头像：</label>
						<div class="layui-input-block">
							<div class="image-div">
								<div class="image-box size-100x100" onclick="javascript:cropImage('上传用户默认头像','200x200',this);">
									{empty name="cur.headimg"}
										<img src="/static/common/images/qrcode.png" class="showimg"/>
									{else /}
										<img src="{$cur.headimg}" class="showimg"/>
									{/empty}
									<input type="hidden" class="hideval" name="headimg" value="{$cur.headimg}"/>
								</div>
								<div class="image-remark">点击可更换图片</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
