{extend name="common@public/base"} 
{block name="title"}更新支付配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				官方微信支付配置【<a href="https://pay.weixin.qq.com" target="_blank">前往获取配置</a>】
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">开启状态：</label>
						<div class="layui-input-block">
							{:createRadioHtml($is_on,$cur['is_on'])}
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">显示名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" lay-verify="required" maxlength="5" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">显示描述：</label>
							<div class="layui-input-block">
								<input type="text" name="summary" value="{$cur.summary}" maxlength="15" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">APPID：</label>
							<div class="layui-input-block">
								<input type="text" name="APPID" value="{$cur.APPID}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">商户ID：</label>
							<div class="layui-input-block">
								<input type="text" name="MCHID" value="{$cur.MCHID}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg5">
							<label class="layui-form-label">商户KEY：</label>
							<div class="layui-input-block">
								<input type="text" name="APIKEY" value="{$cur.APIKEY}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
