{extend name="common@public/base"} 
{block name="title"}站点基础信息{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				站点基础信息 
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg3">
						<label class="layui-form-label">漫画logo：</label>
						<div class="layui-input-block">
							<div class="upload-box">
								<a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="doUpload">上传图片</a>
								<div class="layui-block">
									<div style="max-height:50px;padding:10px 0;">
										<img src="{$cur.logo}" style="max-height:50px;" id="showImg" />
										<input type="hidden" id="hideVal" name="logo" value="{$cur.logo}"/>
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="layui-col-lg3">
						<label class="layui-form-label">小说logo：</label>
						<div class="layui-input-block">
							<div class="upload-box">
								<a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="doUpload2">上传图片</a>
								<div class="layui-block">
									<div style="max-height:50px;padding:10px 0;">
										<img src="{$cur.novel_logo}" style="max-height:50px;" id="showImg2" />
										<input type="hidden" id="hideVal2" name="novel_logo" value="{$cur.novel_logo}"/>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">站点名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">绑定域名：</label>
							<div class="layui-input-block">
								<input type="text" name="url" value="{$cur.url}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">绑定赠送书币：</label>
							<div class="layui-input-block">
								<input type="text" name="bind_money" value="{$cur.bind_money}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">用户绑定手机赠送书币</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">登录赠送书币：</label>
							<div class="layui-input-block">
								<input type="text" name="login_money" value="{$cur.login_money}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">用户每日首次登录赠送书币</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">邀请赠送书币：</label>
							<div class="layui-input-block">
								<input type="text" name="invite_money" value="{$cur.invite_money}" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-mid layui-word-aux">用户分享链接或邀请码，其他用户通过输入邀请码或链接注册时赠送奖励</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">H5默认支付方式：</label>
						<div class="layui-input-block">
							{:createRadioHtml($pay_type,$cur['pay_type'])}
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="__ADMIN__/system.website.js?v=1"></script>
{/block}
