{extend name="common@public/base"} 
{block name="title"}更新支付配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				{$title}
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">开启状态：</label>
						<div class="layui-input-block">
							{:createRadioHtml($is_on,$cur['is_on'])}
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">显示名称：</label>
							<div class="layui-input-block">
								<input type="text" name="name" value="{$cur.name}" maxlength="15" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">显示描述：</label>
							<div class="layui-input-block">
								<input type="text" name="summary" value="{$cur.summary}" maxlength="15" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">商户号：</label>
							<div class="layui-input-block">
								<input type="text" name="mchid" value="{$cur.mchid}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">HASH_KEY：</label>
							<div class="layui-input-block">
								<input type="text" name="HASH_KEY" value="{$cur.HASH_KEY}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">TOKEN：</label>
							<div class="layui-input-block">
								<input type="text" name="TOKEN" value="{$cur.TOKEN}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">ENC_KEY</label>
							<div class="layui-input-block">
								<input type="text" name="ENC_KEY" value="{$cur.ENC_KEY}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">ENC_IV</label>
							<div class="layui-input-block">
								<input type="text" name="ENC_IV" value="{$cur.ENC_IV}" lay-verify="required" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
