{extend name="common@public/base"} 
{block name="title"}联系方式配置{/block} 
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				联系方式配置
			</div>
			<div class="layui-card-body">
				<div class="layui-form">
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">邮箱号：</label>
							<div class="layui-input-block">
								<input type="text" name="email" value="{$cur.email}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">Telegram：</label>
							<div class="layui-input-block">
								<input type="text" name="weibo" value="{$cur.weibo}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">line号：</label>
							<div class="layui-input-block">
								<input type="text" name="line" value="{$cur.line}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">qq号：</label>
							<div class="layui-input-block">
								<input type="text" name="qq" value="{$cur.qq}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-col-lg4">
							<label class="layui-form-label">微信号：</label>
							<div class="layui-input-block">
								<input type="text" name="weixin" value="{$cur.weixin}" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
		                <div class="layui-input-block">
		                  	<button class="layui-btn" lay-submit lay-filter="dosubmit">保存配置</button>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/update.js"></script>
{/block}
