{extend name="common@public/base"} 
{block name="title"}上传裁剪图片{/block} 
{block name="css"}
<link rel="stylesheet" href="/static/plugins/cropper/cropper.min.css" />
<style type="text/css">
.crop-div{width:100%;height:400px;border:2px dashed #ccc;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC") repeat;}
</style>
{/block} 
{block name="jsValue"}
<script type="text/javascript" src="/static/plugins/cropper/cropper.min.js"></script>
<script type="text/javascript">
var $crop_width = parseInt("{$config.width}");
var $crop_height = parseInt("{$config.height}");
var $crop_ratio = parseFloat("{$config.ratio}");
</script>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-card-header">
				<a class="layui-btn layui-btn-sm layui-btn-primary" id="doChoose">选择图片</a>
			</div>
			<div class="layui-card-body">
				<div class="crop-div">
					<img id="crop_image" src="" />
				</div>
			</div>
		</div>
	</div>
</div>
{/block} 
{block name="footJs"}
<script type="text/javascript" src="/static/common/js/crop.js"></script>
{/block}
