{extend name="common@public/base"}
{block name="title"}结算管理{/block}
{block name="css"}
<style type="text/css">
.block-text{height:60px;line-height:60px;font-size:2.5em;color:#337ab7;}
.block-item{min-height:168px;}
.layui-table-cell {height:auto;line-height: 28px;}
</style>
{/block}
{block name="body"}
<div class="layui-fluid">
	<div class="layui-row layui-col-space20">
		<div class="layui-col-md4">
			<div class="layui-card block-item">
				<div class="layui-card-header">累计提现</div>
				<div class="layui-card-body">
					<div class="block-text">
						¥{$cur.money}
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md4">
			<div class="layui-card block-item">
				<div class="layui-card-header">已支付</div>
				<div class="layui-card-body">
					<div class="block-text">
						¥{$cur.done}
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md4">
			<div class="layui-card block-item">
				<div class="layui-card-header">待支付</div>
				<div class="layui-card-body">
					<div class="block-text">
						¥{$cur.wait}
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
          	<div class="layui-tab">
				  <ul class="layui-tab-title">
				    <li {eq name="status" value="0"}class="layui-this"{/eq}><a href="{:my_url('index',['status'=>0])}">待支付</a></li>
				    <li {eq name="status" value="1"}class="layui-this"{/eq}><a href="{:my_url('index',['status'=>1])}">已支付</a></li>
				  </ul>
			</div>
			<div style="height:20px;"></div>
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
		        <div class="layui-form-item">
		          <div class="layui-inline">
		          	<label class="layui-form-label">账单日期</label>
		            <div class="layui-input-inline">
		              <input type="text" name="between_time" id="between_time" readonly="readonly" class="layui-input">
		            </div>
		          </div>
		          <div class="layui-inline">
		            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="table-search"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查找</button>
		            {eq name="status" value="0"}
		            	<button class="layui-btn layuiadmin-btn-admin layui-btn-danger" id="doCheckLine">批量支付</button>
		            	<button class="layui-btn layuiadmin-btn-admin layui-btn-primary" id="exportData">导出EXCEL</button>
		            {/eq}
		          </div>
		        </div>
		      </div>
            <table class="layui-hide" id="table-block" lay-filter="table-block"></table>
          </div>
        </div>
      </div>
    </div>
</div>
{/block}
{block name="footJs"}
<script type="text/javascript" src="{$js}"></script>
{/block}