$color-theme:#E91E63;

.red_color_themes {
    color: $color-theme !important;
}

.red_border_color_themes {
    border-color: $color-theme !important;
}

.red_bgcolor_themes {
    background-color: $color-theme !important;
}

.chooseList_red_color_themes {
    background-color: $color-theme !important;
    color: white !important;
}


//开关
#checke {
    position: relative;
    -webkit-appearance: none;
    width: 0.9467rem;
    height: 0.3467rem;
    background: rgba(175, 175, 175, 1);
    border-radius: 30px;
    outline: none;
}

#checke:before {
    position: absolute;
    top: -0.12rem;
    left: 0;
    content: '';
    width: 0.5867rem;
    height: 0.5867rem;
    border-radius: 50%;
    background: $color-theme;
    box-shadow: 0px 5px 10px 0px rgba(162, 162, 162, 1);
    transition: all 0.2s linear;
}

#checke:checked {
    background: #FAA19B;
}

#checke:checked:before {
    left: 0.5rem;
    transition: all 0.2s linear;
}

.choose_recharge:checked+.choose_recharge_item {
    border: 2px solid $color-theme;
    background-color: #FAA19B;
}


.choose_recharge_type:checked+.choose_type_item {
    .recharge_type_circular {
        border-color: $color-theme;
        position: relative;

        &:after {
            content: "";
            width: 0.32rem;
            height: 0.32rem;
            border-radius: 50%;
            position: absolute;
            top: .08rem;
            left: .08rem;
            background-color: $color-theme;
        }
    }
}

.nav_border {
    border-bottom: 0.0533rem solid $color-theme;
}

.article_list_active {
    background-color: rgba(244, 244, 244, 1);
    color: $color-theme;
}

@keyframes scale_small {
    from {
        width: 100%;
        height: 1.7333rem;
        bottom: -2px;
        font-size: 0.4267rem;
        color: #BFC0C0;
        line-height: 0.9867rem;
        padding-top: 0.7466rem;
    }

    to {
        width: 80%;
        height: 0.72rem;
        top: 0px;
        font-size: 0.33rem;
        color: $color-theme;
        line-height: 0.72rem;
        padding-top: 0;
    }
}

@keyframes scale_enlarge {
    from {
        width: 80%;
        height: 0.72rem;
        top: 0px;
        font-size: 0.33rem;
        color: $color-theme;
        line-height: 0.72rem;
        padding-top: 0;
    }

    to {
        width: 100%;
        height: 1.7333rem;
        bottom: -2px;
        font-size: 0.4267rem;
        color: #BFC0C0;
        line-height: 0.9867rem;
        padding-top: 0.7466rem;
    }
}
.common_title {

    &:after {
        content: "";
        background: $color-theme;
    }
    .more {
        color: $color-theme;
    }
}

.banner_theme_bg{
    background-image: url(../images/banner_pink.png);
}