body {
    margin-bottom: 1.3067rem !important;
}

.footer {
    width: 10rem;
    height: 1.44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -5rem;
    background-color: #fff;
    height: 1.3067rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    z-index: 9;

    .footer_item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: nonde;

        img {
            width: 0.8rem;
            height: 0.8rem;
        }

        

    }
}

.footer_font {
    font-size: 0.2933rem;
    color: #B2B1B5;
}

.hide {
    display: none;
}