@import './mixin.scss';

body {
    // padding-top: 1.2rem;
}

.header {
    width: 10rem;
    height: 1.2rem;
    background-color: white;
    // position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.2667rem;
    position: fixed;
    left: 50%;
    margin-left: -5rem;
    top: 0;
    z-index: 999;

    &:after {
        @include border(bottom, rgba(238, 238, 238, 1));
    }

    .header_index {
        width: 0.8rem;
        height: 0.8rem;
    }

    img {
        width: 0.8rem;
        height: 0.8rem;
    }

    .header_title {
        flex: 1;
        font-size: 15px;
        color: rgba(51, 51, 51, 1);
        text-align: center;
    }


}