@mixin icon($font, $color) {
    width: 2rem;
    height: .48rem;
    background-color: $color;
    position: absolute;
    right: -.7rem;
    top: .12rem;
    font-size: 0.2933rem;
    text-align: center;
    line-height: .48rem;
    color: white;
    transform: rotate(45deg);

    &:after {
        content: $font;
    }
}

@mixin status($font, $url) {
    width: 0.9067rem;
    height: 0.48rem;
    position: absolute;
    left: 0;
    bottom: 0.5607rem;
    color: white;
    font-size: 0.2933rem;
    line-height: 0.48rem;
    text-indent: 0.0667rem;
    background-image: url($url);
    background-size: 100% 100%;

    &:after {
        content: $font;
    }
}

// 独家
.icon_only {
    @include icon("獨家", #C968FD)
}

// 新作
.icon_new {
    @include icon("新作", #53E0AC)
}

// 限免
.icon_limitedexemption {
    @include icon("限免", #FF0006)
}


// 首充
.icon_first_re {
    @include icon("首充", #FF0006)
}



//完结
.status_end {
    @include status("完结","http://www.changjinman.cn/static/resource/index/images/end.png")
}

//连载
.status_serialization {
    @include status("连载","http://www.changjinman.cn/static/resource/index/images/serialization.png")
}

// 全屏图 完结连载 矮一点  加这个class
.status_icon_short {
    bottom: 0.2267rem;
}