.item_3 {
    width: 3.04rem;
    overflow: hidden;
    float: left;
    margin-right: 0.16rem;
    margin-bottom: 0.36rem;
    position: relative;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-child(1) {
        .tips {
            background-color: #FF0006;
        }
    }

    &:nth-child(2) {
        .tips {
            background-color: #FC9902;
        }
    }

    &:nth-child(3) {
        .tips {
            background-color: #1E97F5;
        }
    }

    .tips {
        width: 2rem;
        height: .48rem;
        position: absolute;
        right: -.7rem;
        top: .12rem;
        font-size: 0.2933rem;
        text-align: center;
        line-height: .48rem;
        color: white;
        transform: rotate(45deg)
    }

    .img_box {
        width: 3.04rem;
        height: 4.3467rem;
        position: relative;

        .cover {
            width: 100%;
            height: 100%;
        }

        .status {
            width: 0.9067rem;
            height: 0.48rem;
            position: absolute;
            left: 0;
            bottom: 0.5067rem;
            color: white;
            font-size: 0.2933rem;
            line-height: 0.48rem;
            text-indent: 0.0667rem;

            span {
                display: block;
                width: 0.9067rem;
                height: 0.48rem;
                position: absolute;
                left: 0;
                top: 0;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    h4 {
        width: 100%;
        height: 0.7467rem;
        line-height: 0.7467rem;
        font-size: 0.3467rem;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .info {
        width: 100%;
        font-size: 0.2667rem;
        display: flex;
        color: #999;
    
        .start {
            width: 1.3067rem;
            display: flex;
            align-items: center;
        }
    
        .read {
            flex: 1;
            display: flex;
            align-items: center;
        }
    
        img {
            width: 0.32rem;
            height: 0.32rem;
            margin-right: 0.0667rem;
        }
    }
}
