.item_4 {
    width: 2.1333rem;
    margin-right: 0.16rem;
    margin-bottom: 0.36rem;
    position: relative;

    &:before {
        content: "";
        width: 2.1333rem;
        height: 2.9733rem;
        background-color: rgba(219, 219, 219, 1);
        border-radius: 0.08rem 0.08rem 0px 0.08rem;
        position: absolute;
        left: 0.08rem;
        top: 0.08rem;
    }


    .img_box {
        width: 2.1333rem;
        height: 2.9733rem;
        border-radius: 0.08rem 0.08rem 0px 0.08rem;
        position: relative;



        .cover {
            width: 100%;
            height: 100%;
        }

        .status {
            width: 0.9067rem;
            height: 0.48rem;
            position: absolute;
            left: 0;
            bottom: 0.5067rem;
            color: white;
            font-size: 0.2933rem;
            line-height: 0.48rem;
            text-indent: 0.0667rem;

            span {
                display: block;
                width: 0.9067rem;
                height: 0.48rem;
                position: absolute;
                left: 0;
                top: 0;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    h4 {
        width: 100%;
        height: 0.7467rem;
        line-height: 0.7467rem;
        font-size: 0.32rem;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .info {
        width: 100%;
        font-size: 0.2667rem;
        display: flex;
        color: #999;
        justify-content: center;

        .start {
            // width: 1.3067rem;
            display: flex;
            align-items: center;
        }


        img {
            width: 0.32rem;
            height: 0.32rem;
            margin-right: 0.0667rem;
        }
    }
}