@import './mixin.scss';

.item_1_line {
    padding: 0 0.2667rem;
    margin: 0.2667rem 0;
    position: relative;
    &:before {
        @include border(bottom, #E9E6EA);
    }
}

.item_1 {
    width: 100%;
    border-radius: 0.16rem;
    overflow: hidden;
    .img_box {
        width: 100%;
        height: 3.6533rem;
        position: relative;
        overflow: hidden;

        .cover {
            width: 100%;
            height: 100%;
        }

        h4 {
            width: 8rem;
            height: 0.3467rem;
            font-size: 0.3467rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            line-height: 0.3467rem;
            position: absolute;
            right: 0.32rem;
            top: 2.5333rem;
            text-align: right;
            overflow: hidden;
            text-emphasis: none;
            white-space: nowrap;
        }

        .info {
            width: 100%;
            font-size: 0.2667rem;
            color: white;
            position: absolute;
            bottom: 0.32rem;
            right: 0.32rem;

            .start {
                display: flex;
                align-items: center;
                float: right;
                margin-right: 0.32rem;
            }

            .read {
                flex: 1;
                display: flex;
                align-items: center;
                float: right;
            }

            img {
                width: 0.32rem;
                height: 0.32rem;
                margin-right: 0.0667rem;
            }
        }

    }

    .introduce {
        width: 100%;
        font-size: 0.32rem;
        line-height: 0.5rem;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        padding: .25rem 0;
    }
}