@import './mixin.scss';

.item_1_bar_line {
    padding: 0.32rem 0.2667rem !important;

    &:after {
        @include border(bottom, #E9E6EA);
    }
}

.item_1_bar {
    width: 100%;
    overflow: hidden;
    padding: 0.1333rem 0.2667rem;
    position: relative;
    display: flex;
    background-color: white;




    .img_box {
        width: 2.24rem;
        height: 3.12rem;
        border-radius: 0.08rem 0.08rem 0px 0.08rem;
        overflow: hidden;
        position: relative;
        z-index: 1;


        .cover {
            width: 2.24rem;
            height: 3.12rem;
        }
    }

    .right {
        flex: 1;
        padding-left: 0.3333rem;
        position: relative;

        &:before {
            content: "";
            width: 2.24rem;
            height: 3.12rem;
            background-color: rgba(219, 219, 219, 1);
            border-radius: 0.08rem 0.08rem 0px 0.08rem;
            position: absolute;
            left: -2.16rem;
            top: 0.08rem;
            // z-index: -1;
        }

        .title {
            width: 5.8667rem ;
            font-size: 0.3467rem;
            line-height: 0.56rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .content {
            height: 0.96rem;
            font-size: 0.32rem;
            color: #999;
            line-height: 0.48rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin: 0.2667rem 0 .7rem 0;
            text-align: justify
        }

        .info {
            font-size: 0.2933rem;
            color: rgba(153, 153, 153, 1);
            line-height: 0.48rem;
            display: flex;

            span {
                flex: 1;
            }

            .start {
                display: flex;
                align-items: center;
                float: right;

            }

            .read {
                display: flex;
                align-items: center;
                float: right;
                padding-right: 0.4rem;
            }

            img {
                width: 0.32rem;
                height: 0.32rem;
                margin-right: 0.0667rem;
            }

        }
    }


}

.check_title {
    width: 100%;
    display: flex;
}