@import './mixin.scss';


.my {
    width: 10rem;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding-left: 3.1467rem;

    .not_login {
        padding-top: 1.2rem;
        // display: none;

        .status_font {
            font-size: 0.3733rem;
            color: #999;
            text-align: center;
        }
    }

    .login {
        padding-top: 1.2rem;
        // display: none;

        .info {
            width: 100%;
            overflow: hidden;
            display: flex;

            .logo {
                width: 1.0667rem;
                height: 1.0667rem;
                border-radius: 50%;
            }

            .right {
                flex: 1;
                padding-left: 0.4667rem;
                line-height: 1;

                .phone {
                    font-size: 0.3733rem;
                    font-weight: bold;
                }

                .status {
                    font-size: 0.2933rem;
                    color: #999;
                    margin: 0.1333rem 0 0.1067rem 0;
                }

                .surplus {
                    font-size: 0.32rem;
                }
            }
        }
    }

    .btn {
        display: block;
        width: 6.0533rem;
        height: 0.7733rem;
        border-radius: 0.3867rem;
        margin: 0.4rem auto;
        font-size: 0.3467rem;
        color: white;
        text-align: center;
        line-height: 0.7733rem;
    }

    .main {
        width: 100%;
        overflow: hidden;
        position: relative;

        &:after {
            @include border(top, #E9E6EA);
        }

        &:before {
            @include border(bottom, #E9E6EA);
        }

        li {
            width: 100%;
            height: 1.2533rem;
            padding: 0 0.4rem 0 0.2667rem;
            position: relative;

            a {
                width: 100%;
                height: 1.2533rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .my_icon {
                    width: 0.8rem;
                    height: 0.8rem;
                    margin-right: 0.8667rem;
                }

                p {
                    flex: 1;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    padding-left: 0 0.4rem;

                    &:after {
                        @include border(bottom, #E9E6EA);
                    }

                    span {
                        flex: 1;
                        font-size: 0.3733rem;
                        color: #333;
                    }

                    img {
                        width: 0.42rem;
                        height: 0.42rem;
                    }
                }
            }

        }
    }
}