.header {
    width: 10rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    transition: top .2s ease 0s;
}

.search_input {
    flex: 1;
    padding: 0 0.2667rem;
    font-size: 0.4267rem;
    color: rgba(51, 51, 51, 1);
}

.nav_white_shadow {
    box-shadow: 0px 3px 6px 0px rgba(196, 196, 196, 1);
}


.nav {
    width: 10rem;
    height: 1.2rem;
    display: flex;
    align-items: center;

    .nav_title {
        flex: 1;
        height: 1.2rem;
        line-height: 1.2rem;
        padding: 0 0.2667rem;
        font-size: 0.4267rem;
        color: #EEEEEE;
    }

    .nav_read_title {
        padding-left: 0.4rem;
        flex: 1;
        height: 1.2rem;
        color: #EEEEEE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .nav_read_title_name {
            width: 7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.4267rem;
        }

        .nav_read_title_name_number {
            font-size: 0.32rem;
            margin-top: 0.1067rem;
            width: 7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .nav_icon {
        width: 0.8rem;
        height: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
        }

        span{
            width: .15rem;
            height: .15rem;
            background-color: white;
            border-radius: 50%;
            margin: .05rem;
        }
    }
}

.nav_type_list {
    width: 10rem;
    height: 1.1467rem;
    box-shadow: 0px 3px 6px 0px rgba(196, 196, 196, 1);
    display: flex;
    position: relative;

    .date {
        flex: 1;
        height: 1.1467rem;
        font-size: 0.3733rem;
        color: #FFD5D2;
        text-align: center;
        line-height: 1.1467rem;
    }

    .active {
        color: #FFFFFF;
    }
}

#line {
    width: 2.5rem;
    height: 0.0533rem;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: left  .2s  ease  0s;
}

#line_today {
    width: 1.4133rem;
    height: 0.0533rem;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: left  .2s  ease  0s;
}