.small_popup {
    width: 10rem;
    height: 1.1467rem;
    padding: 0 0.4533rem;
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    left: 50%;
    margin-left: -5rem;
    top: 0;
    z-index: 99999;

    .top_logo {
        width: 0.8rem;
        height: 0.8rem;
    }

    .center {
        height: 0.8rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 400;
        padding: 0.0667rem 0.32rem;;
    }

    .top_btn{
        width: auto;
        height: 0.8rem;
        padding: 0 0.2667rem;
        font-size: 0.3467rem;
        color: #fff;
        line-height: 0.8rem;
        text-align: center;
        border-radius: 0.4rem;
        margin: 0 0.5067rem 0 0.2667rem;
    }

    .delete{
        width: 0.2667rem;
        height: 0.2667rem;
    }
}

.add_popup{
    width: 10rem;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    left: 50%;
    margin-left: -5rem;
    top: 0;
    z-index: 999;
    .add_popup_main{
        width: 9.0667rem;
        height: 2.04rem;
        position: absolute;
        left: 0.4667rem;
        bottom: .2rem;
        display: flex;
        align-items: center;
        // background-image: url(../images/add_popup_bg.png);
        // background-image: url(../images/banner_blue.png);
        background-size: 100% 100%;
        padding-bottom: 20px;
        .top_logo{
            width: 0.8rem;
            height: 0.8rem;
            margin: 0 0.2667rem 0 0.4rem;
        }
        p{
            font-size: 0.3733rem;
            color: #333;
        }
        .share{
            width: 0.7467rem;
            height: 0.7467rem;
            margin-bottom: 0.3333rem;
        }
    }
}