

// 动画
.ripple {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #333 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .3s, opacity .5s;
        z-index: 9999;
    }

    &:active:after {
        transform: scale(0, 0);
        opacity: .2;
        transition: 0s;
    }
}

//广告
.adverb {
    display: block;
    width: 10rem;
    padding: 0.1867rem 0;

    img {
        display: block;
        width: 100%;
    }
}

// 动画
.scaleBoxto1 {
    animation: scaleBoxto1 .1s;
}

.scaleBoxto0 {
    animation: scaleBoxto0 .1s;
}

@keyframes scaleBoxto1 {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleBoxto0 {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(.1);
        opacity: 0;
    }
}
