<template>
  <div>
    <a href="javascript:history.back(-1)" class="back ripple">
      <img src="../../assets/images/login_back.png" />
    </a>

    <ul class="list" v-if="userInfo">
      <li>
        <!-- <img class="icon" src="../../assets/images/login_user.png" /> -->
        <p>现用账户</p>
        <div class="common_input_box">
          <!-- <input class="common_input" id="user1" type="text" v-model="userInfo.username" /> -->
          <p class="show" :class="{scale_enlarge: false}" for="user1">{{userInfo.username}}</p>
        </div>
      </li>
      <li>
        <!-- <img class="icon" src="../../assets/images/login_user.png" />       -->
        <p>新账户</p>
        <div class="common_input_box">
          <input
            class="common_input"
            id="user"
            type="text"
            placeholder="輸入用戶名"
            @focus="nameIsFocus = true"
            @blur="handleNameBlur"
            v-model="name"
          />
          <label
            :class="{scale_enlarge: !nameIsFocus, scale_small:nameIsFocus}"
            for="user"
          >手机号或者qq号更好记忆哦</label>
        </div>
      </li>
      <li>
        <!-- <img class="icon" src="../../assets/images/login_pwd.png" /> -->
        <p>密码</p>
        <div class="common_input_box">
          <input
            class="common_input"
            type="text"
            placeholder="輸入密碼"
            id="pwd"
            @focus="pwdIsFocus = true"
            @blur="handlePwdBlur"
            v-model="pwd"
          />
          <label :class="{scale_enlarge: !pwdIsFocus, scale_small:pwdIsFocus}" for="pwd">密碼</label>
        </div>
      </li>
    </ul>

    <button class="bg_btn red_bgcolor_themes ripple" @click="_login">切 换</button>

    <!-- <div class="lin_bar">
      <a href="./register.html">
        <img src="../../assets/images/login_register.png" />
        <span>注冊賬號</span>
      </a>
      <a href="./messageLogin.html">
        <img src="../../assets/images/login_phone.png" />
        <span>短信登錄</span>
      </a>
    </div>-->

    <!-- <div class="tips">
      <p class="title">
        <img class="left" src="../../assets/images/login_line_left.png" />
        溫馨提示:
        <img class="right" src="../../assets/images/login_line_right.png" />
      </p>
      <p class="main">· 該站點包含成人內容，若您是未成年人，請關閉並退出。</p>
      <p class="main">· 若因瀏覽器緩存失效或版本昇級等原因導致自動登錄狀態退出，重新登錄即可。</p>
      <p class="main">· 登錄後請立刻綁定手機號，避免遺忘賬戶密碼導致賬戶丟失。還可加送100書幣。</p>
      <p class="main">· 忘記用戶名和密碼？請第一時間聯系歪歪漫畫客服添加QQ:3007724288。</p>
      <p class="main">· 部分輸入法昇級等會導致無法輸入，建議您使用系統自帶的輸入法進行輸入。</p>
    </div>-->
  </div>
</template>
<script>
import { CutUser, GetUserInfo } from "@/api";
import local from "storejs";
export default {
  data() {
    return {
      nameIsFocus: false,
      name: "",
      pwdIsFocus: false,
      pwd: ""
    };
  },
  methods: {
    handleNameBlur() {
      if (this.name) {
        return;
      } else {
        this.nameIsFocus = false;
      }
    },
    handlePwdBlur() {
      if (this.pwd) {
        return;
      } else {
        this.pwdIsFocus = false;
      }
    },
    _login() {
      CutUser({
        username: this.userInfo.username,
        password: this.pwd,
        bind_username: this.name,
        token: local.get("token")
      }).then(res => {
        let token = res && res.token ? res.token : local.get("token");
        local.set("token", token);
        GetUserInfo({ token: token }).then(res => {
          this.$store.commit("userInfo", res);
          this.$store.commit("refreshUserInfo", false);
          this.$router.go(-1);
        });
      });
    }
  },
  computed: {
    // 在vuex 获取用户信息
    userInfo() {
      let userInfo = this.$store.state.userInfo;
      return userInfo;
    },
    // 刷新用户信息
    refreshUserInfo() {
      return this.$store.state.refreshUserInfo;
    }
  }
};
</script>
<style lang="scss" scoped>
.back {
  display: block;
  // width: 0.64rem;
  // height: 0.64rem;
  padding: 0.32rem 0.4rem;

  img {
    width: 0.64rem;
    height: 0.64rem;
    display: block;
    // width: 100%;
    // height: 100%;
  }
}

.logo {
  display: block;
  width: 3.0667rem;
  margin: 0 auto;
}

.list {
  display: block;
  width: 10rem;
  overflow: hidden;

  li {
    width: 10rem;
    overflow: hidden;
    padding: 0 0.4rem 0 0.64rem;
    display: flex;

    > p {
      font-size: 0.1867rem;
      color: #333;
      width: 2rem;
      margin-top: 0.8667rem;
      line-height: 0.64rem;
      text-align: right;
      padding-right: 0.3rem;
    }

    .icon {
      width: 0.64rem;
      height: 0.64rem;
      margin-right: 1.0667rem;
      margin-top: 0.8667rem;
    }

    .common_input_box {
      flex: 1;
      height: 1.7333rem;
      display: block;
      position: relative;
      border-bottom: 3px solid #e0e0e0;

      input {
        width: 100%;
        height: 0.9867rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        font-size: 0.4267rem;
      }

      .show {
        width: 100%;
        height: 1.7333rem;
        position: absolute;
        bottom: -2px;
        left: 0;
        z-index: 3;
        background-color: white;
        font-size: 0.4267rem;
        color: #bfc0c0;
        padding-top: 0.7466rem;
        line-height: 0.9867rem;
      }

      label {
        width: 100%;
        height: 1.7333rem;
        position: absolute;
        bottom: -2px;
        left: 0;
        z-index: 3;
        background-color: white;
        font-size: 0.4267rem;
        color: #bfc0c0;
        padding-top: 0.7466rem;
        line-height: 0.9867rem;
      }

      .get_code {
        width: 2.1333rem;
        height: 0.9867rem;
        line-height: 0.9867rem;
        position: absolute;
        z-index: 9;
        font-size: 0.3733rem;
        right: 0;
        bottom: 0;
        text-align: center;
      }
    }
  }
}

.bg_btn {
  display: block;
  width: 9.2rem;
  height: 0.96rem;
  border-radius: 0.48rem;
  color: white;
  margin: 1.0667rem auto;
  font-size: 0.3733rem;
}

.scale_small {
  animation: scale_small 0.5s forwards;
}

.scale_enlarge {
  animation: scale_enlarge 0.5s forwards;
}

.lin_bar {
  width: 100%;
  overflow: hidden;
  padding: 0 2.8533rem;
  display: flex;
  justify-content: space-between;
  a {
    width: 1.5rem;
    overflow: hidden;
    img {
      width: 1.28rem;
      display: block;
      margin-bottom: 0.2267rem;
    }
    span {
      font-size: 0.3467rem;
      text-align: center;
      color: #757575;
    }
  }
}

.tips {
  width: 10rem;
  overflow: hidden;
  padding: 0 0.4rem;
  color: #999;
  .title {
    font-size: 0.32rem;
    text-align: center;
    margin: 2rem auto 0.4rem auto;
    width: 2.8rem;
    position: relative;
    height: 0.4rem;
    line-height: 0.4rem;
    position: relative;
    img {
      width: 0.5333rem;
      height: 0.08rem;
      position: absolute;
    }

    .left {
      left: 0;
      top: 50%;
      margin-top: -0.04rem;
    }
    .right {
      right: 0;
      top: 50%;
      margin-top: -0.04rem;
    }
  }

  .main {
    font-size: 0.2933rem;
    line-height: 0.5733rem;
    margin-bottom: 0.1933rem;
  }
  .center {
    text-align: center;
  }
}

.btn {
  font-size: 0.4267rem;
  text-align: center;
  margin: 1.0667rem auto 0 auto;
}

.login_font1 {
  font-size: 0.3733rem;
  color: #999;
  text-align: center;
  margin-top: 1.2133rem;
  line-height: 0.5733rem;
}
</style>